.textbook-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.textbook-top-wrap > div {
  width: 49%;
  min-height: 394px;
  border: 1px solid #ddd;
  padding: 19px;
}

.textbook-slide-wrap {
}

.textbook-slide-wrap .slick-dots {
  position: absolute;
  right: 38px;
  bottom: 19px;
  width: 100%;
  text-align: right;
}

.textbook-slide-wrap .textbook-contents-wrap {
  display: flex;
  padding: 0 19px;
}

.textbook-slide-wrap .textbook-img {
  flex: none;
  width: 214px;
  height: 300px;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
}
.textbook-slide-wrap .textbook-img:after {
  display: block;
  content: "";
  width: 100%;
  padding-top: 140.355%;
}
.textbook-slide-wrap .textbook-img + a {
  display: block;
  width: 100%;
}

.textbook-slide-wrap .textbook-inner .textbook-flag {
  margin-bottom: 30px;
}
.textbook-slide-wrap .textbook-inner .book-info {
  display: block;
  margin-bottom: 8px;
  width: 100%;
  padding: 0;
}
.textbook-slide-wrap .textbook-inner .book-info:first-of-type:after {
  display: none;
}
.textbook-slide-wrap .textbook-inner .book-info .info-title {
  width: 45px;
  vertical-align: top;
}
.textbook-slide-wrap .textbook-inner .book-info .info-name {
  width: calc(100% - 52px);
  margin-left: 0;
  vertical-align: top;
}
.textbook-slide-wrap .textbook-inner .desc {
  max-height: 103px;
}

.textbook-app-wrap .appInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  line-height: 1.6;
}
.textbook-app-wrap .appInfo > .appLeft {
  width: 150px;
  flex-shrink: 0;
  margin-right: 20px;
}
.textbook-app-wrap .appInfo > .appLeft img.appLogo {
  border: 1px solid #ddd;
  border-radius: 22px;
  width: 100%;
}
.textbook-app-wrap .appInfo > .appLeft a {
  display: block;
  width: 100%;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 45px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8px;
}
.textbook-app-wrap .appInfo > .appLeft a.btn_googlePlay {
  background-image: url(../../imgs/page/textbook/btn_app_google_play.svg);
}
.textbook-app-wrap .appInfo > .appLeft a.btn_appStore {
  background-image: url(../../imgs/page/textbook/btn_app_store.svg);
}
.textbook-app-wrap .appInfo > .appRight {
  flex: 1;
  padding-top: 5px;
  color: #333;
}
.textbook-app-wrap .appInfo > .appRight h3 {
  font-size: 18px;
  font-weight: 700;
}
.textbook-app-wrap .appInfo > .appRight strong {
  font-size: 14px;
  font-weight: 500;
}
.textbook-app-wrap .appInfo > .appRight strong span {
  display: inline-flex;
  margin-left: 10px;
  color: #0038a9;
}
.textbook-app-wrap .appInfo > .appRight p {
  color: #999;
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}
.textbook-app-wrap .appInfo > .appRight .img-wrap {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.textbook-app-wrap .appInfo > .appRight .img-wrap > div {
  margin-right: 2%;
  width: 32%;
  height: 224px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}
.textbook-app-wrap .appInfo > .appRight .img-wrap > div:last-child {
  margin-right: 0;
}
.textbook-app-wrap .appInfo > .appRight .img-wrap > div img {
  width: 100%;
}

.textbook-banner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background: url(../../imgs/page/textbook/bg_textbook_banner.jpg) no-repeat
    center;
  text-align: center;
  font-size: 29px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.textbook-banner-wrap .textbook-banner {
  padding-top: 10px;
  padding-bottom: 18px;
  font-size: 15px;
}

.textbook-contents-view {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.textbook-contents-view .textbook-inner .textbook-flag .text {
  font-size: 14px;
}

.textbook-contents-view .textbook-inner .book-name {
  font-size: 20px;
  margin-bottom: 9px;
}

.textbook-contents-view .textbook-inner .desc {
  max-height: 76px;
  margin-top: 20px;
}

.textbook-contents-view .left-area {
  display: flex;
  align-items: center;
  margin-right: 2.5%;
}

.textbook-contents-view .left-area .textbook-img {
  width: 132px;
  height: 200px;
}

.textbook-contents-view .right-area .textbook-button {
  margin-bottom: -5px;
}

.textbook-contents-view .right-area .textbook-button > * {
  margin: 2.5px 0;
}
