.textbook-slide-wrap {
  max-height: 360px;
  border: 1px solid #ddd;
  padding: 19px;
}

.textbook-slide-wrap .slick-dots {
  position: absolute;
  left: 0;
  bottom: 19px;
  width: 100%;
}

.textbook-slide-wrap .textbook-contents-wrap {
  display: flex;
  padding: 0 19px;
}

.textbook-slide-wrap .textbook-img {
  flex: none;
  width: 228px;
  height: 320px;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
}

.textbook-slide-wrap .textbook-img:after {
  display: block;
  content: '';
  width: 100%;
  padding-top: 140.355%;
}

.textbook-banner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background: url(../../imgs/page/textbook/bg_textbook_banner.jpg) no-repeat center;
  text-align: center;
  font-size: 29px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.textbook-banner-wrap .textbook-banner {
  padding-top: 10px;
  padding-bottom: 18px;
  font-size: 15px;
}

.textbook-contents-view {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.textbook-contents-view .textbook-inner .textbook-flag .text {
  font-size: 14px;
}

.textbook-contents-view .textbook-inner .book-name {
  font-size: 20px;
  margin-bottom: 9px;
}

.textbook-contents-view .textbook-inner .desc {
  max-height: 76px;
  margin-top: 20px;
}

.textbook-contents-view .left-area {
  display: flex;
  align-items: center;
  margin-right: 2.5%;
}

.textbook-contents-view .left-area .textbook-img {
  width: 132px;
  height: 200px;
}

.textbook-contents-view .right-area .textbook-button {
  margin-bottom: -5px;
}

.textbook-contents-view .right-area .textbook-button > * {
  margin: 2.5px 0;
}
