.page-content-header {
  margin-bottom: 45px;
}

.textbook-contents-view .left-area {
  margin-right: 5.646%;
}

.textbook-contents-view .left-area .textbook-img {
  width: 220px;
  height: 330px;
}

.textbook-contents-view .right-area .textbook-inner .book-name {
  margin-bottom: 30px;
}

.textbook-contents-view .right-area .textbook-inner .book-info {
  display: block;
  padding: 0;
  font-size: 13px;
}

.textbook-contents-view .right-area .textbook-inner .book-info:not(:last-of-type) {
  margin-bottom: 11px;
}

.textbook-contents-view .right-area .textbook-inner .book-info .info-title {
  width: 56px;
}

.textbook-contents-view .right-area .textbook-button {
  margin: -10px 0;
}

.textbook-contents-view .right-area .textbook-button > * {
  margin: 10px 0;
}

.textbook-contents-view .right-area .textbook-keyword {
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ddd;
}

.textbook-contents-view .right-area .textbook-keyword .keyword-title {
  flex: 0 0 auto;
  width: 60px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
}

.textbook-contents-view .right-area .textbook-keyword .keyword-item {
  flex: 1 1 auto;
  margin: -5px;
}

.textbook-contents-view .right-area .textbook-keyword .keyword-item .item {
  display: inline-block;
  margin: 5px;
  padding: 9px 20px;
  border: 1px solid #ddd;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 300;
  color: #000;
}

.textbook-contents-view .right-area .textbook-keyword .keyword-item .item::before {
  content: "#";
  display: inline-block;
}
