.textbook-inner .textbook-flag {
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 43px;
}

.textbook-inner .textbook-flag .flag-img {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
}

.textbook-inner .textbook-flag .text {
  display: inline-block;
  margin-left: 7px;
  font-size: 16px;
  font-weight: 900;
  color: #0038a9;
}

.textbook-inner .book-name {
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 900;
}

.textbook-inner .book-name .type {
  margin-right: 10px;
  padding: 8px 20px;
  background-color: #f0f0f0;
  font-size: 13px;
  vertical-align: middle;
}

.textbook-inner .book-info {
  display: inline-block;
  padding-right: 21px;
  padding-left: 14px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.textbook-inner .book-info .info-title {
  display: inline-block;
}

.textbook-inner .book-info .info-name {
  display: inline-block;
  margin-left: 4px;
  font-weight: 300;
}

.textbook-inner .book-info:first-of-type {
  position: relative;
  padding-left: 0;
}

.textbook-inner .book-info:first-of-type:after {
  position: absolute;
  right: 0;
  top: 3px;
  display: inline-block;
  content: '';
  width: 1px;
  height: 8px;
  background-color: #ddd;
}

.textbook-inner .desc {
  line-height: 1.66;
  max-height: 123px;
  margin-top: 23px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.04em;
  overflow: hidden;
}

.page-content-header {
  flex-direction: column;
}

.textbook-contents-view {
  display: flex;
  width: 100%;
}

.textbook-contents-view .left-area .textbook-img {
  flex: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
}

.textbook-contents-view .right-area {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
}

.textbook-contents-view .right-area .textbook-inner {
  flex: 1 1 0px;
  margin-right: 6%;
}

.textbook-contents-view .right-area .textbook-inner .textbook-flag {
  margin-top: 0;
  margin-bottom: 13px;
}

.textbook-contents-view .right-area .textbook-button {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
}

.textbook-contents-view .right-area .textbook-button .util-wrap {
  flex: 0 0 auto;
  align-self: flex-end;
  display: flex;
  margin-left: auto;
}

.textbook-contents-view .right-area .textbook-button .util-wrap .btn-share {
  width: 37px;
  height: 37px;
  background-image: url(../../imgs/common/icon_share.svg);
  background-repeat: no-repeat;
  background-position: 45%;
  background-size: 22px 24px;
  transform: rotate(180deg);
  cursor: pointer;
}

.textbook-contents-view .right-area .textbook-button .util-wrap .btn-wishlist {
  width: 37px;
  height: 37px;
  background-image: url(../../imgs/common/icon_wishlist.svg);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 26px 24px;
  cursor: pointer;
}

.textbook-contents-view .right-area .textbook-button .util-wrap .btn-wishlist.on {
  background-image: url(../../imgs/common/icon_wishlist_on.svg);
}
