.dic-app-header-wrap {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-image: url(../../imgs/page/subtop/img_subtop_textbook_app.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.dic-app-header-wrap .gnb .top-header {
  height: 90px;
}

.dic-app-header-wrap .dic-app-subtop-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
  height: 100%;
  margin-bottom: 35px;
  font-size: 48px;
  letter-spacing: 0;
}

.dic-app-header-wrap .dic-app-subtop-wrap .title {
  font-weight: 900;
  color: #002a7e;
}

.dic-app-header-wrap .dic-app-subtop-wrap .title strong {
  font-size: 57px;
  vertical-align: middle;
}

.dic-app-header-wrap .dic-app-subtop-wrap .desc {
  margin-top: 8px;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #000;
}

.dic-app-contents-wrap {
  padding-top: 97px;
  padding-bottom: 40px;
}

.dic-app-contents-wrap .title {
  margin-bottom: 30px;
  font-size: 38px;
  text-align: center;
}

.dic-app-contents-wrap .dic-app-group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.dic-app-contents-wrap .dic-app-group:last-child {
  border-bottom: none;
}

.dic-app-contents-wrap .layout-wrap {
  width: 48.759%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .dic-app-contents-wrap .layout-wrap {
    width: 44.759%;
  }
}

.dic-app-contents-wrap .layout-wrap .dic-app-name {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 900;
  color: #000;
}

.dic-app-contents-wrap .layout-wrap .dic-app-items {
  display: flex;
  justify-content: space-between;
}

.dic-app-contents-wrap .layout-wrap .dic-app-items .dic-app-inner {
  display: flex;
  flex: 1 1 0px;
}

.dic-app-contents-wrap .layout-wrap .dic-app-items .dic-app-inner:first-child {
  margin-right: 16px;
}

.dic-app-contents-wrap .layout-wrap .app-imgs {
  width: 39%;
  margin-right: 12px;
  text-align: center;
}

.dic-app-contents-wrap .layout-wrap .mb-3 {
  margin-bottom: 3px;
}

.dic-app-contents-wrap .layout-wrap .app-btn {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}

.dic-app-contents-wrap .layout-wrap .app-btn a[href="javascript:void(0)"] {
  cursor: default;
}

.dic-app-contents-wrap .layout-wrap:first-child {
  margin-right: 30px;
}
