@CHARSET "UTF-8";
*{margin:0;padding:0;}
/*html,body{width:100%;height:100%;min-width: 500px;}*/
html,body{min-width: 500px;}
html{overflow-y:scroll;}
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all;}
body,input,button{font-size:12px;line-height:1.5em;font-family:"돋움",Dotum,Helvetica,AppleGothic,Sans-serif;color:#888888;}
h1,h2,h3,h4,h5,h6{font-size:12px;text-align:left;}
img{vertical-align:top;border:0 none;}
fieldset,iframe{border:0 none;}
li{list-style:none;}
a{color:#999999;text-decoration:none;}
a:hover{color:#999999;text-decoration:none;;}
/* em{font-style:normal;} */
button,label{cursor:pointer;_cursor /**/:hand}
button *{position:relative;}
button img{left:-3px;*left:auto;}
select{border:1px solid #ddd8ce;font-family:"돋움",Dotum;height:18px;padding:1px;font-size:12px; color:#666;}
textarea {overflow:auto;font-size:12px;font-family:dotum,verdana;color:#666666;background:#ffffff;}
html:first-child select{height:20px;padding-right:6px;}
option{padding-right:6px;}
.hdn, legend{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0;}
table caption{font-size:0; height:0; overflow:hidden;visibility:hidden; width:0; line-height:0;}


a:link    {color:#777;text-decoration:none;}
a:visited {color:#777;text-decoration:none;}
a:hover   {color:#7bb524;text-decoration:none;}
a:active  {color:#777;text-decoration:none;}