
html,body{width:100%;height:100%;background:url('/template/manage/images/login/top_bg.gif') 0 0 repeat-x;}

#admin_wrap		{width:720px;height:273px;padding-top:200px;margin:0 auto;}
.login_box		{background:url('/template/manage/images/login/login_bg.gif') 0 0 no-repeat;width:720px;height:273px;padding:35px 0 0 25px;margin-bottom:16px;}
.login_box .txt{margin:19px 0 45px;}
.login_box .login_inp{position:relative;}
.login_box .login_inp label img{padding-top:5px;}

.login_box .login_inp p{margin-bottom:5px;}
.login_box .login_inp .btn_login{position:absolute;left:286px;top:0;}
.login_box .linp{width:208px;padding-left:3px;height:19px;line-height:19px;border:1px solid #d6d6d6;}

.alC {text-align:center}