/* 공통 */
.org{color:#ee8342;font-size:11px;}
.green{color:#6eb510;}
.green2{color:#488d00;}
.blue{color: #4E81CC;}
.red{color:#ff0000;}
.inp{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;}
.inp_default{background:#fefdfd;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;width:601px;}
.inp_long{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;width:601px;}
.cho{vertical-align:middle;}
input:read-only{background:#eeee;}
select:disabled{background:#eeee;}
.alC{text-align:center;}
.alR{text-align:right;}
.alL{text-align:left;}
.wid50p{width:50px;}
.wid80p{width:80px;}
.wid80{width:80%;}
.wid100{width:100%;}
.hgt50{height:50px;}
.hgt100{height:100px;}
.hgt150{height:150px;}
.hei100{height:100%;}
.fR{float:right;}
.fL{float:left;}
.border1{border:1px solid #ececec;padding:5px;}
.backGray{background:#ccc;}

.cm_box_top02{background:url('/template/common/images/page/common/bg_box_bottom02.gif') 0 bottom no-repeat;width:720px;padding-bottom:25px;margin-bottom:25px;}
.cm_box_cont02{background:url('/template/common/images/page/common/bg_box_top02.gif') 0 top no-repeat;width:720px;padding-top:20px;}
.cm_box_cont02 p, .cm_box_cont02 div{margin-left:25px;font-size:11px;color:#999999;letter-spacing:-0.05em;}

.cm_box_top{background:url('/template/common/images/page/common/bg_box_bottom.gif') 0 bottom no-repeat;width:720px;padding-bottom:25px;margin-bottom:35px;}
.cm_box_cont{background:url('/template/common/images/page/common/bg_box_top.gif') 0 top no-repeat;width:720px;padding-top:20px;}
.cm_box_cont p, .cm_box_cont div{margin-left:25px;}

.icon1 {background:url('/template/common/images/page/common/arrow.gif') 0 center no-repeat;padding-left:16px;margin:5px 0;color:#488d00;font-weight:bold;;}
.icon2 {background:url('/template/common/images/page/common/arrow_g.gif') 0 center no-repeat;padding-left:10px;margin:5px 0 0px 15px;color:#777;font-weight:bold;}
.ctnt3 {margin:0 0 0 25px;}
.stxt{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}
.stxt2{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}
.ctnt_line {border:1px #ddd solid;margin-bottom:20px;padding:10px 0 15px 0;}

.list_arrow{margin:0 25px;width:670px}
.list_arrow li{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}

.btn2{float:left;background:url('/template/common/images/page/common/btn_l.gif') 0 0 no-repeat;height:22px;}
.btn2 span{float:left;background:url('/template/common/images/page/common/btn_r.gif') right 0 no-repeat;height:21px;margin-left:16px;padding:1px 16px 0 4px;}

.btn_c{text-align:center;margin-top:20px;}
.btn_l{text-align:left;margin-top:20px;}
.btn_r{text-align:right;margin:20px 0;}
.btn_r a{margin-left:3px;}
a.btn_mngTxt{display:inline-block;border:1px solid #719fde;border-radius:3px;background:#93baf7;color:#fff;font-size:13px;font-weight:bold;padding:3px 10px;vertical-align:middle;}
a.btn_mngDelTxt{display:inline-block;border:1px solid;border-radius:3px;background:#eee; font-size:13px;font-weight:bold;padding:3px 10px;vertical-align:middle; margin-left: 10px;}
a.btn_excel{display:inline-block;border:1px solid #719fde;border-radius:3px;background:#19ce60;color:#fff;font-size:13px;font-weight:bold;padding:3px 10px;vertical-align:middle;}
button.btn_mngTxt{display:inline-block;border:1px solid #719fde;border-radius:3px;background:#93baf7;color:#fff;font-size:13px;font-weight:bold;padding:3px 10px;vertical-align:middle;}

/* 기본 가로테이블  */
.chart2{width:100%;border-collapse:collapse;border-top:1px solid #575757;}
.mb{margin-bottom:30px;}
.chart2 tbody table tr {padding:0;}
.chart2 tbody table td {padding:0;}
.chart2 tbody table img {vertical-align:middle;}
.chart2 tbody th{background:#f8f8f8;padding:7px 0 7px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.chart2 tbody td{border-bottom:1px solid #ececec;padding:7px 17px;}
.chart2 tbody td.line{border-right:1px solid #ececec;}
.chart2 tbody td.editor {padding:0;}
.no{display:none;}
.chart2 tfoot .box_sum{background:#f8f8f8;padding:7px 0 7px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}

/* 기본 가로테이블  */
.chart3{width:700px;border-collapse:collapse;border-top:1px solid #575757;}
.chart3 tbody th{background:#f8f8f8;padding:7px 0 7px 17px;text-align:center;color:#666666;border-right:0px solid #ececec;border-bottom:1px solid #ececec;}
.chart3 tbody td{border-bottom:1px solid #ececec;padding: 7px 14px;}
.chart3 tbody td.editor {padding:0;}

/* tab_table */
.tab_table{width:100%;border-collapse:collapse;border-top:1px solid #575757;margin-bottom:50px;}
.tab_table th{background:#bfbfbf;padding:7px 0 7px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.tab_table th.on{background:#5b9bd5;}
.tab_table th a{color:#fff;display:block;width:100%;height:100%;}

/* 로그인 */
.login_box{background:url('/template/common/images/page/member/bg_login_box.jpg') 0 0 no-repeat;width:670px;height:230px;padding:43px 0 0 50px;margin-bottom:16px;}
.login_box .txt{margin:19px 0 55px;}
.login_box .login_inp{position:relative;}

.login_box .login_inp p{margin-bottom:5px;}
.login_box .login_inp .btn_login{position:absolute;left:286px;top:0;}
.login_box .linp{width:208px;padding-left:3px;height:19px;line-height:19px;border:1px solid #d6d6d6;}

.gbox{border:1px solid #dedede;}
.gbox ul{overflow:hidden;width:100%;padding:18px 0 21px;}
.gbox ul li{float:left;display:inline;margin-left:44px;padding-left:83px;}
.gbox ul li p{margin-bottom:11px;}
.gbox ul li a{display:block;line-height:19px;vertical-align:middle;font-size:11px;}
.gbox ul li.join_box{background:url('/template/common/images/page/member/bg_join.gif') 0 0 no-repeat;width:234px;height:64px;}
.gbox ul li.search_box{background:url('/template/common/images/page/member/bg_id_pw_search.gif') 0 0 no-repeat;width:177px;height:64px;}
.gbox ul li.join_box a{background:url('/template/common/images/page/member/bg_join_btn.gif') 0 0 no-repeat;width:53px;height:19px;padding-left:20px;}
.gbox ul li.search_box a{background:url('/template/common/images/page/member/bg_search_btn.gif') 0 0 no-repeat;width:108px;height:19px;padding-left:25px;}


/* 회원가입단계 */
.step_tit{margin-bottom:40px;}
.join_area{border:1px solid #DFDFDF;height:350px;width:100%;}

/* 상세정보입력 */

.star{padding-left:18px;margin-bottom:10px;color:#999999;}

.btn_w{float:left;margin-left:5px;}
.out{overflow:hidden;width:100%;}
.inp_fl{float:left;height:18px;line-height:18px;border:1px solid #ddd8ce;}

.addr{width:440px;margin-bottom:2px;}
.addr2{width:387px;}
.btn{display:block;background:url('/template/common/images/page/common/btn_bg.gif') 0 0 no-repeat;width:96px;line-height:21px;font-size:11px;text-align:center;}

.year{width:50px;}
.month, .day{width:40px;}
.man{margin-right:11px;}
.tel{width:40px;}



/* 선택가입 */
.join_info_txt{margin:20px 0 40px;}
.join_list{overflow:hidden;width:718px;height:101px;margin:12px 0 12px; border:1px solid #dedede; }
.join_list li{float:left;}

/* 이용악관 */
.clause1{width:698px;height:150px;padding:15px 10px;margin-bottom:25px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;}
.clause2{width:698px;height:150px;padding:15px 10px;margin-bottom:15px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;}

.gray_box2{background:#f5f5f5;padding:10px 0;text-align:center;font-weight:bold;color:#555;}

/* 이미가입되어있는 */
.gray_box{background:#f5f5f5;padding:15px 0px;border:1px solid #dedede;text-align:center; }
.gray_box span {margin-right:25px;}



/* id/pw찾기결과 주황글씨 */
.stxt_org{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;color:#ee8342;margin-top:5px;}


/* 실명확인,  id/pw 검색 */

.real_name{border:1px solid #dedede;padding:25px;margin-bottom:25px;color:#606060;}
.real_name .arrow_g{background:url('/template/common/images/page/common/arrow_g.gif') 0 center no-repeat;padding-left:9px;margin-right:20px;font-weight:bold;vertical-align:middle;}
.real_name  input{vertical-align:middle;}
.name{width:156px;margin-right:12px;}
.jumin1{width:76px;}
.jumin2{width:76px;margin-right:40px;}
.box_list_icon li{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}


/* 약관동의 */
.clause_box{width:698px;height:440px;padding:20px 10px;margin-bottom:25px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;line-height:19px;}
.clause_info{margin:0 20px;}

/* tab */
#tab{overflow:hidden;padding-left:15px;}
#tab li{float:left;height:24px;margin-right:4px;}
#tab li a{float:left;background:url('/template/common/images/page/common/bg_tab.gif') left -26px no-repeat;font-weight:bold;height:24px;_22px;}
#tab li a span{float:left;background:url('/template/common/images/page/common/bg_tab.gif') right -82px no-repeat;height:14px;padding:5px 21px 5px 0;margin-left:21px;_padding:5px 21px 1px 0;_height:12px;}
#tab li a:hover, #tab li a.active{float:left;background:url('/template/common/images/page/common/bg_tab.gif') left top no-repeat;font-weight:bold;height:24px;_22px;color:#fff;}
#tab li a:hover span, #tab li a.active span{float:left;background:url('/template/common/images/page/common/bg_tab.gif') right -53px no-repeat;padding:5px 21px 5px 0;margin-left:21px;_padding:5px 21px 1px 0;_height:12px;}




/* 기본게시판
.total{background:url('/template/common/images/page/board/icon_balloon.gif') 0 center no-repeat;padding-left:18px;font-size:11px;color:#999999;letter-spacing:-0.05em;margin-bottom:10px;}
.chart_board{background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;width:100%;border-collapse:collapse;color:#666666;}
.chart_board img {vertical-align:middle;}
.chart_board thead{height:29px;border:1px solid #e4e4e4;}
.chart_board thead th{background:url('/template/common/images/page/board/bg_board_bar.gif') 0 0 no-repeat;border-top:1px solid #575757;border-bottom:1px solid #e4e4e4;line-height:29px;}
.chart_board thead th.first{background:none;border-left:1px solid #e4e4e4;}
.chart_board thead th.last{background:none;border-right:1px solid #e4e4e4;}
.chart_board tbody td{background:none;border-bottom:1px dotted #cbcbcb;padding:5px 0; text-align:center;}
.chart_board tbody td a{color:#666666;}
.chart_board tbody td.tit{text-align:left}

a.notice_ti:link,a.notice_ti:visited,a.notice_ti:active {color:#777; }
a.notice_ti:hover {text-decoration:underline; } */


/*  뷰페이지 제목 */
.view_tit{overflow:hidden;background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;height:29px;line-height:29px;vertical-align:middle;color:#666;border-top:1px solid #575757;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;border-left:1px solid #e4e4e4;}
.view_tit dt{float:left;width:110px;text-align:center;font-weight:bold;}
.view_tit dd{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') left bottom no-repeat;padding-left:25px;}

/* 뷰페이지 소제목 */
.view_tit02{overflow:hidden;line-height:29px;vertical-align:middle;border-bottom:1px solid #e4e4e4;}
.view_tit02 dt{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;width:110px;text-align:center;font-weight:bold;}
.view_tit02 dd{float:left;padding-left:25px;}

/* 작성자정보 테이블 */
.view_writer_chart{width:100%;border-collapse:collapse;}
.view_writer_chart th{background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;padding:5px 0;border-bottom:1px solid #e4e4e4; color:#666666;}
.view_writer_chart td{background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;padding-left:25px;border-bottom:1px solid #e4e4e4;}
.view_writer_chart td.last{background:none;}

/*  질문답변뷰 */
.view_wrap{margin-bottom:50px;color:#656565;}
.view_wrap .question{background:url('/template/common/images/page/board/icon_question.gif') 21px center no-repeat;height:29px;line-height:29px;padding-left:55px;}
.view_wrap .answer{background:#f7f7f7 url('/template/common/images/page/board/icon_answer.gif') 21px 20px no-repeat;padding:20px 20px 20px 55px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;text-align:justify;}
.view_cont{padding:20px 0px;border-bottom:1px solid #e4e4e4; text-align:justify;}

/*  이전글 다음글 기본틀 */
.view_choice{overflow:hidden;background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;border:1px solid #e4e4e4;margin-top:-1px;height:29px;}
.view_choice dt{float:left;width:90px;text-align:center;height:20px;padding-top:9px;}
.view_choice dd{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') left bottom no-repeat;height:29px;line-height:29px;vertical-align:middle;padding-left:25px;}
.view_choice dd a{color:#777;}
.view_choice dd a:hover {color:#7bb524;}

/* 사진게시판리스트  */
.photo_list{border-bottom:1px dotted #cbcbcb;}
.photo_list ul{overflow:hidden;margin-left:-20px;}
.photo_list ul li{float:left;background:url('/template/common/images/page/board/bg_photo.gif') left top no-repeat;width:146px;height:162px;margin-left:20px;padding:9px;text-align:center;overflow:hidden;}
.photo_list ul li .photo{display:block;margin-bottom:20px;}
.photo_list ul li a{font-weight:bold;}

/* 이벤트게시판 리스트 */
.event_box{overflow:hidden;width:100%;padding:15px 0}
.evt_img{float:left;display:block;width:195px;height:82px;border:1px solid  #e1e1e1;}
.evt_cont{float:left;width:245px;margin-left:25px;text-align:left;font-size:11px;line-height:16px;color:#777777;}
.evt_cont .tit{font-size:14px;color:#555555;}
.evt_info li{background:url('/template/common/images/page/board/dot.gif') left center no-repeat;padding-left:9px;margin-top:3px;line-height:15px;}


/* 댓글 리스트  */
.com_write{background:#f8f8f8;border:1px solid #ececec;padding:18px 17px 15px;margin-top:15px; }
.com_txt{color:#777;font-size:11px;margin-bottom:7px;}
.com_txt strong{color:#454545}
.com_cont_box{padding:10px 9px;border-bottom:1px solid #ededed;}
.com_cont_box .writer_info{float:left;}
.com_cont_box .name{background:url('/template/common/images/page/board/icon_reply_name.gif') left center no-repeat;padding-left:25px;color:#666;}
.com_cont_box .reply_list {float:right;}
.com_cont_box .reply_list li{float:left;}
.com_cont_box .reply_list  li a{font-size:11px;margin-right:13px;}
.com_cont_box .reply_list .icon01{background:url('/template/common/images/page/board/icon_reply.gif') left center no-repeat;padding-left:16px;}
.com_cont_box .reply_list .icon02{background:url('/template/common/images/page/board/icon_report.gif') left center no-repeat;padding-left:12px;}
.com_cont_box .reply_list .icon03{background:url('/template/common/images/page/board/icon_del.gif') left center no-repeat;padding-left:12px;}
.com_cont_box .date{color:#b2b2b2;}
.com_cont_box .com_cont{clear:both;padding:3px 3px 3px 25px;}



/* 댓글 쓰기  */
.com_cont_w{width:604px;height:44px;border:1px solid #cbcbcb;margin-right:3px;}
.com_cont_l{width:604px;height:120px;border:1px solid #ddd8ce;margin-right:3px;}
.reply_total{padding:10px 0;line-height:18px;height:18px;border-bottom:1px solid #ededed;}
.reply_total img{padding-top:3px;}


/* 페이징 */
/*
#paging{text-align:center;margin:23px 0 27px}
#paging  li{display:inline;text-align:center;}
#paging a{display:inline;background:#fff;color:#b6b6b6;font-family:Tahoma;padding:0 2px;}
#paging a:hover{display:inline;background:#fff;color:#666;font-family:Tahoma;padding:0 2px;}
#paging a.move{background:#fff;border:1px solid #e3e3e3;font-size:11px;padding:1px 3px;color:#9b9b9b;font-weight:bold;margin:0 1px;}
#paging a:hover.move{background:#efefef;border:1px solid #e3e3e3;font-size:11px;padding:1px 3px;color:#9b9b9b;font-weight:bold;margin:0 1px;}
#paging a.active{border:4px solid #5bab00;font-size:4px;color:#fff;font-family:Tahoma;padding-top:3px;}
#paging span.active{border:4px solid #5bab00;font-size:4px;color:#fff;font-family:Tahoma;padding-top:3px; padding:0 2px;}
#paging a:hover.active{border:4px solid #5bab00;font-size:4px;color:#fff;font-family:Tahoma;padding-top:3px;}
#paging a span{font-size:9px;}
*/
/* 공통 */
.org{color:#ee8342;font-size:11px;}
.green{color:#6eb510;}
.green2{color:#488d00;}

.inp{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;}
.inp_long{background:#fefdfd;height:18px;line-height:18px;border:1px solid #ddd8ce;padding-left:3px;width:601px;}
input.btn_calendar{background:url(/template/manage/images/calendar/btn_cal.png) no-repeat;background-size:15%;text-align:center;}
.cho{vertical-align:middle;}

.cm_box_top02{background:url('/template/common/images/page/common/bg_box_bottom02.gif') 0 bottom no-repeat;width:720px;padding-bottom:25px;margin-bottom:25px;}
.cm_box_cont02{background:url('/template/common/images/page/common/bg_box_top02.gif') 0 top no-repeat;width:720px;padding-top:20px;}
.cm_box_cont02 p, .cm_box_cont02 div{margin-left:25px;font-size:11px;color:#999999;letter-spacing:-0.05em;}



.cm_box_top{background:url('/template/common/images/page/common/bg_box_bottom.gif') 0 bottom no-repeat;width:720px;padding-bottom:25px;margin-bottom:35px;}
.cm_box_cont{background:url('/template/common/images/page/common/bg_box_top.gif') 0 top no-repeat;width:720px;padding-top:20px;}
.cm_box_cont p, .cm_box_cont div{margin-left:25px;}



.icon1{background:url('/template/common/images/page/common/arrow.gif') 0 center no-repeat;padding-left:17px;margin:5px 0;color:#488d00;font-weight:bold;;}
.stxt{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}
.stxt2{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}

.list_arrow{margin:0 25px;width:670px}
.list_arrow li{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}

.btn2{float:left;background:url('/template/common/images/page/common/btn_l.gif') 0 0 no-repeat;height:22px;}
.btn2 span{float:left;background:url('/template/common/images/page/common/btn_r.gif') right 0 no-repeat;height:21px;margin-left:16px;padding:1px 16px 0 4px;}

.btn_c{text-align:center;margin-top:20px;}
.btn_l{text-align:left;margin-top:20px;}
.btn_r{text-align:right;margin:20px 0;}
.btn_r a{margin-left:3px;}
.listCenter{text-align:center;}

/* 기본 가로테이블  */
.chart2{width:100%;border-collapse:collapse;border-top:1px solid #575757;}
.mb{margin-bottom:30px;}
.mb20{margin-bottom:20px;}
.mb50{margin-bottom:50px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.chart2 tbody th{background:#f8f8f8;padding:7px 0 7px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.chart2 tbody td{border-bottom:1px solid #ececec;}
/*.chart2 tbody td label {display:none;}*/

/* 기본 가로테이블 (과정코드관리) */
.chart3{width:100%;border-collapse:collapse;border-top:1px solid #575757;}
.chart3 th{padding:7px 0;text-align:center;color:#000;border:1px solid #000;}
.chart3 td{border:1px solid #000;}
.incarnadine{background:#fce5cd;}

.chart3 .incarnadine{background:#fce5cd;}
.chart3 .purple{background:#ead1dc;}
.chart3 .whiteblue{background:#ddebf7;}
.chart3 .green{background:#d0e0e3;}
.chart3 .pink{background:#f4cccc;}
.chart3 .gray{background:#d9d9d9;}
.chart3 .blue{background:#9fc5e8;}
.chart3 .purple2{background:#d9d2e9;}
.chart3 .blue2{background:#6d9eeb;}

/* 로그인 */
.login_box{background:url('/template/common/images/page/member/bg_login_box.jpg') 0 0 no-repeat;width:670px;height:230px;padding:43px 0 0 50px;margin-bottom:16px;}
.login_box .txt{margin:19px 0 55px;}
.login_box .login_inp{position:relative;}

.login_box .login_inp p{margin-bottom:5px;}
.login_box .login_inp .btn_login{position:absolute;left:286px;top:0;}
.login_box .linp{width:208px;padding-left:3px;height:19px;line-height:19px;border:1px solid #d6d6d6;}

.gbox{border:1px solid #dedede;}
.gbox ul{overflow:hidden;width:100%;padding:18px 0 21px;}
.gbox ul li{float:left;display:inline;margin-left:44px;padding-left:83px;}
.gbox ul li p{margin-bottom:11px;}
.gbox ul li a{display:block;line-height:19px;vertical-align:middle;font-size:11px;}
.gbox ul li.join_box{background:url('/template/common/images/page/member/bg_join.gif') 0 0 no-repeat;width:234px;height:64px;}
.gbox ul li.search_box{background:url('/template/common/images/page/member/bg_id_pw_search.gif') 0 0 no-repeat;width:177px;height:64px;}
.gbox ul li.join_box a{background:url('/template/common/images/page/member/bg_join_btn.gif') 0 0 no-repeat;width:53px;height:19px;padding-left:20px;}
.gbox ul li.search_box a{background:url('/template/common/images/page/member/bg_search_btn.gif') 0 0 no-repeat;width:108px;height:19px;padding-left:25px;}


/* 회원가입단계 */
.step_tit{margin-bottom:40px;}


/* 상세정보입력 */

.star{padding-left:18px;margin-bottom:10px;color:#999999;}

.btn_w{float:left;margin-left:5px;}
.out{overflow:hidden;width:100%;}
.inp_fl{float:left;height:18px;line-height:18px;border:1px solid #ddd8ce;}

.addr{width:440px;margin-bottom:2px;}
.addr2{width:387px;}
.btn{display:block;background:url('/template/common/images/page/common/btn_bg.gif') 0 0 no-repeat;width:96px;line-height:21px;font-size:11px;text-align:center;}

.year{width:50px;}
.month, .day{width:40px;}
.man{margin-right:11px;}
.tel{width:40px;}



/* 선택가입 */
.join_info_txt{margin:20px 0 40px;}
.join_list{overflow:hidden;width:718px;height:101px;margin:12px 0 12px; border:1px solid #dedede; }
.join_list li{float:left;}

/* 이용악관 */
.clause1{width:698px;height:150px;padding:15px 10px;margin-bottom:25px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;line-height:19px;}
.clause2{width:698px;height:150px;padding:15px 10px;margin-bottom:15px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;line-height:19px;}

.gray_box2{background:#f5f5f5;padding:10px 0;text-align:center;font-weight:bold;color:#555;}

/* 이미가입되어있는 */
.gray_box{background:#f5f5f5;padding:15px 0px;border:1px solid #dedede;text-align:center; }
.gray_box span {margin-right:25px;}



/* id/pw찾기결과 주황글씨 */
.stxt_org{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;color:#ee8342;margin-top:5px;}


/* 실명확인,  id/pw 검색 */

.real_name{border:1px solid #dedede;padding:25px;margin-bottom:25px;color:#606060;}
.real_name .arrow_g{background:url('/template/common/images/page/common/arrow_g.gif') 0 center no-repeat;padding-left:9px;margin-right:20px;font-weight:bold;vertical-align:middle;}
.real_name  input{vertical-align:middle;}
.name{width:156px;margin-right:12px;}
.jumin1{width:76px;}
.jumin2{width:76px;margin-right:40px;}
.box_list_icon li{background:url('/template/common/images/page/common/arrow_s.gif') 0 8px no-repeat; padding-left:9px;font-size:11px;color:#999999;letter-spacing:-0.05em;}


/* 약관동의 */
.clause_box{width:698px;height:440px;padding:20px 10px;margin-bottom:25px;border:1px solid #ccc;font-size:12px;overflow-x:hidden;}
.clause_info{margin:0 20px;}

/* tab */
#tab{overflow:hidden;padding-left:15px;}
#tab li{float:left;height:24px;margin-right:4px;}
#tab li a{float:left;background:url('/template/common/images/page/common/bg_tab.gif') left -26px no-repeat;font-weight:bold;height:24px;_22px;}
#tab li a span{float:left;background:url('/template/common/images/page/common/bg_tab.gif') right -82px no-repeat;height:14px;padding:5px 21px 5px 0;margin-left:21px;_padding:5px 21px 1px 0;_height:12px;}
#tab li a:hover, #tab li a.active{float:left;background:url('/template/common/images/page/common/bg_tab.gif') left top no-repeat;font-weight:bold;height:24px;_22px;color:#fff;}
#tab li a:hover span, #tab li a.active span{float:left;background:url('/template/common/images/page/common/bg_tab.gif') right -53px no-repeat;padding:5px 21px 5px 0;margin-left:21px;_padding:5px 21px 1px 0;_height:12px;}



/* 기본게시판 header 여러개 */
.chart_board2{width:100%;border-collapse:collapse;color:#666666; background:url('/template/common/images/page/board/bg_board_tit2.gif') repeat-x 0 0;}
.chart_board2 img {vertical-align:middle;}
.chart_board2 thead th{ text-align:center; padding:10px 0; color:#657591; font-weight:bold; }
.chart_board2 thead th.first{background:none;border-left:1px solid #e4e4e4;}
.chart_board2 thead th.last{background:none;border-right:1px solid #e4e4e4;}
.chart_board2 tbody td{background:none;border-bottom:1px dotted #cbcbcb;padding:5px 0; text-align:center;}
.chart_board2 tbody td a{color:#666666;}
.chart_board2 tbody td a.btn_mngTxt{color:#fff;}
.chart_board2 tbody td.alL{text-align:left;}
.chart_board2 tbody td.tit{text-align:left}
.chart_board2 tbody tr.deleted a{color:#dfdfdf;text-decoration: line-through;}
.chart_board2 tbody tr.resultRow{cursor:pointer;}
.chart_board2 thead {border-bottom: 2px solid #4E81CC;}
.chart_board2 thead th {text-align: center;padding: 10px 0;color: #657591;font-weight: bold;background-color: #fafafa;border-bottom: 1px dotted #ccc;}

    
/* 기본게시판 */
.total{background:url('/template/common/images/page/board/icon_balloon.gif') 0 center no-repeat;padding-left:18px;font-size:11px;color:#999999;letter-spacing:-0.05em;margin-bottom:10px;}
.chart_board{width:100%;border-collapse:collapse;color:#666666; background:url('/template/common/images/page/board/bg_board_tit2.gif') repeat-x 0 0;}
.chart_board img {vertical-align:middle;}
.chart_board thead th{ text-align:center; padding:10px 0; color:#657591; font-weight:bold; }
.chart_board thead th.first{background:none;border-left:1px solid #e4e4e4;}
.chart_board thead th.last{background:none;border-right:1px solid #e4e4e4;}
.chart_board tbody td{background:none;border-bottom:1px dotted #cbcbcb;padding:5px 0; text-align:center;}
.chart_board tbody td a{color:#666666;}
.chart_board tbody td a.btn_mngTxt{color:#fff;}
.chart_board tbody td.alL{text-align:left;}
.chart_board tbody td.tit{text-align:left}
.chart_board tbody tr.deleted a{color:#dfdfdf;text-decoration: line-through;}
.chart_board tbody tr.resultRow{cursor:pointer;}
.cmLayer tbody td{padding:0; text-align:left;}
.selectBoxSelectedAreaGlobal {
	color:#626262;
	font-size:12px;
	font-family:dotum;
	font-weight:normal;
	background-color:#f5f5f5;
	padding-top:2px;
	line-height:22px;
	padding-left:5px;
	letter-spacing:-1px;
}
.cmLayer .selectBoxSelectedAreaFocusGlobal {
	color:#626262;
	font-size:12px;
	font-weight:normal;
	font-family:dotum;
	background-color:#f5f5f5;
	padding-top:2px;
	line-height:22px;
	padding-left:5px;
	letter-spacing:-1px;
}
.cmLayer .selectBoxOptionGlobal {
	color:#626262;
	font-size:12px;
	font-family:dotum;
	font-weight:normal;
	background-color:#f5f5f5;
	padding-top:2px;
	line-height:22px;
	padding-left:5px;
	letter-spacing:-1px;
}
.cmLayer .selectBoxOptionOverGlobal {
	color:#626262;
	font-size:12px;
	font-family:dotum;
	font-weight:normal;
	background-color:#e6e6e6;
	padding-top:2px;
	line-height:22px;
	padding-left:5px;
	letter-spacing:-1px;
}
.cmLayer .selectBoxOptionInnerLayer {
	overflow:auto;
	background-color:#f5f5f5;
	scrollbar-face-color:#F3F3F3;
	scrollbar-shadow-color:#6C6C6C;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#C9C9C9;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-track-color:#F3F3F3;
	scrollbar-arrow-color:#000000;
}
/* SelectBox 테이블  */
.cmLayer img {vertical-align:middle;}
.cmLayer tbody table tr {padding:0;}
.cmLayer tbody table td {background:none;border:0px;padding:0px; text-align:left;}
.cmLayer table tr {padding:0;}
.cmLayer table td {background:none;border:0px;padding:0px; text-align:left;}
.cmLayer tbody td{text-align:left;}

.conf_top{overflow:hidden;}
.tab_menu{right:0;z-index:1000;}
.tab_menu li{float:left;background:#f8f8f8;width:150px;height:30px;text-align:center;border:1px solid #ccc;}
.tab_menu li a{display:block;padding:8px 0px;height:30px;}
.tab_menu li a:hover, .tab_menu li a.active{background:url('../images/tab_over.gif') 0 0 repeat;padding:8px 0px;height:15px;font-weight:bold;color:#32688c;}
.cont{position:relative;width:100%;border-top:1px solid #ccc;padding:0px 0;z-index:1001;}
.cont table{width:100%;}

/* 메뉴테이블 */
.menu_board{width:100%;border-collapse:collapse;color:#666666;}
.menu_board img {vertical-align:middle;}
.menu_board thead th{ text-align:center; padding:10px 0; color:#657591; font-weight:bold; }
.menu_board thead th.first{background:none;border-left:1px solid #e4e4e4;}
.menu_board thead th.last{background:none;border-right:1px solid #e4e4e4;}
.menu_board tbody td{background:none;border-bottom:1px dotted #cbcbcb;padding:5px 0; text-align:center;}
.menu_board tbody td a{color:#666666;}
.menu_board tbody td.tit{text-align:left}


a.notice_ti:link,a.notice_ti:visited,a.notice_ti:active {color:#777; }
a.notice_ti:hover {text-decoration:underline; }


/* 게시판 찾기폼 */
#bbs_search{line-height:37px;background:#f6f6f6;border:1px solid #e9e9e9;text-align:center;margin-bottom:30px;padding:7px 0;}
#bbs_search select{border:1px solid #7f9db9;vertical-align:middle;}
#bbs_search .inp_s{width:275px;height:18px;line-height:18px;border:1px solid #dddddd;margin:0 5px;}
#bbs_search input{vertical-align:middle;}
#bbs_search input.btn_calendar{background:#fff url(/template/manage/images/calendar/btn_cal.png) no-repeat;background-size:15%;text-align:center;}
/*  뷰페이지 제목 */
.view_tit{overflow:hidden;background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;height:29px;line-height:29px;vertical-align:middle;color:#666;border-top:1px solid #575757;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;border-left:1px solid #e4e4e4;}
.view_tit dt{float:left;width:110px;text-align:center;font-weight:bold;}
.view_tit dd{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') left bottom no-repeat;padding-left:25px;}

/* 뷰페이지 소제목 */
.view_tit02{overflow:hidden;line-height:29px;vertical-align:middle;border-bottom:1px solid #e4e4e4;}
.view_tit02 dt{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;width:110px;text-align:center;font-weight:bold;}
.view_tit02 dd{float:left;padding-left:25px;}

/* 작성자정보 테이블 */
.view_writer_chart{width:100%;border-collapse:collapse;}
.view_writer_chart th{background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;padding:5px 0;border-bottom:1px solid #e4e4e4; color:#666666;}
.view_writer_chart td{background:url('/template/common/images/page/board/bg_board_bar.gif') right bottom no-repeat;padding-left:25px;border-bottom:1px solid #e4e4e4;}
.view_writer_chart td.last{background:none;}

/*  질문답변뷰 */
.view_wrap{margin-bottom:50px;color:#656565;}
.view_wrap .question{background:url('/template/common/images/page/board/icon_question.gif') 21px center no-repeat;height:29px;line-height:29px;padding-left:55px;}
.view_wrap .answer{background:#f7f7f7 url('/template/common/images/page/board/icon_answer.gif') 21px 20px no-repeat;padding:20px 55px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;}
.view_cont{padding:20px 0px;border-bottom:1px solid #e4e4e4; text-align:justify;}

/*  이전글 다음글 기본틀 */
.view_choice{overflow:hidden;background:url('/template/common/images/page/board/bg_board_tit.gif') 0 0 repeat-x;border:1px solid #e4e4e4;margin-top:-1px;height:29px;}
.view_choice dt{float:left;width:90px;text-align:center;height:20px;padding-top:9px;}
.view_choice dd{float:left;background:url('/template/common/images/page/board/bg_board_bar.gif') left bottom no-repeat;height:29px;line-height:29px;vertical-align:middle;padding-left:25px;}
.view_choice dd a{color:#777;}
.view_choice dd a:hover {color:#7bb524;}

/* 사진게시판리스트  */
.photo_list{border-bottom:1px dotted #cbcbcb;}
.photo_list ul{overflow:hidden;margin-left:-20px;}
.photo_list ul li{float:left;background:url('/template/common/images/page/board/bg_photo.gif') left top no-repeat;width:146px;height:162px;margin-left:20px;padding:9px;text-align:center;overflow:hidden;}
.photo_list ul li .photo{display:block;margin-bottom:20px;}
.photo_list ul li a{font-weight:bold;}

/* 이벤트게시판 리스트 */
.event_box{overflow:hidden;width:100%;padding:15px 0}
.evt_img{float:left;display:block;width:195px;height:82px;border:1px solid  #e1e1e1;}
.evt_cont{float:left;width:245px;margin-left:25px;text-align:left;font-size:11px;line-height:16px;color:#777777;}
.evt_cont .tit{font-size:14px;color:#555555;}
.evt_info li{background:url('/template/common/images/page/board/dot.gif') left center no-repeat;padding-left:9px;margin-top:3px;line-height:15px;}





/* 댓글 쓰기  */
.com_cont_w{width:604px;height:44px;border:1px solid #cbcbcb;margin-right:3px;}
.com_cont_l{width:604px;height:120px;border:1px solid #ddd8ce;margin-right:3px;}
.reply_total{padding:10px 0;line-height:18px;height:18px;border-bottom:1px solid #ededed;}
.reply_total img{padding-top:3px;}


/* 페이징 */
#paging{text-align:center;margin:23px 0 27px}
#paging li {display:inline;text-align:center;font-family:Tahoma;padding:2px 5px; font-weight:bold;}
#paging li a { color:#a4a4a4;}
#paging li a.commthis{ color:#333;}

/* 통합검색 */
.sch_total{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat;padding-left:10px;color:#4d4d4d}
.all_search{overflow:hidden;margin-bottom:10px;}
.all_search select{float:left;width:95px;vertical-align:middle;}
.all_search .all_inp{float:left;width:377px;border:1px solid #dddddd;vertical-align:middle;margin:0 5px;}
.icon_sch{background:url('/template/common/images/page/common/icon_search.gif') 0 center no-repeat;padding-left:21px;}

.web_search_result{border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5; padding:15px 0 5px;margin-top:20px;}
.web_search_result dl{position:relative;width:100%;height:80px;margin-top:15px;}
.web_search_result dt{padding-left:138px;}
.web_search_result dt a{color:#403e2d;text-decoration:underline;}
.web_search_result dd.txt{padding-left:138px;}
.web_search_result dd.txt span{display:block;color:#59990c;}
.web_search_result dd.thum{position:absolute;left:0;top:0;width:120px;height:75px;border:1px solid #d9d9cf; }

.more_view{text-align:right;}
.more_view a{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat;padding-left:10px;color:#488d00;text-decoration:underline;}

.board_search_result{border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5; padding:25px 0 5px;margin-top:-1px;}
.board_search_result li{margin-top:15px;}
.board_search_result .tit{display:block;margin-bottom:3px;text-decoration:underline;}


/* 팝업페이지  */
.pop_logo{position:absolute;top:43px;right:40px;}
.pop{position:relative;background:url('/template/common/images/page/popup/bg_pop.gif') 0 0 no-repeat;width:312px;height:141px;padding:40px 25px;}
.pop_w{position:relative;background:url('/template/common/images/page/popup/bg_addr_pop.gif') 0 0 no-repeat;width:312px;height:370px;padding:40px 25px;}

.cont_box_wrap{background:url('/template/common/images/page/popup/bg_cont_bottom.gif') 0 bottom no-repeat;width:310px;margin:20px  auto;}
.cont_box{position:relative;background:url('/template/common/images/page/popup/bg_cont_top.gif') 0 top no-repeat;padding:15px 10px;font-size:11px;letter-spacing:-0.05em;text-align:center;}
.cont_box  .txt{background:url('/template/common/images/page/common/arrow_s.gif') 0 center no-repeat; padding-left:9px;color:#999999;}

.pop_btn{text-align:right;margin-top:10px;}
.close{position:absolute;top:0;right:0;}

label.addr{color:#4b4b4b;font-weight:bold;margin-right:5px;}
.txt2{margin-top:5px;}
.txt_no{text-align:left;padding-left:15px;margin-bottom:5px;}
.inp_id{width:233px;vertical-align:middle;}
.inp_zip{width:180px;vertical-align:middle;}

.zipcode_txt{padding-bottom:10px;border-bottom:1px solid #d8d8d8; margin-top:10px;}
.zipcode_list{padding: 10px 0;height:208px;overflow-y:scroll;}
.zipcode_list a{color:#999999;font-size:11px;}


/* web editor */
div.htmlarea .toolbar td {padding:0;}

/* 평점 */
.valuation{overflow:hidden;width:100%;margin-bottom:10px;}
.star_tit{float:left;padding:2px 10px 0 0;}
.star_list{float:left;}
.star_list li{float:left;margin-left:10px;}
.star_list li label img, .star_list li input{vertical-align:middle;}

/* 이벤트 관리 */
.evt_send_box{width:100%;overflow:hidden;}
.evt_send_box table{border:1px solid #ccc;width:100%;min-height:170px;border-collapse:collapse;}
.evt_send_box table th{padding:10px;background:#808080;color:#fff;text-align:center;}
.evt_send_box table td{border:1px solid #ccc;padding:10px;}
.evt_send_box table td.alC{text-align:center;}
.evt_send_box .btn_excel{float:left;margin-right:15px;}
.evt_send_box .msg_box{float:left;margin-right:50px;width:35%;}
.evt_send_box .coupon_box{float:left;width:35%;}
.evt_send_box .inp_send{min-height:80px;height:auto !important;height:80px;}


/* 아카이브 승인여부 */
.confmN {background:#fcf0e2; color:dc9f69;}


/* 아카이브 카테고리 관리 */
#cateList			{float:left;width:100%;margin-bottom:20px;font-size:11px;}
#cateList .depth1	{color:#1876af;width:150px;}
#cateList .depth2	{color:#de8613;}
#detailForm			{float:right; width:100%;margin-bottom:20px;}
#brn_r				{padding-top:10px;text-align:center;}

/*추가 */
#container			{width:100%;float:left; height:auto; overflow:hidden;}
#content_wrap {
    display: inline;
    float: left;
    margin: 0 0 30px 20px;
    width:80%;
}

.box_list {
    border: medium none;
    overflow: hidden;
    width: 100%;
}

.box_list ul {
    overflow: hidden;
}

.box_list ul li {
    background: url("/template/common/images/sub/bg_box.gif") no-repeat scroll left top transparent;
    float: left;
    height: 150px;
    margin-top: 25px;
    margin-right: 25px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 162px;
}
.box_list ul li .flash a {
    display: block;
    margin-bottom: 0px;
    padding: 6px;
}
.box_list ul li .flash *:hover {
    color: #000000;
    font-weight: bold;
    opacity: 0.7;
}
.box_list ul li a {
    font-weight: bold;
}
.box_list ul li a:hover {
    color: #000000;
    font-weight: bold;
}

.chromemenu{
width: 100%;
font-weight: bold;
}

.chromemenu:after{ /*Add margin between menu and rest of content in Firefox*/
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.chromemenu ul{
border: 1px solid #BBB;
width: 100%;
background: url(/template/common/images/sub/chromebg.gif) center center repeat-x;
padding: 5px 0;
margin: 0;
text-align: left; /*set value to "right" for example to align menu to the left of page*/
}

.chromemenu ul li{
display: inline;
}

.chromemenu ul li a{
color: #494949;
padding: 5px 8px;
margin: 0;
text-decoration: none;
border-right: 1px solid #BBB;
}

.chromemenu ul li a:hover, .chromemenu ul li a.current{
background: url(/template/common/images/sub/chromebg2.gif) center center repeat-x;
}


.searchmeta { position:relative; clear:both; width:100%; height:auto; margin-bottom:20px; background-color:#f9f9f9; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; }
.searchmetakind { padding:10px 15px; margin:0;  font:normal 12px/18px Dotum,"돋움"; color:#767676; letter-spacing:-0.5px;}
.searchmetakind select { display:inline-block; margin-right:5px; padding:2px; vertical-align:middle; }
.searchmetakind .searchmetachk { vertical-align:middle; border:none; margin-bottom:2px; margin-right:2px;  }
.searchmetakind li { margin-bottom:5px; }
.searchmetakind li strong { display:inline-block; color:#4e81cc; width:70px; }
.searchmetakind li span { display:inline-block; font-weight:bold; margin-left:3px; margin-right:3px; color:#666; }
.searchmetabut { position:absolute; left:620px; top:30px; width:50px; height:25px; }

/* 첨부파일 가로테이블  */
/*
.file_list_chart{width:100%;border-collapse:collapse;border-top:1px solid #ececec;}
.file_list_chart tbody table tr {padding:0;}
.file_list_chart tbody table td {padding:0;}
.file_list_chart tbody table img {vertical-align:middle;}
.file_list_chart tbody tr{padding:5px 0 5px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;}
.file_list_chart tbody td{border-bottom:1px solid #ececec;padding: 0px 0px 0px 0px ;}
.file_list_chart tbody td.editor {padding:0;}
.file_list_chart thead th{background:#f8f8f8;padding:5px 0 5px 0;text-align:center;}
.file_list_chart tbody td.size {text-align:right;padding:0 10px 0 0;}
.file_list_chart tbody td.del {text-align:center}
*/
.file_box {padding:10px;margin:20px 0 10px 0;border:1px solid #D1D1D1;}
.file_top {overflow:hidden;width:100%;padding:10px 0;}
.file_top .file_btn{float:left;}
.file_top .file_info{float:right; line-height:21px;}
table.file_list_chart{border-collapse:collapse;width:100%;border:1px solid #c8c8c8; line-height:18px;}
table.file_list_chart thead th{border:1px solid #D1D1D1;background:#F6F6F6;}
table.file_list_chart tbody td{border:none;text-align:left;padding:5px;}
table.file_list_chart tbody td img{vertical-align:middle;}
table.file_list_chart .size{text-align:right;width:100px;padding-right:20px;}
table.file_list_chart .del{text-align:center;width:50px;}


.btn_all{overflow:hidden;width:100%;padding:20px 0;}
.btn_all .fL{float:left;width:50%;}
.btn_all .fR{float:right;width:49%;text-align:right;}
.btn_c{text-align:center;padding:20px 0;}
.btn_r{text-align:right;padding:20px 0;}

/* 팝업 */
.popbox{width:100%;height:auto;position:relative;}
.popbox .popboxtop{width:100%;height:55px;position:relative;background:url('/template/manage/images/calendar/pop_tit_bg.png') repeat-x;}
.popbox .popboxtop .popboxh3{width:300px;height:auto;padding-left:25px;font-size:14px;color:#fff;line-height:50px;float:left;}
.popbox .popboxtop .popboxclose{width:20px;height:20px;float:right;padding:15px 15px 0 0;}
.popboxconall{width:410px;margin:30px auto;}
.popboxcon_bg{background:#f5f5f5;padding:10px 10px 20px;width:390px;margin-top:15px;}
.popboxcon_bg p{padding:10px 15px;}
.popboxcon_bg ul{padding-left:20px;}
.popboxcon_bg ul li{padding:3px 0;}
.popboxcon_bg ul li span{display:inline-block;}
.popboxcon_bg ul li .inp{border:1px solid #ddd8ce;}

#popsubboxtop{width:100%;height:55px;position:relative;background:url('../images/calendar/pop_tit_bg.png') repeat-x;}
#popsubboxtop h1{width:300px;height:auto;padding-left:25px;font-size:14px;color:#fff;line-height:50px;float:left;}
#popsubboxtop .popsubboxclose{width:20px;height:20px;float:right;padding:15px 15px 0 0;}
#popsubboxcontxt{width:auto;max-width:600px;margin:0 auto;padding-top:20px;}
#popsubboxcontxt .poll_result_man_j{margin-bottom:5px;font-size:13px;font-weight:bold;text-align:right;}
#popsubboxcontxt .poll_result_man_j a{display:none;}

#popsubboxcontxt .poll_result_t_j{border-collapse:collapse;width:100%;border-top:2px solid #585757;}
#popsubboxcontxt .poll_result_t_j th,
#popsubboxcontxt .poll_result_t_j td{height:40px;border:1px solid #d2d2d2;text-align:center;}
#popsubboxcontxt .poll_result_t_j td.per_re{padding:0 10px;text-align:left;}
#popsubboxcontxt .poll_result_t_j td.color_td{padding:0 10px;text-align:left;}
#popsubboxcontxt .poll_result_t_j .fc-other-month{opacity:0.3;filter:alpha(opacity=30);}

.btn_s{display:inline-block;width:auto;height:20px;margin-top:2px;padding-left:10px;background:url(../images/btn_images/btn_common.png) 0 0 no-repeat;}
.btn_s span{display:inline-block;width:auto;height:18px;padding:2px 10px 0 0;background:url(../images/btn_images/btn_common.png) 100% 0 no-repeat;}

span.keyword{padding:5px;border:1px solid #eee;}
.refFileList{margin:5px 0;}

/* IE9 이하를 위한 css */
.placeholder {text-align:center;}

/* IE10 이상을 위한 css */
input::placeholder {text-align:center;opacity: 1;}
input::-webkit-input-placeholder {text-align:center;}
/* IE */
input:-ms-input-placeholder {text-align:center;}
/* Firefox */
input:-mos-input-placeholder {text-align:center;}

.btn_chc{padding:5px 10px;border:1px;border-radius:15px;background:#eee;}
input.onlyNum{text-align:right;}
table th.alC{text-align:center;}
ul.outList li,
#searchUser li{padding:5px;}
#searchUser{width:200px;}
.btn_addExp,
.btn_addLes,
.btn_addTime,
.btn_addEvt,
.btn_addBook{padding:10px;border:1px;border-radius:15px;background:#eee;}
.btn_addExpMore,
.btn_addChaMore,
.btn_addStfMore{padding:10px;border:1px;border-radius:15px;background:#eee;}
tfoot tr,
tr.foot{height:45px;}
tbody.box_exp td{text-align:center;padding:5px 0;}
tbody.box_exp td:first-child{border-right:1px solid #ececec;}
#box_addExp td{border-bottom:1px solid #ececec;}

/* 교육과정 모달 */
#dialog-background {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 10;
}
#my-dialog, .my-dialog {
    display: none;
    position: fixed;
    left: calc( 50% - 200px ); top: calc( 50% - 260px );
    width: 400px; height: 520px;
    background: #fff;
    z-index: 11;
}

#my-dialog .modal_header, .my-dialog .modal_header{line-height:30px;background:#5b9bd5;text-align:center;color:#fff;font-size:13px;}
#my-dialog h3, .my-dialog h3{padding:15px;text-align:center;}
#my-dialog h3 .sts_code, .my-dialog h3 .sts_code{color:#5b9bd5;}
#my-dialog .box_process, .my-dialog .box_process{padding:0 50px 15px;}
#btn-close-dialog, .btn-close-dialog {position:absolute;top:5px;right:5px;background:none;border:none;}
#my-dialog .box_exp, .my-dialog .box_exp{padding:20px;}
#my-dialog .box_btn, .my-dialog .box_btn{text-align:center;}

/* 과정드록 시간표 */
.box_fac li{margin-top:5px;}
.box_fac li span{vertical-align:middle;}

/* 게시판  관리 */
.box_bbsmst{width:100%;height:50px;margin-bottom:10px;overflow-x:auto;overflow-y:hidden;white-space:nowrap;}
.box_bbsmst:after{display:block;content:"";clear:both;}
.box_bbsmst li{display:inline-block;margin-right:30px;}
.box_bbsmst li a{display:block;width:100%;height:100%;padding:5px 10px;border:1px solid #0c65b0;text-align:center;}
.box_bbsmst li.on a{background:#0c65b0;color:#fff;font-weight:bold;}

.photo_list li{position:relative;}
.photo_list li.deleted .tit{text-decoration:line-through;}
.phoCheck{position:absolute;top:3px;left:3px;}

/* 설문조사 */
.tbset{position:relative;}
.tb02wrap{width:80%;position:relative;margin:20px 101px;float:left;}
.tr-result li{margin:5px 0;}
.tr-result li input,
.tr-result li span{vertical-align:middle;}
.tr-result li a{float:right;}
.tr-result .type4 li input[type=text]{width:80%;}
.set_x{display:block;position:absolute;top:0;right:-10px;}
.upMove{display:block;position:absolute;top:0;left:-23px;}
.downMove{display:block;position:absolute;top:22px;left:-23px;}
.box_btn{text-align:center;}

/* 수강신청  */
.chart_board .ready{padding:5px;background-color:#A1A3A4;color:#ffffff;}
.chart_board .ing{padding:5px;background-color:#3397FB;color:#ffffff;}

/* 수강신청 > 수강신청 화면 */
.book_list{overflow:hidden;width:100%;}
.book_list .textbook-img{float:left;width:132px;height:200px;margin-right:10px;}
.book_list .textbook_right{float:left;width:300px;height:200px;}
.book_list .book_title{font-size:20px;margin-bottom:9px;font-weight:900;color:#333333;}
.book_list .book_content{margin-bottom:5px;color:#333333;}

/* 수강신청 > 수강대상자 화면 */
.group_list{overflow:hidden;width:100%;padding:10px 0 10px 0;}
.group_list li{float:left;}
.group_list li.act{font-weight:bold;}
.group_list li.partition{padding:0 5px 0 5px;}

.student_search{float:left;width:230px;height:100%;}
.student_search input.text_box{float:left;margin:0 10px 0 0;}
.student_search table tr:hover{background-color:#A9E2F3;}
.student_search table tr.pick_complate{background-color:#E6E6E6;}
.student_list{margin-left:250px;width:auto;height:100%;min-height:500px;}

.student_pick_list table{width:100%;border-collapse:collapse;}
.student_pick_list table tr{height:100px;}
.student_pick_list table tr.pick_table_header{height:50px;}
.student_pick_list table tbody table td {padding:0;}
.student_pick_list table tbody td{border:1px solid #ececec;padding:7px 17px;}
.student_pick_list table tbody th{background:#f8f8f8;padding:7px 0 7px 17px;text-align:left;color:#666666;border-right:1px solid #ececec;border-bottom:1px solid #ececec;border-top: 1px solid #575757;}

.td_student_list .div_student_box{float:left;margin-right:10px;padding:5px;background-color:#E6E6E6;}




/* 프론트 퍼블 */
body.modal-open {
  overflow: hidden;
}

/*================================
            폰트 컬러
================================*/
.font-basic {
  color: #333 !important;
}

.font-point {
  color: #068467 !important;
}

.font-blue {
  color: #0038a9 !important;
}

.font-red {
  color: #e9411d !important;
}

.font-orange {
  color: #ffba00 !important;
}

.font-green {
  color: #b7ca10 !important;
}

.font-darkgreen {
  color: #00900a !important;
}

.font-black {
  color: #000 !important;
}

.font-gray {
  color: #888 !important;
}

.font-gray-light {
  color: #aaa !important;
}

/*================================
            배경 컬러
================================*/
.bg-point {
  background-color: #068467 !important;
}

.bg-point-light {
  background-color: #f1faf8 !important;
}

.bg-blue {
  background-color: #0038a9 !important;
}

.bg-blue-light {
  background-color: #ecf1fc !important;
}

.bg-green {
  background-color: #b7ca10 !important;
}

.bg-green-light {
  background-color: #e4f3ef !important;
}

.bg-red-light {
  background-color: #ffede9 !important;
}

.bg-gray-light {
  background-color: #f7f7f7 !important;
}

.bg-white {
  background-color: #fff;
}

/*================================
            나라별 컬러
================================*/
.bg-mongolia {
  background-color: #0345c3 !important;
}

.bg-kenya {
  background-color: #000 !important;
}

.bg-hungary {
  background-color: #5ca111 !important;
}

.bg-india {
  background-color: #eda12d !important;
}

.bg-indonesia {
  background-color: #1c3b90 !important;
}

.bg-iran {
  background-color: #0cab17 !important;
}

.bg-poland {
  background-color: #8d1b00 !important;
}

.bg-portugal {
  background-color: #31903c !important;
}

.bg-thailand {
  background-color: #df151e !important;
}

.bg-turkey {
  background-color: #fb0b0c !important;
}

.bg-uzbekistan {
  background-color: #18c2d7 !important;
}


.btn-file-attach:hover {
  color: #068467;
}

.btn-file-attach:focus {
  color: #068467;
}

.btn-outline {
  border: 1px solid #068467;
  color: #068467;
}

.btn-outline:hover {
  color: #068467;
}

.btn-outline:focus {
  color: #068467;
}

.btn-outline.icon-down:before {
  background-image: url(../../imgs/6/3/icon_btn_down_blue.png);
}

.btn-outline-hover {
  border: 1px solid #068467;
  color: #068467;
  transition: .2s;
}

.btn-outline-hover:hover {
  color: #fff;
  background-color: #068467;
}

.btn-outline-hover:focus {
  color: #fff;
  background-color: #068467;
}

.btn-outline-hover.icon-down:before {
  background-image: url(../../imgs/6/3/icon_btn_down_blue.png);
}

.btn-outline-gray {
  border: 1px solid #999;
  background-color: #fff;
  color: #666;
}

.btn-outline-gray:focus {
  color: #666;
}

.btn-outline-gray:hover {
  color: #666;
}

.btn-outline-gray:disabled {
  color: #ddd;
  border-color: #ddd;
}

.btn-outline-light-gray {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
}

.btn-outline-light-gray:focus {
  color: #333;
}

.btn-outline-light-gray:hover {
  color: #333;
}

.btn-outline-light-gray:disabled {
  color: #ddd;
  border-color: #ddd;
}

.btn-point {
  background-color: #068467;
  color: #fff;
}

.btn-point:focus {
  color: #fff;
}

.btn-point:hover {
  color: #fff;
}

.btn-dark-gray {
  background-color: #333;
  color: #fff;
}

.btn-dark-gray:focus {
  color: #fff;
}

.btn-dark-gray:hover {
  color: #fff;
}

.btn-light-gray {
  background-color: #bbb;
  color: #fff;
}

.btn-light-gray:focus {
  color: #fff;
}

.btn-light-gray:hover {
  color: #fff;
}

.btn-top-wrap {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 10%;
  overflow: hidden;
}

.btn-top-wrap.bottom-fixed {
  position: absolute;
}

.btn-top-wrap .btn-go-top {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 70px;
  padding: 0;
  background-color: #555;
  background-image: url(../../imgs/common/common_btn_top_icon.png);
  background-repeat: no-repeat;
  background-position: center top 18px;
  background-size: 12px 7px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  z-index: 500;
}

.btn-top-wrap.main {
  right: 15px;
  bottom: 15px;
}

.btn-box{position:relative;}
#btn-addstu{display:inline-block;position:absolute;right:0;top:-35px;}