@charset "UTF-8";
.froala_editor {
  border: 1px solid #dadada;
  border-top: 1px solid #999;
}

.froala_editor.froala-read-only {
  border: none;
}

.froala_editor .fr-view[contenteditable="true"] {
  font-family:  "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif ;
}

.froala_editor .fr-view em {
  font-style: italic;
}

.froala_editor .fr-view ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 40px;
}

.froala_editor .fr-view ol li {
  padding-bottom: 3px;
}

.froala_editor .fr-view ul {
  display: block;
  list-style-image: url(../../imgs/common/icon_disc_black.png);
  margin-block-start: 1em;
  margin-top: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 40px;
}

.froala_editor .fr-view ul li {
  position: relative;
  padding-bottom: 3px;
}

.froala_editor .fr-toolbar {
  border-top: none;
  box-shadow: none;
}

.froala_editor .fr-toolbar.fr-top {
  padding: 0;
  border-radius: 0;
}

.froala_editor .fr-toolbar.fr-sticky-on {
  margin: 0 -1px;
}

.froala_editor.fr-box.fr-basic .fr-wrapper {
  box-shadow: none;
}

.froala_editor.fr-box.fr-basic .fr-wrapper .fr-element {
  min-height: 370px !important;
}

.froala_editor.froala-read-only.froala-padding-0 {
  padding: 0;
}

.froala_editor.froala-read-only.fr-box.fr-basic .fr-element {
  padding: 0;
}

.froala_editor.froala-read-only.fr-box.fr-basic .fr-wrapper .fr-element {
  line-height: 1.8;
  min-height: 120px !important;
  font-size: 14px;
}

.froala_editor.froala-read-only .fr-counter {
  display: none;
}

/*=================================================
      게시판
=================================================*/
/*
@ .board-list-wrap
- list-group: 리스트그룹
*/
.board-list-wrap .list-group > .inner {
  width: 100%;
  display: flex;
  border-top: 1px solid #e2e5e8;
}

.board-list-wrap .list-group > .inner:active {
  background-color: #f9f9f9;
}

.board-list-wrap .list-group.close .list-info-wrap,
.board-list-wrap .list-group.close .list-date-wrap {
  color: #999 !important;
}

.board-list-wrap:not(.has-link) {
  pointer-events: none;
  cursor: default;
}

.list-info-wrap {
  flex: 1 1 auto;
  padding: 15px;
  width: 0px;
  padding: 15px;
}

.list-info-wrap > .category {
  flex-wrap: wrap;
  margin-bottom: 6px;
  font-size: 0;
}

.list-info-wrap > .category .item {
  position: relative;
  line-height: 1.6;
  font-size: 14px;
}

.list-info-wrap > .category .item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
}

.list-info-wrap > .category .item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 13px;
  background-color: #eee;
  transform: translateY(-50%);
}

.list-info-wrap > .category .icon-flag {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  vertical-align: middle;
}

.list-info-wrap > .title {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.list-info-wrap > .item-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.list-info-wrap > .item-wrap .item {
  display: inline-flex;
  position: relative;
  line-height: 1.6;
  font-size: 15px;
}

.list-info-wrap > .item-wrap .item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
}

.list-info-wrap > .item-wrap .item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 13px;
  background-color: #eee;
  transform: translateY(-50%);
}

.list-info-wrap > .item-list-wrap {
  margin-top: 8px;
}

.list-info-wrap > .item-list-wrap::after {
  content: "";
  display: block;
  clear: both;
}

.list-info-wrap > .item-list-wrap .item-list {
  line-height: 1.5;
  font-size: 15px;
}

.list-info-wrap > .item-list-wrap .item-list:not(:last-child) {
  margin-bottom: 8px;
}

.list-info-wrap > .item-list-wrap .item-list .title {
  display: inline-block;
  min-width: 42px;
  font-weight: 700;
  margin-right: 6px;
}

.list-info-wrap > .item-list-wrap .item-list .text {
  display: inline-block;
}

.list-info-wrap + .list-label-wrap {
  flex: none;
  display: flex;
  align-items: center;
}

.list-img-wrap {
  flex: none;
  padding: 15px 3px 15px 15px;
}

.list-img-wrap .img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.list-img-wrap .img.textbook {
  width: 80px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.list-date-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 115px;
  line-height: 1.6;
  padding: 15px 0 15px 15px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.list-label-wrap .item {
  display: inline-block;
  min-width: 78px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #999;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.list-label-wrap .item.font-point {
  border-color: #0038a9;
}

.list-label-wrap .item.font-blue {
  border-color: #0038a9;
}

.list-label-wrap .item.font-green {
  border-color: #068467;
}

.list-label-wrap .item.font-yellow-green {
  border-color: #b7ca10;
}

.list-label-wrap .item.font-red {
  border-color: #e9411d;
}

.list-label-wrap .item.font-gray {
  border-color: #999;
}

.list-label-wrap .item.bg-point {
  color: #fff;
  border-color: #0038a9;
}

.board-list-wrap .list-label-wrap {
  padding: 15px;
}

.list-info-wrap + .list-label-wrap {
  padding-left: 0;
}

.list-btn-wrap {
  display: flex;
  align-items: center;
}

.list-btn-wrap .btn-more {
  width: 36px;
  height: 36px;
  background-image: url(../../imgs/common/common_list_icon_link.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.list-no-data {
  width: 100%;
  padding: 30px 15px;
  text-align: center;
}

.list-no-data .desc {
  margin-bottom: 15px;
}

.board-option-wrap {
  padding: 20px 15px;
}

.board-content-wrap {
  padding: 15px 0 20px;
  border-top: 1px solid #e2e5e8;
  border-bottom: 1px solid #e2e5e8;
}

.board-content-wrap .content-header {
  margin-bottom: 24px;
}

.board-content-wrap .content-header .info-item-wrap .title,
.board-content-wrap .content-header .info-item-wrap .desc {
  line-height: 2;
  font-size: 13px;
}

.file-attachment-wrap {
  padding: 15px;
  border-top: 1px solid #eeeff1;
  border-bottom: 1px solid #eeeff1;
}

.file-attachment-wrap .file-attachment-view,
.file-attachment-wrap .file-attachment-write {
  position: relative;
}

.file-attachment-wrap .inner-area {
  margin: -5px -10px;
}

.file-attachment-wrap .attachment {
  position: relative;
  display: inline-block;
  min-height: 18px;
  margin: 5px 10px;
  font-size: 13px;
  vertical-align: middle;
  word-break: break-all;
}

.file-attachment-wrap .attachment .text {
  display: inline-block;
  padding-top: 2px;
  padding-left: 22px;
  word-break: break-all;
}

.file-attachment-wrap .attachment.icon-file {
  background: url(../../imgs/common/icon_file_document.png) no-repeat left/contain;
}

.file-attachment-wrap .attachment.icon-img {
  background: url(../../imgs/common/icon_file_img.png) no-repeat left/contain;
}

.file-attachment-wrap .attachment.icon-img .text {
  padding-left: 24px;
}

.file-attachment-wrap .attachment .file-remove {
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #b6bcc1;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  vertical-align: middle;
}

.file-attachment-wrap .file-attachment-write .title {
  display: inline-block;
  width: calc(100% - 170px);
  line-height: 41px;
  margin-bottom: 13px;
  border-bottom: 1px solid #dadada;
  font-size: 15px;
  font-weight: 700;
  color: #555;
}

.file-attachment-wrap .file-attachment-write .title span {
  font-size: 12px;
}

.file-attachment-wrap .file-attachment-write .attachment .text {
  padding-right: 22px;
}

[class*="box-wrap"] > .file-attachment-wrap {
  border: none;
  padding: 5px 0;
}