.quiz-box-wrap {
  border: 1px solid #ddd;
  padding: 15px 20px;
  margin: 10px 0;
}

.quiz-box-wrap .quiz-flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quiz-box-wrap .quiz-text-wrap {
  flex: 1 1 0px;
  padding: 0 15px 0 35px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.quiz-box-wrap .quiz-text-wrap .date {
  margin-bottom: 20px;
  font-size: 13px;
  color: #0038a9;
}

.quiz-box-wrap .quiz-text-wrap .title {
  margin-bottom: 15px;
  font-size: 18px;
  color: #000;
}

.quiz-box-wrap .quiz-text-wrap .desc {
  line-height: 1.35;
  font-size: 15px;
  font-weight: 300;
  color: #333;
}

.quiz-box-wrap .quiz-img {
  position: relative;
  width: 145px;
  min-height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  font-size: 0;
}

.quiz-box-wrap .quiz-img:after {
  display: inline-block;
  content: '';
  width: 100%;
  padding-top: 100%;
}

.quiz-box-wrap .quiz-btn-wrap > * {
  width: 110px;
  height: 40px;
  line-height: 40px;
  margin-top: -1px;
  font-size: 13px;
  text-align: center;
}

.quiz-box-wrap .quiz-btn-wrap .quiz-start {
  border: 1px solid #0038a9;
  background-color: #0038a9;
  color: #fff;
}