@charset "UTF-8";
/*=================================================
            바디
=================================================*/
html.submenu-open {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  font-family: "NANUMSQUARE-400", sans-serif;
  color: #333;
}

body.popup-body {
  min-width: 100%;
}

body.depth1 {
  background-color: #e9ecef;
}

body.depth2 {
  background-color: #f5f6f7;
}

body.depth3 {
  background-color: #f9f9f9;
}

body > * {
  flex: none;
}

/*================================
            폰트 컬러
================================*/
.font-point {
  color: #068467 !important;
}

.font-red {
  color: #e9411d !important;
}

.font-blue {
  color: #0038a9 !important;
}

.font-green {
  color: #068467 !important;
}

.font-yellow-green {
  color: #b7ca10 !important;
}

.font-gray {
  color: #999 !important;
}

.font-black {
  color: #000 !important;
}

.font-white {
  color: #fff !important;
}

/*================================
            배경 컬러
================================*/
.bg-point {
  background-color: #068467 !important;
}

.bg-point-light {
  background-color: #f8fafe !important;
}

.bg-red {
  background-color: #e9411d !important;
}

.bg-blue {
  background-color: #0038a9 !important;
}

.bg-green {
  background-color: #068467 !important;
}

.bg-yellow-green {
  background-color: #b7ca10 !important;
}

.bg-gray {
  background-color: #999 !important;
}

.bg-gray-light {
  background-color: #b5b5b5 !important;
}

.bg-white {
  background-color: #fff !important;
}

.header-nav {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px;
  background-color: #068467;
}

.header-nav .slyWrap {
  width: 100%;
  position: relative;
}

.header-nav .slyWrap::after {
  content: "";
  display: block;
  clear: both;
}

.header-nav .nav-wrap {
  display: flex;
  padding: 0 15px;
}

.header-nav .nav-wrap .nav-item {
  flex: 0 0 auto;
  position: relative;
  height: 50px;
  font-size: 16px;
  color: #fff;
  align-items: center;
  opacity: .6;
}

.header-nav .nav-wrap .nav-item a {
  display: flex;
  align-items: center;
  line-height: 1.4;
  padding: 0 15px;
  height: 100%;
}

.header-nav .nav-wrap .nav-item.active {
  opacity: 1;
}

.header-nav .nav-wrap .nav-item.active a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: .8;
}

/*=================================================
      콘텐츠 네비게이션 탭
=================================================*/
/*
@ .nav-tab-wrap
- 콘텐츠 내부에 사용. contnet-wrap 대신 사용됨
- scroll-wrap : 내부영역
- btn-more : 탭메뉴 더보기 버튼
- expansionPanel : 확장형
- line-style : 라인이 들어간 스타일
*/
.nav-tab-wrap {
  position: relative;
  height: 50px;
  background-color: #fff;
}

.nav-tab-wrap .slyWrap {
  width: 100%;
  position: relative;
}

.nav-tab-wrap .tab-wrap {
  height: 50px;
  overflow: hidden;
}

.nav-tab-wrap .tab-wrap .inner {
  display: flex;
  height: 100%;
}

.nav-tab-wrap .tab-wrap .tab-item {
  flex: none;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
}

.nav-tab-wrap .tab-wrap .tab-item a {
  display: block;
  padding: 0 15px;
  line-height: 50px;
}

.nav-tab-wrap .tab-wrap .tab-item.active {
  color: #068467;
}

.nav-tab-wrap.line-style:not(.open) {
  border-bottom: 1px solid #eee;
}

.nav-tab-wrap.line-style:not(.open) .tab-wrap {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-tab-wrap.line-style:not(.open) .tab-item {
  color: #000;
}

.nav-tab-wrap.line-style:not(.open) .tab-item.active {
  position: relative;
  color: #068467;
}

.nav-tab-wrap.line-style:not(.open) .tab-item.active a {
  font-weight: 700;
}

.nav-tab-wrap.line-style:not(.open) .tab-item.active a::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #068467;
}

.nav-tab-wrap.expansionPanel .tab-wrap .inner {
  padding-right: 40px;
}

.nav-tab-wrap.expansionPanel .slyWrap {
  position: static;
}

.nav-tab-wrap.expansionPanel .btn-more {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 49px;
  cursor: pointer;
}

.nav-tab-wrap.expansionPanel .btn-more::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0px;
  width: 60px;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.43) 16%, white 37%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.43) 16%, white 37%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.43) 16%, white 37%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  pointer-events: none;
}

.nav-tab-wrap.expansionPanel .btn-more::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../imgs/common/common_tab_icon_ellipsis.svg);
  background-repeat: no-repeat;
  background-size: 20px 4px;
  background-position: 50%;
  pointer-events: none;
}

.nav-tab-wrap.expansionPanel .tab-option-wrap .btn-close {
  background-color: #f7f7f9;
}

.nav-tab-wrap.expansionPanel.hasBtnMore .tab-wrap .inner {
  padding-right: 55px;
}

.nav-tab-wrap.expansionPanel.open {
  overflow: initial;
}

.nav-tab-wrap.expansionPanel.open::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.nav-tab-wrap.expansionPanel.open .tab-wrap {
  width: 100% !important;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 0;
  z-index: 100;
}

.nav-tab-wrap.expansionPanel.open .tab-wrap .inner {
  flex-wrap: wrap;
  width: 100% !important;
  padding: 8px 13px;
  background-color: #fff;
  transform: none !important;
}

.nav-tab-wrap.expansionPanel.open .tab-wrap .tab-item {
  position: relative;
  z-index: 200;
  width: 50%;
}

.nav-tab-wrap.expansionPanel.open .tab-wrap .tab-item a {
  line-height: 1.2;
  padding: 8px 2px;
}

@media screen and (min-width: 413px) {
  .nav-tab-wrap.expansionPanel.open .tab-wrap .tab-item {
    width: 33.333%;
  }
}

@media screen and (min-width: 768px) {
  .nav-tab-wrap.expansionPanel.open .tab-wrap .tab-item {
    width: 25%;
  }
}

.nav-tab-wrap.expansionPanel.open .tab-option-wrap {
  display: block;
}

.nav-tab-wrap.expansionPanel.open .btn-more {
  display: none !important;
}

.nav-tab-wrap.box-style {
  height: auto;
}

.nav-tab-wrap.box-style .tab-wrap {
  height: auto;
}

.nav-tab-wrap.box-style .tab-wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #068467;
}

.nav-tab-wrap.box-style .tab-wrap .inner {
  overflow-x: auto;
  overflow-y: hidden;
}

.nav-tab-wrap.box-style .tab-wrap .tab-item {
  flex: 0 1 auto;
  width: 100%;
  height: 46px;
  min-width: 120px;
  border: 1px solid #dadada;
  border-bottom: none;
  background: #fff;
  font-weight: 400;
  color: #999;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nav-tab-wrap.box-style .tab-wrap .tab-item {
    height: 50px;
  }
}

.nav-tab-wrap.box-style .tab-wrap .tab-item:not(:last-child) {
  border-right: none;
}

.nav-tab-wrap.box-style .tab-wrap .tab-item.active {
  position: relative;
  color: #068467;
  font-weight: 700;
}

.nav-tab-wrap.box-style .tab-wrap .tab-item.active::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #068467;
}

.nav-tab-wrap.box-style .tab-wrap .tab-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 13px 15px;
}

/*=================================================
          공통 레이아웃 (고정형 공통)
=================================================*/
.page-content-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
  min-height: calc(100vh - 320px);
  margin-top: 10px;
}

.page-content-wrap > * {
  flex: none;
}

/*
@ 콘텐츠 영역 (헤더, 바디 공통)
- contentWrapStyle
- content-wrap : 사이즈별로 나뉨
*/
.content-wrap, .content-wrap-md, .content-wrap-lg, .content-wrap-sm, .content-wrap-xs {
  background-color: #fff;
}

.content-wrap:not(:last-child), .content-wrap-md:not(:last-child), .content-wrap-lg:not(:last-child), .content-wrap-sm:not(:last-child), .content-wrap-xs:not(:last-child) {
  margin-bottom: 10px;
}

.content-wrap {
  padding-top: 30px;
  padding-bottom: 50px;
}

.content-wrap-md {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-wrap-lg {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-wrap-sm {
  padding-top: 18px;
  padding-bottom: 18px;
}

/*
@ 콘텐츠 헤더영역
- margin-bottom: 10px => 콘텐츠 사이 구분라인을 만들기 위함
- content-wrap : 헤더, 바디에 일반적으로사용
- content-wrap-sm : 헤더 콘텐츠 및 특수외국어영역 페이지 사용
*/
.page-content-header:not(:last-child) {
  margin-bottom: 10px;
}

.page-content-header .content-header + .content-body {
  margin-top: 18px;
}

/*
@ 콘텐츠 바디영역
- 콘텐츠가 들어가는 흰배경의 박스영역
- content-group : 콘텐츠영역 구분짓는 용도로 사용
*/
.page-content-body.h-full {
  flex: 1 1 auto;
  background-color: #fff;
}

.page-content-body .content-group {
  margin-bottom: 30px;
}

.page-content-body .content-group:last-child {
  margin-bottom: 0;
}

.page-content-body .content-wrap-sm .content-group:last-child {
  padding-bottom: 35px;
}

.page-content-body .content-group-lg {
  margin-bottom: 50px;
}

.page-content-body .content-header {
  margin-bottom: 15px;
}

.page-content-body .content-header::after {
  content: "";
  display: block;
  clear: both;
}

.has-arrow {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.has-arrow .content-arrow-wrap .btn-prev,
.has-arrow .content-arrow-wrap .btn-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -25px;
  background-image: url(../../imgs/common/common_slick_arrow.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40px;
  opacity: .3;
}

.has-arrow .content-arrow-wrap .btn-prev.on,
.has-arrow .content-arrow-wrap .btn-next.on {
  opacity: 1;
}

.has-arrow .content-arrow-wrap .btn-prev {
  left: 15px;
}

.has-arrow .content-arrow-wrap .btn-next {
  right: 15px;
  transform: rotate(-180deg);
}

/*=================================================
  [button] deaulft style 정의
=================================================*/
.btn-auto, .btn-xs, .btn-xs-180, .btn-sm, .btn-sm-full, .btn-md, .btn-md-200 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 700;
  color: #333;
  text-align: center;
  cursor: pointer;
}

.btn-auto:last-child, .btn-xs:last-child, .btn-xs-180:last-child, .btn-sm:last-child, .btn-sm-full:last-child, .btn-md:last-child, .btn-md-200:last-child {
  margin-right: 0;
}

.btn-auto:disabled, .btn-xs:disabled, .btn-xs-180:disabled, .btn-sm:disabled, .btn-sm-full:disabled, .btn-md:disabled, .btn-md-200:disabled {
  color: #999;
}

.btn-auto:disabled:not(.bg-white), .btn-xs:disabled:not(.bg-white), .btn-xs-180:disabled:not(.bg-white), .btn-sm:disabled:not(.bg-white), .btn-sm-full:disabled:not(.bg-white), .btn-md:disabled:not(.bg-white), .btn-md-200:disabled:not(.bg-white) {
  border: 1px solid #dadada;
  background-color: #f7f7f7 !important;
}

.btn-auto:disabled:focus, .btn-xs:disabled:focus, .btn-xs-180:disabled:focus, .btn-sm:disabled:focus, .btn-sm-full:disabled:focus, .btn-md:disabled:focus, .btn-md-200:disabled:focus {
  color: #999;
}

.btn-auto:disabled:hover, .btn-xs:disabled:hover, .btn-xs-180:disabled:hover, .btn-sm:disabled:hover, .btn-sm-full:disabled:hover, .btn-md:disabled:hover, .btn-md-200:disabled:hover {
  color: #999;
}

.btn-auto:disabled i, .btn-xs:disabled i, .btn-xs-180:disabled i, .btn-sm:disabled i, .btn-sm-full:disabled i, .btn-md:disabled i, .btn-md-200:disabled i {
  opacity: .2;
}

/*=================================================
  버튼전체영역
=================================================*/
.btn-wrap {
  margin-top: 30px;
  text-align: center;
}

.btn-link {
  line-height: 28px;
  font-size: 15px;
}

/*=================================================
  [button] size 정의
=================================================*/
.btn-xs {
  width: 100%;
  height: 45px;
}

.btn-xs-180 {
  width: 180px;
  height: 45px;
}

.btn-sm {
  width: 100%;
  height: 50px;
}

.btn-sm-full {
  position: relative;
  width: 100%;
  height: 50px;
  border-left: none !important;
  border-right: none !important;
}

.btn-md {
  width: 100%;
  height: 60px;
}

.btn-md-200 {
  width: 200px;
  height: 60px;
}

/*=================================================
  [button] color 정의
=================================================*/
.btn-point {
  background-color: #068467;
  font-weight: 400;
  color: #fff;
}

.btn-point:focus {
  color: #fff;
}

.btn-point:hover {
  color: #fff;
}

.btn-blue {
  background-color: #0038a9;
  font-weight: 400;
  color: #fff;
}

.btn-blue:focus {
  color: #fff;
}

.btn-blue:hover {
  color: #fff;
}

.btn-green {
  background-color: #068467;
  font-weight: 400;
  color: #fff;
}

.btn-green:focus {
  color: #fff;
}

.btn-green:hover {
  color: #fff;
}

.btn-outline {
  border: 1px solid #068467;
  color: #068467;
}

.btn-outline:focus {
  color: #068467;
}

.btn-outline:hover {
  color: #068467;
}

.btn-outline-deep-gray {
  border: 1px solid #ababab;
  background-color: #fff;
}

.btn-outline-gray {
  border: 1px solid #dadada;
  background-color: #fff;
  color: #555;
}

.btn-outline-gray:focus {
  color: #555;
}

.btn-outline-gray:hover {
  color: #555;
}

.btn-outline-gray-light {
  border: 1px solid #eeeff1;
  color: #000;
}

.btn-outline-gray-light:focus {
  color: #000;
}

.btn-outline-gray-light:hover {
  color: #000;
}

/*=================================================
  [button] icon 정의
=================================================*/
[class*="btn"] i {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 48%;
  background-size: contain;
  vertical-align: middle;
}

[class*="btn"] .icon-more {
  width: 10px;
  height: 6px;
  background-image: url(../../imgs/common/common_btn_icon_more.svg);
}

[class*="btn"] .icon-back {
  width: 6px;
  height: 10px;
  background-image: url(../../imgs/common/common_btn_icon_back.svg);
}

[class*="btn"] .icon-refresh {
  width: 16px;
  height: 20px;
  background-image: url(../../imgs/common/common_btn_icon_refresh.svg);
}

[class*="btn"] .icon-calender {
  width: 15px;
  height: 17px;
  background-image: url(../../imgs/common/common_icon_calender.svg);
}

[class*="btn"] .icon-list {
  width: 15px;
  height: 12px;
  background-image: url(../../imgs/common/common_icon_list.svg);
}

[class*="btn"] .icon-arrow-right {
  width: 10px;
  height: 10px;
  transform: rotate(270deg);
  background-image: url(../../imgs/common/common_btn_icon_more.svg);
  background-position: 50% 45%;
  background-size: 10px;
}

/*=================================================
    btn-go-top
=================================================*/
.btn-go-top {
  display: none;
  position: fixed;
  overflow: hidden;
  right: 20px;
  bottom: 75px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  z-index: 500;
}

.btn-go-top.has-footer {
  bottom: 65px;
}

.btn-go-top.show {
  display: block;
}

.btn-go-top:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url(../../imgs/common/icon_btn_top.png) no-repeat center/15px 8px;
}

.btn-go-top.bottom-fixed {
  position: absolute;
  top: -30px;
}

html.keypad-open .btn-go-top {
  bottom: 20px;
}

@media screen and (min-width: 992px) {
  .btn-go-top:hover {
    border: 0;
    background-color: #02388b;
    color: #fff;
  }
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="search"] {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #dadada;
  background-color: #fff;
  font-size: 14px;
  font-weight: 300;
  vertical-align: top;
  -webkit-appearance: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="search"] {
    padding-right: 30px;
  }
}

input[type="text"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, input[type="search"]::placeholder {
  font-family: "NANUMSQUARE-400", sans-serif;
  color: rgba(51, 51, 51, 0.5);
}

input[type="text"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled, input[type="search"]:disabled {
  color: #ababab;
  background-color: #f9f9f9;
}

input[type="text"]::-ms-clear, input[type="number"]::-ms-clear, input[type="password"]::-ms-clear, input[type="email"]::-ms-clear, input[type="search"]::-ms-clear {
  display: none;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

input[type="password"] {
  font-family:  "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif ;
}

.page-content-wrap.temp input {
  pointer-events: none;
}

.search-form {
  position: relative;
}

.search-form [type="search"] {
  padding-left: 14px;
  padding-right: 44px;
  border: 1px solid #068467;
}

.search-form .btn-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  background-image: url(../../imgs/common/common_search_icon_staff.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 17px;
  text-indent: -9999px;
}

.checkbox, .checkbox-circle, .checkbox-num-wrap .checkbox-num, .checkbox-radio, .checkbox-buttons-wrap .checkbox-button {
  display: flex;
  position: relative;
  width: 100%;
}

.checkbox .custom-checked, .checkbox-circle .custom-checked, .checkbox-num-wrap .checkbox-num .custom-checked, .checkbox-radio .custom-checked, .checkbox-buttons-wrap .checkbox-button .custom-checked {
  flex: none;
  position: relative;
  cursor: pointer;
}

.checkbox .custom-checked::before, .checkbox-circle .custom-checked::before, .checkbox-num-wrap .checkbox-num .custom-checked::before, .checkbox-radio .custom-checked::before, .checkbox-buttons-wrap .checkbox-button .custom-checked::before, .checkbox .custom-checked::after, .checkbox-circle .custom-checked::after, .checkbox-num-wrap .checkbox-num .custom-checked::after, .checkbox-radio .custom-checked::after, .checkbox-buttons-wrap .checkbox-button .custom-checked::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
}

.checkbox .custom-checked + .text, .checkbox-circle .custom-checked + .text, .checkbox-num-wrap .checkbox-num .custom-checked + .text, .checkbox-radio .custom-checked + .text, .checkbox-buttons-wrap .checkbox-button .custom-checked + .text {
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
  line-height: 1.6;
}

.checkbox .text, .checkbox-circle .text, .checkbox-num-wrap .checkbox-num .text, .checkbox-radio .text, .checkbox-buttons-wrap .checkbox-button .text {
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.circle.checkbox:before, .circle.checkbox-circle:before, .checkbox-num-wrap .circle.checkbox-num:before, .circle.checkbox-radio:before, .checkbox-buttons-wrap .circle.checkbox-button:before,
.circle.checkbox .custom-checked,
.circle.checkbox-circle .custom-checked,
.checkbox-num-wrap .circle.checkbox-num .custom-checked,
.circle.checkbox-radio .custom-checked,
.checkbox-buttons-wrap .circle.checkbox-button .custom-checked {
  border-radius: 50%;
}

.checkbox [type=radio]:checked ~ .custom-checked:after, .checkbox-circle [type=radio]:checked ~ .custom-checked:after, .checkbox-num-wrap .checkbox-num [type=radio]:checked ~ .custom-checked:after, .checkbox-radio [type=radio]:checked ~ .custom-checked:after, .checkbox-buttons-wrap .checkbox-button [type=radio]:checked ~ .custom-checked:after,
.checkbox [type=checkbox]:checked ~ .custom-checked:after,
.checkbox-circle [type=checkbox]:checked ~ .custom-checked:after,
.checkbox-num-wrap .checkbox-num [type=checkbox]:checked ~ .custom-checked:after,
.checkbox-radio [type=checkbox]:checked ~ .custom-checked:after,
.checkbox-buttons-wrap .checkbox-button [type=checkbox]:checked ~ .custom-checked:after {
  display: block;
}

.checkbox [type=radio]:disabled ~ .custom-checked, .checkbox-circle [type=radio]:disabled ~ .custom-checked, .checkbox-num-wrap .checkbox-num [type=radio]:disabled ~ .custom-checked, .checkbox-radio [type=radio]:disabled ~ .custom-checked, .checkbox-buttons-wrap .checkbox-button [type=radio]:disabled ~ .custom-checked,
.checkbox [type=checkbox]:disabled ~ .custom-checked,
.checkbox-circle [type=checkbox]:disabled ~ .custom-checked,
.checkbox-num-wrap .checkbox-num [type=checkbox]:disabled ~ .custom-checked,
.checkbox-radio [type=checkbox]:disabled ~ .custom-checked,
.checkbox-buttons-wrap .checkbox-button [type=checkbox]:disabled ~ .custom-checked {
  cursor: default;
}

.checkbox [type=radio]:disabled ~ .custom-checked:after, .checkbox-circle [type=radio]:disabled ~ .custom-checked:after, .checkbox-num-wrap .checkbox-num [type=radio]:disabled ~ .custom-checked:after, .checkbox-radio [type=radio]:disabled ~ .custom-checked:after, .checkbox-buttons-wrap .checkbox-button [type=radio]:disabled ~ .custom-checked:after,
.checkbox [type=checkbox]:disabled ~ .custom-checked:after,
.checkbox-circle [type=checkbox]:disabled ~ .custom-checked:after,
.checkbox-num-wrap .checkbox-num [type=checkbox]:disabled ~ .custom-checked:after,
.checkbox-radio [type=checkbox]:disabled ~ .custom-checked:after,
.checkbox-buttons-wrap .checkbox-button [type=checkbox]:disabled ~ .custom-checked:after {
  display: block;
}

.checkbox [type=radio]:disabled ~ .text, .checkbox-circle [type=radio]:disabled ~ .text, .checkbox-num-wrap .checkbox-num [type=radio]:disabled ~ .text, .checkbox-radio [type=radio]:disabled ~ .text, .checkbox-buttons-wrap .checkbox-button [type=radio]:disabled ~ .text,
.checkbox [type=checkbox]:disabled ~ .text,
.checkbox-circle [type=checkbox]:disabled ~ .text,
.checkbox-num-wrap .checkbox-num [type=checkbox]:disabled ~ .text,
.checkbox-radio [type=checkbox]:disabled ~ .text,
.checkbox-buttons-wrap .checkbox-button [type=checkbox]:disabled ~ .text {
  cursor: default;
}

.checkbox .custom-checked {
  width: 15px;
  height: 15px;
}

.checkbox .custom-checked:before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.checkbox .custom-checked:after {
  display: none;
  top: 50%;
  left: 4px;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  background-color: #333;
}

.checkbox [type=radio]:disabled ~ .custom-checked:after,
.checkbox [type=checkbox]:disabled ~ .custom-checked:after {
  background-color: #ccc;
}

.checkbox-circle .custom-checked {
  width: 30px;
  height: 30px;
}

.checkbox-circle .custom-checked:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
}

.checkbox-circle .custom-checked:after {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-image: url(../../imgs/common/common_icon_circular_check_blue.svg);
}

.checkbox-circle [type=radio]:disabled ~ .custom-checked::before,
.checkbox-circle [type=checkbox]:disabled ~ .custom-checked::before {
  background-color: #f9f9f9;
}

.checkbox-circle [type=radio]:disabled ~ .custom-checked:after,
.checkbox-circle [type=checkbox]:disabled ~ .custom-checked:after {
  display: none;
}

.checkbox-num-wrap {
  counter-reset: numbering;
}

.checkbox-num-wrap .checkbox-num [type=checkbox]:checked ~ .custom-checked:before,
.checkbox-num-wrap .checkbox-num [type=radio]:checked ~ .custom-checked:before {
  border: none;
  background-color: #068467;
}

.checkbox-num-wrap .checkbox-num [type=checkbox]:checked ~ .custom-checked:after,
.checkbox-num-wrap .checkbox-num [type=radio]:checked ~ .custom-checked:after {
  color: #fff;
}

.checkbox-num-wrap .checkbox-num [type=checkbox]:checked ~ .text,
.checkbox-num-wrap .checkbox-num [type=radio]:checked ~ .text {
  color: #068467;
}

.checkbox-num-wrap .checkbox-num [type=checkbox]:disabled ~ .custom-checked:before,
.checkbox-num-wrap .checkbox-num [type=radio]:disabled ~ .custom-checked:before {
  background-color: #f9f9f9;
}

.checkbox-num-wrap .checkbox-num [type=checkbox]:disabled ~ .custom-checked:after,
.checkbox-num-wrap .checkbox-num [type=radio]:disabled ~ .custom-checked:after {
  color: #ababab;
}

.checkbox-num-wrap .checkbox-num .custom-checked {
  width: 30px;
  height: 30px;
}

.checkbox-num-wrap .checkbox-num .custom-checked:before {
  content: '';
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.checkbox-num-wrap .checkbox-num .custom-checked:after {
  counter-increment: numbering;
  content: counter(numbering);
  top: 50%;
  left: 50%;
  margin-left: -14%;
  border-radius: 50%;
  font-size: 13px;
  color: #666;
  transform: translateY(-50%);
}

.checkbox-radio .custom-checked {
  width: 20px;
  height: 20px;
}

.checkbox-radio .custom-checked:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
}

.checkbox-radio .custom-checked::after {
  display: none;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #068467;
  transform: translate(-50%, -50%);
}

.checkbox-radio [type=radio]:checked ~ .custom-checked::before,
.checkbox-radio [type=checkbox]:checked ~ .custom-checked::before {
  border-color: #068467;
}

.checkbox-radio [type=radio]:disabled ~ .custom-checked::after,
.checkbox-radio [type=checkbox]:disabled ~ .custom-checked::after {
  background-color: #ccc;
}

.checkbox-radio [type=radio]:disabled ~ .custom-checked::before,
.checkbox-radio [type=checkbox]:disabled ~ .custom-checked::before {
  border-color: #ccc;
}

.checkbox-buttons-wrap {
  border-left: 1px solid #ccc;
}

.checkbox-buttons-wrap .checkbox-button {
  align-items: center;
  height: 45px;
  margin-bottom: -1px;
  padding: 10px 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;
}

@media screen and (max-width: 374px) {
  .checkbox-buttons-wrap .checkbox-button {
    padding: 10px;
  }
}

.checkbox-buttons-wrap .checkbox-button .custom-checked {
  position: static;
}

.checkbox-buttons-wrap .checkbox-button .custom-checked::after {
  content: '';
  z-index: 10;
  display: block;
  position: relative;
  width: 0;
  height: 6px;
  background-image: url(../../imgs/common/common_icon_check_white.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  transition: .1s;
}

.checkbox-buttons-wrap .checkbox-button .custom-checked::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkbox-buttons-wrap .checkbox-button .text {
  display: inline-block;
  padding-left: 0 !important;
  font-size: 14px;
  z-index: 1;
  color: #333;
}

.checkbox-buttons-wrap .checkbox-button [type=checkbox]:checked ~ .custom-checked,
.checkbox-buttons-wrap .checkbox-button [type=radio]:checked ~ .custom-checked {
  padding-right: 10px;
}

.checkbox-buttons-wrap .checkbox-button [type=checkbox]:checked ~ .custom-checked::after,
.checkbox-buttons-wrap .checkbox-button [type=radio]:checked ~ .custom-checked::after {
  width: 8px;
}

.checkbox-buttons-wrap .checkbox-button [type=checkbox]:checked ~ .custom-checked::before,
.checkbox-buttons-wrap .checkbox-button [type=radio]:checked ~ .custom-checked::before {
  background-color: #068467;
}

.checkbox-buttons-wrap .checkbox-button [type=checkbox]:checked ~ .text,
.checkbox-buttons-wrap .checkbox-button [type=radio]:checked ~ .text {
  color: #fff;
}

.checkbox-buttons-wrap .checkbox-button [type=checkbox]:disabled ~ .custom-checked::before,
.checkbox-buttons-wrap .checkbox-button [type=radio]:disabled ~ .custom-checked::before {
  background-color: #f9f9f9;
}

.checkbox-buttons-wrap .checkbox-button [type=checkbox]:disabled ~ .text,
.checkbox-buttons-wrap .checkbox-button [type=radio]:disabled ~ .text {
  color: #ccc;
}

.checkbox-buttons-wrap .checkbox-button.justify-center [type=radio]:checked ~ .custom-checked,
.checkbox-buttons-wrap .checkbox-button.justify-center [type=checkbox]:checked ~ .custom-checked {
  padding-right: 10px;
}

.checkbox-buttons-wrap .checkbox-button.justify-center .text {
  padding-left: 0;
}

/*=================================================
        card style
=================================================*/
.card-feedback-label {
  position: absolute;
  right: 15px;
  top: 20px;
  display: flex;
  align-items: center;
  width: 111px;
  height: 30px;
  padding: 0 15px;
  background-color: #068467;
  background-image: url(../../imgs/main/icon_line_arrow_white.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 13px;
  font-weight: 700;
  color: #fff !important;
  z-index: 5;
}

.card-right-label {
  position: absolute;
  right: 44px;
  min-width: 111px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 15px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 13px;
  font-weight: 700;
  z-index: 5;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #dadada;
  padding: 20px 20px;
  transition: all .5s;
  outline: none;
}

@media screen and (min-width: 413px) {
  .card-wrap {
    padding: 20px 30px;
  }
}

.card-wrap .card-head {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex: 1 0 auto;
}

.card-wrap .card-head .card-label {
  width: 100%;
}

.card-wrap .card-head .card-label .item {
  display: inline-block;
  min-width: 85px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  padding: 0 5px;
  background-color: #bbb;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.card-wrap .card-head .card-flag-img {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid #dadada;
  overflow: hidden;
}

@media screen and (min-width: 413px) {
  .card-wrap .card-head .card-flag-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
}

.card-wrap .card-head .card-flag-img img {
  height: 100%;
}

.card-label + .card-wrap .card-head .card-flag-img {
  top: 44px;
}

.card-wrap .card-head .card-title-wrap {
  flex: 1 1 0px;
  width: 100%;
}

.card-wrap .card-head .card-title-wrap .card-category {
  display: inline-flex;
  margin-bottom: 4px;
}

.card-wrap .card-head .card-title-wrap .card-category .item {
  position: relative;
  line-height: 1.6;
  font-size: 13px;
}

.card-wrap .card-head .card-title-wrap .card-category .item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
}

.card-wrap .card-head .card-title-wrap .card-category .item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 13px;
  background-color: #eee;
  transform: translateY(-50%);
}

.card-wrap .card-head .card-title-wrap .card-subtitle {
  font-size: 16px;
  line-height: 1.5;
  word-break: keep-all;
  letter-spacing: 0;
}

.card-wrap .card-head .card-title-wrap .card-subtitle b {
  font-weight: 800;
}

.card-wrap .card-head .card-title-wrap .card-title {
  line-height: 1.3;
  font-size: 18px;
  font-weight: 800;
}

.card-wrap .card-head .card-title-wrap .card-title .list-label-wrap {
  display: inline-flex;
  margin-right: 5px;
}

.card-wrap .card-body .card-items-wrap:first-child {
  margin-top: 15px;
  padding-top: 13px;
  border-top: 1px solid #dadada;
}

.card-wrap .card-body .card-desc:first-child {
  line-height: 1.38;
  margin-top: 17px;
  margin-bottom: 20px;
  padding-top: 17px;
  border-top: 1px solid #dadada;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-wrap .card-body .card-cell-wrap:first-child {
  margin-top: 17px;
  margin-bottom: 27px;
  padding-top: 18px;
  border-top: 1px solid #dadada;
}

.card-cell-items {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px;
}

.card-cell-items .card-cell-title {
  display: flex;
  align-items: center;
  width: 92px;
  flex: none;
}

.card-cell-items .card-cell-title:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -1px;
}

.card-items-wrap .card-items {
  position: relative;
  line-height: 1.8;
  margin-bottom: 5px;
  padding-left: 25px;
  font-size: 13px;
}

.card-items-wrap .card-items:last-child {
  margin-bottom: 0;
}

.card-items-wrap .card-items:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.card-items-wrap .card-items.icon-campus {
  color: #333;
  font-weight: 700;
}

.card-items-wrap .card-items.icon-campus:before {
  background-image: url(../../imgs/common/common_icon_campus.svg);
}

.card-items-wrap .card-items.icon-name:before {
  background-image: url(../../imgs/common/common_icon_user.svg);
}

.card-items-wrap .card-items.icon-date:before {
  background-image: url(../../imgs/common/common_icon_calender.svg);
}

.card-items-wrap .card-items.icon-info:before {
  background-image: url(../../imgs/common/common_icon_info.svg);
}

.card-type2 .card-wrap,
.card-type3 .card-wrap {
  position: relative;
  padding: 15px;
}

.card-type2 .card-wrap .card-head .card-title-wrap,
.card-type3 .card-wrap .card-head .card-title-wrap {
  padding-left: 0;
}

.card-type2 .card-wrap .card-head .card-title-wrap .card-title,
.card-type3 .card-wrap .card-head .card-title-wrap .card-title {
  line-height: 1.7;
  font-size: 20px;
  padding-bottom: 5px;
}

.card-type2 .card-wrap .card-head .card-title-wrap .card-subtitle,
.card-type3 .card-wrap .card-head .card-title-wrap .card-subtitle {
  margin-bottom: 0;
}

.card-type2 .card-wrap .card-head .card-title-wrap .card-category .item,
.card-type3 .card-wrap .card-head .card-title-wrap .card-category .item {
  font-size: 15px;
}

.card-type4 {
  padding-bottom: 24px !important;
}

.card-type4:last-child, .card-type4:nth-last-child(2) {
  padding-bottom: 0 !important;
}

.card-type4 .card-wrap {
  padding: 28px;
}

.card-type4 .card-wrap .card-head {
  flex: none;
}

.card-type4 .card-wrap .card-head .card-title-wrap {
  padding-left: 0;
}

.card-type4 .card-wrap .card-head .card-title-wrap .card-title {
  padding-bottom: 0;
}

.card-type4 .card-wrap .card-body {
  flex: 1 0 auto;
}

.card-type4 .card-wrap .card-body .card-desc2 {
  height: 48px;
  margin-top: 17px;
  margin-bottom: 20px;
  overflow: hidden;
}

.card-footer {
  margin-top: 15px;
}

.card-footer .card-desc-wrap + .card-btn-wrap {
  margin-top: 10px;
}

/*=================================================
      일반적인 공통 타이틀
=================================================*/
.common-title-wrap .title-lg {
  line-height: 1.5;
  font-size: 24px;
  word-break: keep-all;
}

.common-title-wrap .title-lg:not(:last-child) {
  margin-bottom: 14px;
}

.common-title-wrap .title-lg:last-child {
  margin-bottom: 6px;
}

.common-title-wrap .title-md {
  line-height: 1.5;
  font-size: 20px;
  word-break: keep-all;
}

.common-title-wrap .title-md:not(:last-child) {
  margin-bottom: 4px;
}

.common-title-wrap .title-sm {
  line-height: 1.5;
  font-size: 18px;
  word-break: keep-all;
}

.common-title-wrap .title-sm:not(:last-child) {
  margin-bottom: 4px;
}

.common-title-wrap .sub-title {
  line-height: 1.7;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
}

.common-title-wrap .desc {
  line-height: 1.5;
  font-size: 15px;
  word-break: keep-all;
}

.common-title-wrap .desc-sm {
  line-height: 1.7;
  font-size: 14px;
  word-break: keep-all;
}

.common-title-wrap .logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 36px;
}

.common-title-wrap .logo-img .img {
  width: 174px;
}

.common-title-wrap .logo-img + [class*="title"] {
  margin-top: 25px;
}

header {
  position: relative;
  width: 100%;
  z-index: 800;
  /*=================================================
        네비게이션바(GNB)
  =================================================*/
  /*=================================================
        검색창
  =================================================*/
  /*=================================================
        스크롤다운 고정영역 스타일
  =================================================*/
}

header .header-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 13px 15px;
  background-color: #fff;
}

header .header-bar.bg-point {
  background-color: #068467;
}

header .header-bar.bg-point .header-title .title {
  color: #fff;
}

header .header-bar.bg-point .btn-header-close {
  background-image: url(../../imgs/common/common_header_icon_close_white.svg);
  background-size: 24px 19px;
}

header .header-bar.header-profile {
  height: 230px;
}

header .header-bar.header-profile .profile-content-wrap {
  padding-top: 8px;
}

header .header-bar .header-title {
  display: flex;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .header-bar .header-title .title {
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  color: #000;
}

header .header-bar .header-title .logo-img {
  display: flex;
  align-items: center;
  height: 100%;
}

header .header-bar .header-title .logo-img .img {
  width: 174px;
}

header .header-bar .left-area,
header .header-bar .right-area {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-start;
  height: 100%;
  margin: 0 -5px;
}

header .header-bar .left-area {
  margin-right: auto;
}

header .header-bar .right-area {
  margin-left: auto;
}

header .header-bar [class*="btn-header"] {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 5px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

header .header-bar .btn-header-menu {
  background-image: url(../../imgs/common/common_header_icon_buger.svg);
  background-size: 24px 20px;
}

header .header-bar .btn-header-home {
  background-image: url(../../imgs/common/common_header_icon_home.svg);
  background-size: 24px 24px;
}

header .header-bar .btn-header-back {
  background-image: url(../../imgs/common/common_header_icon_back.svg);
  background-size: 12px 19px;
  background-position: 0% 50%;
}

header .header-bar .btn-header-close {
  background-image: url(../../imgs/common/common_header_icon_close.svg);
  background-size: 24px 19px;
}

header .header-bar .btn-header-mypage {
  background-image: url(../../imgs/common/common_header_icon_mypage.svg);
  background-size: 22px 24px;
}

header .header-bar .btn-header-calender {
  background-image: url(../../imgs/common/common_header_icon_calender.svg);
  background-size: 24px 24px;
}

header .header-search {
  padding: 0 15px 20px;
  background-color: #fff;
}

header .header-fixed {
  height: 50px;
}

header .header-fixed .inner {
  position: relative;
}

header .header-fixed .inner.fixed-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}

header .header-nav {
  z-index: 100;
}

.fixed-in header .header-nav {
  animation: slideDownAnimation .4s forwards;
}

.fixed-in .nav-search + header .header-nav {
  animation: slideDownAnimation .5s forwards;
}

.fixed-out .nav-search + header .header-nav {
  animation: slideUpAnimation .3s forwards;
}

header .nav-search {
  display: none;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 4px 0 4px 15px;
  border-bottom: 1px solid #dadada;
  background-color: #fff;
  z-index: 200;
  overflow: hidden;
}

header .nav-search .logo-img {
  flex: none;
  height: 22px;
  padding-right: 15px;
  border-right: 1px solid #e2e5e8;
}

header .nav-search .logo-img a {
  display: block;
}

header .nav-search .logo-img .img {
  width: 44px;
}

header .nav-search .search-form {
  flex: 1 1 auto;
}

header .nav-search .search-form [type="search"] {
  border: none;
}

.fixed-in header .nav-search {
  display: flex;
  height: auto;
  transform: translateY(-100%);
  opacity: 1;
  animation: slideDownAnimation .4s forwards;
}

.fixed-out header .nav-search {
  display: flex;
  animation: slideUpAnimation .6s forwards;
  height: 0;
  padding: 0;
  opacity: 0;
}

/*=================================================
        애니메이션
=================================================*/
@-webkit-keyframes slideUpAnimation {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideUpAnimation {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideUpAnimation {
  from {
    -o-transform: translateY(100%);
  }
  to {
    -o-transform: translateY(0);
  }
}

@keyframes slideUpAnimation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideDownAnimation {
  from {
    -webkit-transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDownAnimation {
  from {
    -moz-transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDownAnimation {
  from {
    -o-transform: translateY(-100%);
  }
  to {
    -o-transform: translateY(0);
  }
}

@keyframes slideDownAnimation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.dotdotdot {
  visibility: hidden;
}

.dotdotdot.dot-complete {
  visibility: visible;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-container--default {
  /* 단일형 셀렉트 스타일 정의 */
  /* 복수형 셀렉트 스타일 정의 */
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  clear: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/*
@ SELECT 사이즈 정의
- data-select2-size속성을 추가하여 select의 크기를 정의할 수 있습니다.
- media size 선언이 가능합니다.

@ 사용법 예시
- data-select2-size="sm"
- data-select2-size="phone"

@ 주의사항
- height 미선언 시 $selection-default-height 사이즈로 자동 셋팅됩니다.
*/
.select2js[data-select2-size='sm'],
.select2Link[data-select2-size='sm'] {
  width: 120px;
  height: 45px;
  border: 1px solid #dadada;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  padding: 9px 10px;
}

.select2js[data-select2-size='md'],
.select2Link[data-select2-size='md'] {
  width: 150px;
  height: 45px;
  border: 1px solid #dadada;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  padding: 9px 10px;
}

@media screen and (min-width: 768px) {
  .select2js[data-select2-size='md'],
  .select2Link[data-select2-size='md'] {
    width: 155px;
  }
}

@media screen and (min-width: 992px) {
  .select2js[data-select2-size='md'],
  .select2Link[data-select2-size='md'] {
    width: 160px;
  }
}

@media screen and (min-width: 1200px) {
  .select2js[data-select2-size='md'],
  .select2Link[data-select2-size='md'] {
    width: 180px;
  }
}

.select2js[data-select2-size='phone'],
.select2Link[data-select2-size='phone'] {
  width: calc(33.333% - 8px);
  height: 45px;
  border: 1px solid #dadada;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  padding: 9px 10px;
}

.select2-container--style1 {
  min-height: 45px;
  color: #333;
}

.select2-container--style1 .select2-selection--single {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 9px 10px;
  border: 1px solid #dadada;
  background-color: #fff;
  outline: 0;
}

.form-group.invalid .select2-container--style1 .select2-selection--single {
  border-color: red;
}

.select2-container--style1 .select2-selection--single .select2-selection__rendered {
  flex: 1;
  padding-left: 0;
  padding-right: 10px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container--style1 .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  clear: right;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--style1 .select2-selection--single .select2-selection__placeholder {
  color: #ababab;
}

.select2-container--style1 .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 30px;
  height: calc(100% - 2px);
  border: none;
}

.select2-container--style1 .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  width: 30px;
  height: 45px;
  top: 50%;
  left: 50%;
  background-image: url(../../imgs/common/common_select_icon_arrow.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 8px 5px;
  transform: translate(-50%, -50%);
}

.select2-container--style1.select2-container--open .select2-selection--single {
  border: 1px solid #dadada;
}

.select2-container--style1.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(180deg);
  transform-origin: 25% 25%;
}

.select2-container--style1.select2-sm .select2-selection--single {
  padding: 9px 10px;
}

.select2-container--style1.select2-md .select2-selection--single {
  padding: 9px 10px;
}

.select2-container--style1.select2-phone .select2-selection--single {
  padding: 9px 10px;
}

.select2-container--style1 .select2-selection--multiple {
  min-height: 45px;
  padding: 9px 10px;
  background-color: #fff;
  border: 1px solid #dadada;
  font-size: 0;
  outline: 0;
  cursor: text;
}

.select2-container--style1 .select2-selection--multiple:focus {
  border: 1px solid #dadada;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__rendered {
  width: 100%;
  max-width: 100%;
  list-style: none;
  margin: 0;
  padding-top: 1px;
  padding-bottom: 0;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
  max-width: 100%;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field {
  max-width: 100%;
  margin-top: 0;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__clear {
  float: right;
  margin-top: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__choice {
  float: left;
  max-width: 100%;
  margin-right: 5px;
  margin-top: 5px;
  padding: 2px 5px;
  background-color: #e4e4e4;
  border: 1px solid #dadada;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--style1.select2-container--open .select2-selection--multiple {
  border: 1px solid #dadada;
}

.select2-container--style1.select2-sm .select2-selection--multiple {
  padding: 9px 10px;
}

.select2-container--style1.select2-md .select2-selection--multiple {
  padding: 9px 10px;
}

.select2-container--style1.select2-phone .select2-selection--multiple {
  padding: 9px 10px;
}

.select2-container--style1.select2-container--disabled {
  color: #ddd;
}

.select2-container--style1.select2-container--disabled .select2-selection {
  cursor: default;
  background-color: #f7f7f7;
}

.select2-container--style1 .select2-search--dropdown .select2-search__field {
  border: 1px solid #ddd;
  outline: 0;
}

.select2-container--style1 .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
  height: 100%;
  line-height: 1.5;
  padding: 10px 0;
  font-size: 14px;
  color: #333;
}

.select2-container--style1 .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
}

.select2-container--style1 .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--style1 .select2-dropdown--below {
  border-top: none;
}

.select2-container--style1 .select2-results > .select2-results__options {
  overflow-y: auto;
  max-height: 135px;
}

.select2-container--style1 .select2-results__option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 45px;
  line-height: 1.5;
  padding: 9px 10px;
  font-size: 14px;
  color: #333;
  word-break: break-all;
}

.select2-container--style1 .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--style1 .select2-results__option[aria-disabled=true] {
  color: #f9f9f9;
}

.select2-container--style1 .select2-results__option--highlighted[aria-selected] {
  background-color: #f9f9f9;
  color: #000;
}

.select2-container--style1 .select2-results__group {
  cursor: default;
  display: block;
  padding: 9px 10px;
}

.select2-container--style1.select2-container--open .select2-dropdown {
  border-color: #dadada;
}

.select2-container--style1.select2-sm {
  width: 120px !important;
  min-height: 45px;
}

.select2-container--style1.select2-sm .select2-results > .select2-results__options {
  max-height: 135px;
}

.select2-container--style1.select2-sm .select2-results__option {
  min-height: 45px;
}

.select2-container--style1.select2-md {
  width: 150px !important;
  min-height: 45px;
}

.select2-container--style1.select2-md .select2-results > .select2-results__options {
  max-height: 135px;
}

.select2-container--style1.select2-md .select2-results__option {
  min-height: 45px;
}

@media screen and (min-width: 768px) {
  .select2-container--style1.select2-md {
    width: 155px !important;
    min-height: 45px;
  }
  .select2-container--style1.select2-md .select2-results > .select2-results__options {
    max-height: 135px;
  }
  .select2-container--style1.select2-md .select2-results__option {
    min-height: 45px;
  }
}

@media screen and (min-width: 992px) {
  .select2-container--style1.select2-md {
    width: 160px !important;
    min-height: 45px;
  }
  .select2-container--style1.select2-md .select2-results > .select2-results__options {
    max-height: 135px;
  }
  .select2-container--style1.select2-md .select2-results__option {
    min-height: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .select2-container--style1.select2-md {
    width: 180px !important;
    min-height: 45px;
  }
  .select2-container--style1.select2-md .select2-results > .select2-results__options {
    max-height: 135px;
  }
  .select2-container--style1.select2-md .select2-results__option {
    min-height: 45px;
  }
}

.select2-container--style1.select2-phone {
  width: calc(33.333% - 8px) !important;
  min-height: 45px;
}

.select2-container--style1.select2-phone .select2-results > .select2-results__options {
  max-height: 135px;
}

.select2-container--style1.select2-phone .select2-results__option {
  min-height: 45px;
}

/*=================================================
      slick 공통
=================================================*/
.slick-dots {
  margin: 5px auto 0;
  padding: 0 15px;
  text-align: center;
  font-size: 0;
}

.slick-dots li {
  display: inline-block;
  font-size: 0;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 2px solid #068467;
  border-radius: 50%;
  text-indent: -9999px;
}

.slick-dots li.slick-active {
  background-color: #068467;
}

.slick-dots li:not(.slick-active) {
  cursor: pointer;
}

/*=================================================
        푸터
=================================================*/
#footer {
  background-color: #000;
  min-height: 250px;
}

#footer .footer-top {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 0 10px;
}

#footer .footer-top .footer-term {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

@media screen and (min-width: 376px) {
  #footer .footer-top .footer-term {
    margin: 0 -15px;
  }
}

#footer .footer-top .footer-term .item {
  flex: none;
  position: relative;
  line-height: 1.8;
  padding: 0 10px;
  font-size: 13px;
  color: #ddd;
}

@media screen and (min-width: 376px) {
  #footer .footer-top .footer-term .item {
    padding: 0 15px;
  }
}

#footer .footer-top .footer-term .item:after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 1px;
  height: 8px;
  background-color: #fff;
}

#footer .footer-top .footer-term .item:last-child::after {
  display: none;
}

#footer .company-info-wrap {
  text-align: center;
}

#footer .company-info-wrap .item {
  line-height: 1.7;
  font-size: 13px;
  color: #ddd;
}

#footer .company-info-wrap .item.copyright {
  line-height: 1.45;
  font-size: 11px;
  padding: 15px 0;
  letter-spacing: 0;
  word-break: keep-all;
}

#footer .company-info-wrap .footer-logo {
  padding: 15px 0 20px;
}

#footer .company-info-wrap .footer-logo .img-logo {
  width: 174px;
}

/*=================================================
    프로젝트 공통 알림 팝업 커스텀
=================================================*/
.alert-modal {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1500;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert-modal .modal-dialog {
  width: 100%;
  max-width: 384px;
  margin: 75px auto;
  background-color: #fff;
}

.alert-modal .modal-dialog .modal-header {
  position: relative;
  height: 51px;
  padding: 0 15px;
  border-bottom: 1px solid #ced4da;
}

.alert-modal .modal-dialog .modal-header .modal-title {
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
}

.alert-modal .modal-dialog .modal-header .btn-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url(/template/lms/imgs/common/common_modal_icon_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}

.alert-modal .modal-dialog .modal-body {
  padding: 30px 15px 15px 15px;
}

.alert-modal .modal-dialog .modal-body .modal-text {
  line-height: 1.66;
  font-size: 18px;
}

.alert-modal .modal-dialog .modal-body .modal-text + .modal-subtext {
  margin-top: 18px;
}

.alert-modal .modal-dialog .modal-body .modal-subtext {
  line-height: 1.73;
  font-size: 15px;
}

.alert-modal .modal-dialog .modal-footer {
  padding: 15px;
}

.alert-modal .modal-dialog .modal-footer .btn-wrap {
  margin-top: 0;
}

.modal-open {
  overflow: hidden;
}

/*=================================================
          서브클래스
=================================================*/
.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-nowrap [class*=col-],
.flex-nowrap [class*=ten-col-] {
  flex-shrink: 1 !important;
}

.bg-full {
  background-color: #fff !important;
}

.bg-none {
  background-color: transparent !important;
}

.read-only {
  pointer-events: none;
}

/*=================================================
          공통스타일
=================================================*/
.desc {
  line-height: 1.6;
  font-size: 15px;
  word-break: keep-all;
}

.img-frame {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
  background-image: url(../../imgs/common/common_icon_profile.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.content-textarea {
  width: 100%;
  line-height: 1.7;
  font-size: 14px;
  outline: none;
}

.content-textarea[contenteditable=false]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  min-height: 80px;
  color: #000;
  word-break: keep-all;
}

.content-textarea[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  color: #aaa;
}

.info-item-wrap {
  display: flex;
  align-self: center;
}

.info-item-wrap .item {
  position: relative;
  padding-right: 20px;
}

.info-item-wrap .item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 1px;
  height: 13px;
  background-color: #eeeeee;
  transform: translateY(-50%);
}

.info-item-wrap .item:last-child {
  padding-right: 0;
}

.info-item-wrap .item:last-child::after {
  display: none;
}

.info-item-wrap .item .title {
  display: inline-block;
  font-weight: 700;
  margin-right: 2px;
}

.info-item-wrap .item .desc {
  display: inline-block;
}

.slyWrap {
  touch-action: none;
}

/*=================================================
      박스형 콘텐츠
=================================================*/
.box-wrap, .box-wrap-sm, .box-wrap-md, .img-box-wrap {
  border: 1px solid #dadada;
}

.bg-gray.box-wrap, .bg-gray.box-wrap-sm, .bg-gray.box-wrap-md, .bg-gray.img-box-wrap {
  background-color: #f9f9f9 !important;
}

.border-top-point.box-wrap, .border-top-point.box-wrap-sm, .border-top-point.box-wrap-md, .border-top-point.img-box-wrap {
  border-top: 2px solid #068467;
}

.border-none.box-wrap, .border-none.box-wrap-sm, .border-none.box-wrap-md, .border-none.img-box-wrap {
  border: none;
}

.box-wrap .box-hader, .box-wrap-sm .box-hader, .box-wrap-md .box-hader, .img-box-wrap .box-hader {
  display: flex;
  font-size: 15px;
  margin-bottom: 8px;
}

.box-wrap .box-list-wrap, .box-wrap-sm .box-list-wrap, .box-wrap-md .box-list-wrap, .img-box-wrap .box-list-wrap {
  padding: 8px 0;
}

.box-wrap .box-list-wrap .box-list:not(:last-child), .box-wrap-sm .box-list-wrap .box-list:not(:last-child), .box-wrap-md .box-list-wrap .box-list:not(:last-child), .img-box-wrap .box-list-wrap .box-list:not(:last-child) {
  margin-bottom: 20px;
}

.box-wrap-sm {
  padding: 15px;
}

.box-wrap-md {
  padding: 30px;
}

.img-box-wrap {
  display: inline-block;
}

.info-box-wrap {
  line-height: 1.6;
  padding: 21px 20px 21px 40px;
  background-color: #f9f9f9;
  background-image: url(../../imgs/common/common_icon_info.svg);
  background-repeat: no-repeat;
  background-position: top 24px left 15px;
  background-size: 16px;
  font-size: 14px;
  word-break: keep-all;
}

.flex-box-wrap {
  display: flex;
  position: relative;
  padding: 15px 0;
  border: 1px solid #dadada;
}

.flex-box-wrap .box-item {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  line-height: 1.5;
  padding: 0 3%;
  text-align: center;
}

@media screen and (min-width: 376px) {
  .flex-box-wrap .box-item {
    padding: 0 15px;
  }
}

.flex-box-wrap .box-item .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (min-width: 376px) {
  .flex-box-wrap .box-item .title {
    font-size: 15px;
  }
}

.flex-box-wrap .box-item .num {
  font-size: 20px;
  text-indent: -3px;
}

.flex-box-wrap .box-item:not(:last-child):after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 77%;
  background-color: #dadada;
  transform: translateY(-50%);
}

/*=================================================
        폼 공통
=================================================*/
.form-title-wrap .title {
  line-height: 1.6;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: -6px;
  word-break: keep-all;
}

.form-desc {
  line-height: 1.5;
  font-size: 12px;
  font-weight: 300;
  color: #666;
  word-break: keep-all;
}

/*=================================================
        추가 콘텐츠 공통
=================================================*/
.term-content-wrap .innerList:not(:first-child) .term-head {
  border-top: none;
}

.term-content-wrap .term-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  line-height: 1.58;
  padding: 13px 15px;
  border: 1px solid #e2e5e8;
}

.term-content-wrap .term-head .custom-checked {
  margin-top: 4px;
}

.term-content-wrap .term-content {
  display: none;
  padding: 15px;
  border: 1px solid #e2e5e8;
  border-top: none;
}

.term-content-wrap .aco-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url(../../imgs/common/common_accordion_icon_open.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px auto;
  cursor: pointer;
}

.term-content-wrap .aco-arrow.open {
  background-image: url(../../imgs/common/common_accordion_icon_close.jpg);
}

.term-content-wrap .agree-check {
  margin-top: 20px;
  margin-bottom: 20px;
}

.term-content-wrap .checkbox {
  align-items: flex-start;
}

.term-content-wrap .checkbox .text {
  color: #333;
}

.policy-wrap .text {
  height: 180px;
  line-height: 1.6;
  padding: 10px 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.policy-wrap .text .inner-top {
  font-size: 13px;
  word-break: keep-all;
}

.policy-wrap .text .inner-desc {
  font-size: 13px;
  font-weight: 300;
  word-break: keep-all;
}

.policy-wrap .text .inner-desc b {
  display: block;
  margin-top: 25px;
  font-weight: 800;
}

.policy-wrap .text .inner-desc li {
  padding-left: 15px;
}

.policy-wrap .text .inner-desc li.dot {
  position: relative;
  padding-left: 35px;
}

.policy-wrap .text .inner-desc li.dot:before {
  display: inline-block;
  content: 'ㆍ';
  position: absolute;
  left: 20px;
  top: 0;
}

.textbook-list-wrap .img {
  width: 100%;
  height: 0;
  margin-bottom: 20px;
  padding-top: 145%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.professor-info-wrap {
  display: flex;
  align-items: center;
}

.professor-info-wrap .img-wrap {
  margin-right: 20px;
}

.professor-info-wrap .info-wrap .name {
  font-size: 18px;
}

.professor-info-wrap .info-wrap .item {
  margin-top: 8px;
  font-size: 14px;
  color: #999;
}

.files-label-wrap .label {
  display: inline-block;
  padding: 8px 17px;
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.files-label-wrap .label span {
  font-weight: 800;
}

.btnlist-content-wrap {
  border-top: 1px solid #e2e5e8;
  border-bottom: 1px solid #e2e5e8;
}

.btnlist-content-wrap .list-item {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  font-weight: 700;
}

.btnlist-content-wrap .list-item:not(:last-child) {
  border-bottom: 1px solid #e2e5e8;
}

.btnlist-content-wrap .list-item:active {
  background-color: #f9f9f9;
}

.btnlist-content-wrap .icon-arrow-right {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: auto;
  transform: rotate(270deg);
  background-image: url(../../imgs/common/common_btn_icon_more.svg);
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-size: 10px;
  vertical-align: middle;
}

.user-list-wrap {
  padding: 15px 20px;
}

.user-list-wrap .user {
  display: flex;
  align-items: center;
}

.user-list-wrap .user:not(:last-child) {
  margin-bottom: 15px;
}

.user-list-wrap .user .img-frame {
  flex: 0 0 auto;
}

.user-list-wrap .user .name {
  margin-left: 10px;
  font-size: 15px;
}

.modal-content .user-list-wrap {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

/*=================================================
      달력 커스텀
=================================================*/
.fc-button {
  min-width: 38px;
  min-height: 38px;
  padding: 8px !important;
  border-radius: 0 !important;
  font-size: 13px !important;
  font-weight: 700 !important;
}

.fc-button:focus {
  box-shadow: none !important;
}

.fc-button-primary:not(:disabled).fc-button-active {
  background-color: transparent !important;
  border-color: #068467 !important;
  color: #068467 !important;
}

.fc-today-button {
  width: 65px !important;
}

.fc-today-button.fc-button-primary:disabled {
  background-color: #333 !important;
  border-color: #76828e !important;
  color: #fff !important;
}

.fc-today-button.fc-button:disabled {
  opacity: 1 !important;
}

.fc-button-primary {
  background-color: transparent !important;
  border-color: #ddd !important;
  color: #666 !important;
}

.fc-button-primary:hover,
.fc-button-primary:not(:disabled):active {
  background-color: transparent !important;
  border-color: #068467 !important;
  color: #068467 !important;
}

.fc-toolbar h2 {
  font-size: 20px !important;
  font-weight: 700;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 18px !important;
}

.fc th {
  padding: 4px 0 !important;
}

.fc-view, .fc-view > table {
  font-size: 12px !important;
}

.fc-list-heading td,
.fc-day-header, .fc-time-grid .fc-slats td {
  font-size: 14px !important;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  margin-top: 2px;
  font-size: 11px !important;
}

@media screen and (min-width: 768px) {
  .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    font-size: 15px !important;
  }
}

.fc-day-header {
  color: #000 !important;
}

.fc-event,
.fc-event-dot {
  border-color: #068467 !important;
  background-color: #068467 !important;
}

a.fc-more {
  margin-top: 3px !important;
  display: block;
  text-align: right;
}

.fc-button {
  border: none !important;
  padding: 0 !important;
}

.fc-button .fc-icon {
  width: 40px;
  height: 40px;
  background-image: url(../../../../../publish/imgs/common/common_slick_arrow.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40px;
}

.fc-button .fc-icon::before, .fc-button .fc-icon::after {
  display: none;
}

.fc-next-button .fc-icon {
  transform: rotate(-180deg);
}