@charset "UTF-8";
/*=================================================
    프로젝트 공통 알림 팝업 커스텀
=================================================*/
body.modal-open .alert-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.alert-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
}

.alert-modal .modal-dialog {
  width: 100%;
  max-width: 650px;
  margin: 180px auto;
  background-color: #fff;
}

.alert-modal .modal-dialog.modal-top {
  margin: 45px auto;
}

.alert-modal .modal-dialog.modal-sm {
  max-width: 490px;
}

.alert-modal .modal-dialog .modal-header {
  position: relative;
  height: 80px;
  line-height: 80px;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  font-size: 27px;
  font-weight: 700;
  text-align: left;
}

.alert-modal .modal-dialog .modal-header .btn-modal-close {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  background-image: url(../../imgs/common/btn_alert_close.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.alert-modal .modal-dialog .modal-body {
  padding: 33px 30px 0;
}

.alert-modal .modal-dialog .modal-body .modal-body-content {
  margin-bottom: 30px;
}

.alert-modal .modal-dialog .modal-body .modal-text {
  line-height: 1.5;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  word-break: keep-all;
}

.alert-modal .modal-dialog .modal-body .modal-subtext {
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.04em;
  word-break: keep-all;
}

.alert-modal .modal-dialog .modal-body hr {
  margin: 30px 0;
  padding: 0;
  border: 1px solid #eee;
  outline: none;
}

.alert-modal .modal-dialog .modal-footer {
  margin-top: 30px;
  padding-bottom: 35px;
}

.alert-modal .content-textarea {
  min-height: 90px;
  font-size: 12px;
}

.alert-modal .modal-table-wrap {
  table-layout: fixed;
  width: 100%;
  text-align: left;
}

.alert-modal .modal-table-wrap tr {
  height: 58px;
}

.alert-modal .modal-table-wrap th, .alert-modal .modal-table-wrap td {
  position: relative;
  line-height: 1.57;
  border: 1px solid #ddd;
  vertical-align: middle;
  font-size: 14px;
  padding: 10px 15px;
}

.alert-modal .modal-table-wrap.size-sm tr {
  height: 49px;
}

.alert-modal .modal-table-wrap .bg-light-blue {
  background-color: #f8fafe;
}

.alert-modal .modal-table-wrap .bg-light-green {
  background-color: #f9fdfc;
}

.alert-modal .modal-table-wrap .bg-light-gray {
  background-color: #f9f9f9;
}

.alert-modal .modal-table-wrap .bg-gray {
  background-color: #f2f2f2;
}

.alert-modal .modal-table-wrap .bg-deep-gray {
  background-color: #ddd;
}

.alert-modal .flex-row {
  margin: 0 -5px;
}

.alert-modal .flex-row [class*=flex-col] {
  padding: 0 5px;
}

.alert-modal .score-label {
  display: block;
  max-width: 85px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 17px;
  padding: 0 10px;
  background-color: #068467;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

.modal-area-md {
  width: 100%;
  max-width: 510px;
  margin: 0 auto;
}

.modal-area-sm {
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}

.modal-scroll-wrap {
  max-height: 361px;
  overflow: auto;
}

#feedback_write_modal .modal-scroll-wrap {
  max-height: 261px;
}

#feedback_write_modal .icon-user {
  width: 30px;
  height: 30px;
}

#feedback_write_modal .common-table-wrap tr {
  height: 52px;
}

#feedback_write_modal .common-table-wrap td {
  position: relative;
  padding-left: 48px;
  line-height: 1.2;
  font-size: 13px;
}

#feedback_write_modal .common-table-wrap td .icon-user {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

#feedback_write_modal .common-table-wrap td .font-gray {
  display: inline-block;
}

#share_modal .sns-share-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

#share_modal .sns-share-wrap .sns-share-list {
  margin: 0 5px;
}

#share_modal .sns-share-clipboard {
  position: relative;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
}

#share_modal .sns-share-url {
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding-left: 10px;
  padding-right: 35px;
  border: none;
  border-bottom: 1px solid #222;
  background: url(../../imgs/popup/icon_clipboard.svg) no-repeat center right;
  background-size: contain;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.04em;
  outline: none;
  cursor: pointer;
}

#share_modal .tooltip {
  opacity: 0;
  position: absolute;
  top: -21px;
  right: -14px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  transition: opacity .5s;
}

#share_modal .tooltip:after {
  content: '';
  position: absolute;
  left: 22px;
  bottom: -5px;
  display: inline-block;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-width: 5px 5px 0;
}

#share_modal .tooltip.on {
  opacity: 1;
}

.alert-modal .modal-table-title {
  font-size: 18px !important;
  color: #000;
  text-align: left;
}

.alert-modal .modal-table-title .title-date {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 700;
  color: #0038a9;
}

.alert-modal .modal-table-title .modal-subject-wrap {
  display: inline-flex;
  align-items: center;
  margin-right: 12px;
}

.alert-modal .modal-table-title .title-text {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.alert-modal .modal-table-title .title-text ~ .title-desc {
  margin-left: 8px;
}

.alert-modal .modal-table-title .title-desc {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.alert-modal .modal-table-wrap.file-table th, .alert-modal .modal-table-wrap.file-table td {
  padding: 10px 125px 10px 15px;
}

.alert-modal .modal-table-wrap.file-table .table-title {
  padding: 10px 15px;
}

.alert-modal .modal-table-wrap.file-table .btn-file {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 110px;
  height: 44px;
  line-height: 44px;
  background-color: #999;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}

.alert-modal .term-wrap {
  text-align: left;
}

.alert-modal .term-wrap .division-line {
  border: none;
  border-bottom: 1px solid #fff;
  margin: 0;
}

.alert-modal .term-wrap .term-head {
  padding: 17px 15px;
  background-color: #f2f2f2;
  font-size: 14px;
}

.alert-modal .term-wrap .term-content {
  padding: 22px 15px;
  border: 1px solid #f2f2f2;
}

.alert-modal .term-wrap .term-content .text {
  height: 82px;
  line-height: 1.61;
  padding: 10px 15px;
  border: 1px solid #f2f2f2;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  overflow-y: auto;
}

.alert-modal .term-wrap .term-content .inner-top {
  font-size: 13px;
}

.alert-modal .term-wrap .term-content .inner-desc {
  font-size: 12px;
  font-weight: 300;
}

.alert-modal .term-wrap .term-content .inner-desc b {
  display: block;
  margin-top: 25px;
  font-weight: 900;
}

.alert-modal .term-wrap .term-content .inner-desc li {
  padding-left: 15px;
  margin-bottom: 5px;
}

.alert-modal .term-wrap .term-content .inner-desc li:last-child {
  margin-bottom: 10px;
}

.alert-modal .term-wrap .term-content .inner-desc li.dot {
  position: relative;
  padding-left: 35px;
  font-weight: 700;
}

.alert-modal .term-wrap .term-content .inner-desc li.dot:before {
  display: inline-block;
  content: '▪';
  position: absolute;
  left: 20px;
  top: 0;
}

.alert-modal .term-wrap .term-content .common-table-wrap tr {
  height: 36px;
}

.alert-modal .term-wrap .term-content .common-table-wrap th,
.alert-modal .term-wrap .term-content .common-table-wrap td {
  padding: 5px;
  font-size: 12px;
}

.alert-modal .modal-form-wrap {
  margin-bottom: 20px;
  text-align: left;
}

.alert-modal .modal-form-wrap:last-child {
  margin-bottom: 0;
}

.alert-modal .modal-form-wrap .form-title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
}

.alert-modal .modal-form-wrap .form-title .terms-necessary {
  color: #0038a9;
}

.alert-modal .modal-form-wrap .form-schedule-wrap {
  display: flex;
  align-items: center;
}

.alert-modal .modal-form-wrap .form-schedule-wrap.schedule-time {
  margin-left: -6px;
  margin-right: -6px;
}

.alert-modal .modal-form-wrap .form-schedule-wrap.schedule-time .select2 {
  width: calc(100% - 12px) !important;
  margin-right: 6px;
  margin-left: 6px;
}

.alert-modal .modal-form-wrap .form-schedule-wrap.schedule-time .select2 ~ input {
  margin-right: 6px;
  margin-left: 6px;
}

.alert-modal .modal-form-wrap .form-schedule-wrap.schedule-time .checkbox-img {
  flex: none;
  margin-left: 10px;
}

.alert-modal .modal-form-wrap.schedule-contents .form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-modal .modal-form-wrap.schedule-contents .form-title .text-typing {
  font-size: 13px;
  font-weight: 300;
  color: #666;
}

.alert-modal .modal-form-wrap.schedule-contents .form-schedule-wrap {
  width: 100%;
}

.alert-modal .modal-form-wrap.schedule-contents .form-schedule-wrap textarea {
  height: 100px;
  resize: none;
}

#pwchange_modal .modal-body {
  padding-left: 13.848%;
  padding-right: 13.848%;
}

#pwchange_modal .pwchange-form-wrap input[type="text"] {
  height: 60px;
  margin-bottom: 10px;
  font-size: 14px;
}

#pwchange_modal .pwchange-form-wrap input[type="text"]:last-of-type {
  margin-bottom: 0;
}

#pwchange_modal .pwchange-form-wrap input[type="text"]::placeholder {
  color: #aaa;
}

#pwchange_modal .pwchange-desc {
  line-height: 1.58;
  font-size: 12px;
  color: #666;
  text-align: left;
}

.before-quiz-wrap .quiz-search-box {
  border: 1px solid #ddd;
  padding: 29px;
  margin-bottom: 30px;
  text-align: left;
  display: flex;
  align-items: center;
}

.before-quiz-wrap .quiz-search-box .select2 {
  width: 155px !important;
  flex: none;
  margin-right: 10px;
}

.before-quiz-wrap .quiz-search-box .btn-point {
  margin-left: 10px;
  flex: none;
}

.before-quiz-wrap .quiz-desc {
  display: block;
  margin-top: 3px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #666;
}

.before-quiz-wrap .common-table-wrap {
  margin-top: -1px;
}

.no-contents-quiz-wrap {
  margin-top: 30px;
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 14px;
  font-weight: 700;
}

.no-contents-quiz-wrap .tip-label {
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto 15px;
  background-color: #e9411d;
  font-size: 13px;
  color: #fff;
}

.no-contents-quiz-wrap .quiz-type {
  margin-top: 25px;
}

.no-contents-quiz-wrap .quiz-type .text {
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 300;
}

.online-quiz-modal-wrap {
  text-align: left;
}

.online-quiz-modal-wrap .quiz-test-num {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  padding: 8px 10px;
  background-color: #068467;
}

.online-quiz-modal-wrap .quiz-test-title {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.online-quiz-modal-wrap .quiz-text-img {
  width: 100%;
  text-align: center;
  height: 300px;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.online-quiz-modal-wrap .quiz-test-items {
  margin: 20px 0;
  font-size: 14px;
}

.online-quiz-modal-wrap .quiz-test-items .checkbox-num {
  margin-right: 10px;
}

.quiz-text-btn-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  margin-left: 30px;
  margin-right: 30px;
}