.bar-chart-wrap {
  position: relative;
  width: 100%;
  height: 10px;
  overflow: hidden;
  background-color: #f0f1f3;
}

.bar-chart-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
}

.box-wrap-sm .checkbox-num-wrap {
  padding: 10px 0;
}

.box-hader .rating {
  letter-spacing: 0.04em;
  margin-left: auto;
}