.bar-chart-wrap {
  position: relative;
  width: 100%;
  height: 10px;
  overflow: hidden;
  background-color: #f0f1f3;
}

.bar-chart-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
}

.box-wrap-sm .checkbox-num-wrap {
  padding: 10px 0;
}

.box-hader .rating {
  letter-spacing: 0.04em;
  margin-left: auto;
}

.quiz-result-wrap {
  border-bottom: 1px solid #dadada;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.quiz-result-wrap .quiz-result {
  position: relative;
  background-color: #f8f8f8;
  line-height: 1.57;
  margin-top: 4px;
  margin-left: 40px;
  padding: 11px 15px 11px 26px;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.quiz-result-wrap .quiz-result::before {
  content: '';
  position: absolute;
  top: 19px;
  left: 15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #555;
}

.checkbox-num-wrap .col-12:last-child .quiz-result-wrap {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}