@charset "utf-8";
/*--------------------------------------------------

title: common.css

version: 0.1
2012.01.11
onmakers

---------------------------------------------------*/

* {margin:0; padding:0;}


body, table, tr, td, select, input, textarea { font-family:"돋움",Dotum,"굴림",Gulim,seoul, arial, verdana; font-size:12px; line-height:150%; color:#606060; }
em,cite,address,dfn,var{font-style:normal;}
dl, dt, dd, ul, ol{list-style:none;}
select, textarea, file { border:1px solid #a6b5bc; font-size:12px;}
input { }

/* skip navi */
#skipnav { position: absolute; top: 0; left: 22px; z-index:10000;}
#skipnav a {position: absolute; top: -9999px; }
#skipnav a:hover,
#skipnav a:active,
#skipnav a:focus {display: inline-block; top: 0; width: 160px; padding: 5px 0; border:3px solid red; color: #000; font-weight: bold; text-align: center; background-color: #fff;}

#skip-navigation, .blind, .location dt{position:absolute; left:-1000em; font-size:0; line-height:0;
}

/* For Screen Reader
---------------------------------------------------*/
legend { position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;} 


/* Style none 
---------------------------------------------------*/
hr, caption { display:none; }
.display {display:none;}
address { display:none; }
fieldset { border:0; padding:0; margin:0; }


/* Table 
---------------------------------------------------*/
table{border-collapse:collapse;border-spacing:0;}


/* image boder 0
---------------------------------------------------*/
img { border:0; margin:0; padding:0; }


/* hidden element
---------------------------------------------------*/
.helement {position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0; z-index:-1; visibility:hidden;} 