@charset "utf-8";
/*--------------------------------------------------

title: contents.css

version: 0.1
2012.01.11
onmakers

---------------------------------------------------*/

/* header 영역
---------------------------------------------------*/
   /* top 메뉴 */
   #header .top_menu{float:right; width:auto; height:24px; padding-top:10px; list-style-type:none;}
   #header .top_menu li{display:inline; font-size:11px; color:#9f9f9f; margin-left:15px; letter-spacing:-0.5pt;}
   #header .top_menu li a, a:link {font-size:11px; color:#9f9f9f;}
   #header .top_menu li a:hover, a:focus {font-size:11px; color:#9f9f9f; text-decoration:underline;}
   #header .top_menu img { vertical-align:middle; margin-left:3px;}

   /* 로고 검색*/
   #header .logo_search {float:left; width:546px; height:64px; margin:23px 257px 0 177px;}
   #header .logo_search h1{float:left; margin-right:28px;}
   #header .logo_search .search{float:left; width:340px; height:38px; margin-top:16px; background:url('../image/main/search_bg.png') no-repeat 0 0; }
   #header .logo_search .search input { margin:0; padding:0; }
   #header .logo_search .search .itw{float:left; display:block; width:252px;  height:16px; padding:11px 0 11px 15px;}
   #header .logo_search .search .it{width:100%; height:16px; border:0 none; line-height:13px; font-size:11px; color:#898989; }
   #header .logo_search .search .sbt{float:right; vertical-align:bottom; }



/* main_content영역
---------------------------------------------------*/
.arrow_left{ float:left; width:70px; height:73px; margin-top:130px;}
.arrow_center{ float:left; width:790px; margin:0 25px; overflow:hidden;}
.arrow_center_noicon{ float:left; width:790px; margin:0 95px; overflow:hidden;}
.arrow_right{ float:right; width:70px; height:73px; margin-top:130px;}



/* main_content1_홈 영역
---------------------------------------------------*/
.home_icon {width:790px; overflow:auto;}
.home_icon .box_top_h{ width:790px; height:25px; background:url(../image/main/box_top.png) no-repeat left top;}
.home_icon .box_h{width:750px; background:url(../image/main/box_bottom.png) no-repeat left bottom; padding:0 20px 25px 20px; overflow:hidden;}
.home_icon .box_h dl{ float:left; width:125px; margin-bottom:15px;}
.home_icon .box_h dl dt{ display:block; text-align:center;}
.home_icon .box_h dl dd{ display:block; text-align:center; font-weight:bold;}

.home_icon .box_h dl.first{ float:left; width:125px; margin-bottom:15px;}
.home_icon .box_h dl.first dt{ display:block; text-align:center;}
.home_icon .box_h dl.first dd{ display:block; text-align:center; font-weight:bold;}





/* main_content2_학생 영역
---------------------------------------------------*/
.student_notice{ width:790px; height:136px; background:url(../image/main/notice_box.png) no-repeat left top; margin-bottom:14px;}
.student_notice .news_tab{width:790px; position:relative;}
.student_notice .news_tab ul{height:100px;}
.student_notice .news_tab ul li{float:left; display:inline-block; width:790px; height:45px;}
.student_notice .news_tab ul li a {float:left; top: 0px;}
.student_notice .news_tab ul li .tab2 a.tab {left: 0;}
.student_notice .news_tab ul li .tab3 a.tab {left: 0;}

#nnews21{float:left; }
#nnews22{float:left; margin-top:-45px;}
#nnews23{float:left; margin-top:-90px;}

.student_notice .con_ti{float:left; width:190px; padding:24px 15px 0 15px;}
.student_notice .con_ti dt{width:190px; height:40px;font-weight:bold; color:#4a3b3b; margin-bottom:5px;}
.student_notice .con_ti dd{width:190px; font-size:11px; text-decoration:underline; color:#898989; line-height:160%;}
.student_notice .con_ti dd a{width:190px; font-size:11px; text-decoration:underline; color:#898989; line-height:160%;}

.student_notice .list_ti{float:left; width:373px; margin:24px 0 0 20px;}
.student_notice .list_ti dt{float:left; width:304px; background:url(../image/main/iocn.jpg) no-repeat left 8px; padding:0 0 0 10px;}
.student_notice .list_ti dd{display:inline; width:53px; font-size:11px; color:#a7a7a7; padding:0 0;}

.all_more{ position:absolute; margin:8px 0 0 303px;}

.student_icon {width:790px; overflow:auto;}
.student_icon .box_top{ width:790px; height:25px; background:url(../image/main/box_top.png) no-repeat left top;}
.student_icon .box{width:750px; background:url(../image/main/box_bottom.png) no-repeat left bottom; padding:0 20px 25px 20px; overflow:hidden;}
.student_icon .box dl{ float:left; width:125px; margin-bottom:15px;}
.student_icon .box dl dt{ display:block; text-align:center;}
.student_icon .box dl dd{ display:block; text-align:center; font-weight:bold;}

.student_icon .box dl.first{ float:left; width:125px; margin-bottom:15px;}
.student_icon .box dl.first dt{ display:block; text-align:center;}
.student_icon .box dl.first dd{ display:block; text-align:center; font-weight:bold;}



/* main_content3_학부모 영역
---------------------------------------------------*/
#nnews31{float:left;}
#nnews32{float:left; margin-left:-135px;}
#nnews33{float:left; margin-left:-270px;}

.parent_icon {float:left; width:355px; overflow:auto;}
.parent_icon .box_top_p{width:355px; height:25px; background:url(../image/main/box_top1.png) no-repeat left top;}
.parent_icon .box_p{width:333px; height:316px; background:url(../image/main/box_bottom1.png) no-repeat left bottom; padding:0 11px 0 11px; overflow:hidden;}
.parent_icon .box_p dl{ float:left; width:111px;  margin-bottom:15px;}
.parent_icon .box_p dl dt{ display:block; text-align:center;}
.parent_icon .box_p dl dd{ display:block; text-align:center; font-weight:bold; letter-spacing:-1pt;}

.parent_icon .box_p dl.first{ float:left; width:111px; margin-bottom:15px;}
.parent_icon .box_p dl.first dt{ display:block; text-align:center;}
.parent_icon .box_p dl.first dd{ display:block; text-align:center; font-weight:bold;}




/* main_content4_선생님 영역
---------------------------------------------------*/
.teacher_notice{ float:right; width:405px; height:341px; background:url(../image/main/notice_box1.png) no-repeat left top; margin-left:30px;}
.teacher_notice .news_tab1{width:405px; position:relative;}
.teacher_notice .news_tab1 ul{height:100px; display:inline; list-style-type:none;}
.teacher_notice .news_tab1 ul li{float:left; display:inline-block; width:135px;}
.teacher_notice .news_tab1 ul li a {top: 0px;}
.teacher_notice .news_tab1 ul li .tab2 a.tab {left: 101px;}
.teacher_notice .news_tab1 ul li .tab3 a.tab {left: 181px;}


#nnews41{float:left;}
#nnews42{float:left; margin-left:-135px;}
#nnews43{float:left; margin-left:-270px;}

.teacher_notice .photo{ float:left; width:135px; height:122px; border:#CCC solid 1px; margin:13px 12px 0 30px;}
.teacher_notice .con_ti{float:left; width:345px; height:129px; margin:7px 0 0 30px;}
.teacher_notice .con_ti dt{font-size:14px; font-weight:bold; color:#4a3b3b; letter-spacing:-0.2pt; margin-bottom:7px;}
.teacher_notice .con_ti dd{font-size:12px; text-decoration:underline; color:#898989; line-height:150%; letter-spacing:-0.5pt;}
.teacher_notice .con_ti dd a{font-size:12px; text-decoration:underline; color:#898989; line-height:150%; letter-spacing:-0.5pt;}

.teacher_notice .list_ti{float:left; width:345px; margin:33px 0 0 30px;}
.teacher_notice .list_ti dt{float:left; width:277px; background:url(../image/main/iocn.jpg) no-repeat left 8px; padding:1px 0 1px 10px;}
.teacher_notice .list_ti dd{display:inline; width:53px; font-size:11px; color:#a7a7a7; padding:1px 0;}

.all_more1{margin-top:8px; text-align:right;}

.teacher_icon {float:left; width:355px; overflow:auto;}
.teacher_icon .box_top_t{width:355px; height:25px; background:url(../image/main/box_top1.png) no-repeat left top;}
.teacher_icon .box_t{width:333px; height:316px; background:url(../image/main/box_bottom1.png) no-repeat left bottom; padding:0 11px 0 11px; overflow:hidden;}
.teacher_icon .box_t dl{ float:left; width:111px;  margin-bottom:15px;}
.teacher_icon .box_t dl dt{ display:block; text-align:center;}
.teacher_icon .box_t dl dd{ display:block; text-align:center; font-weight:bold; letter-spacing:-1pt;}

.teacher_icon .box_t dl.first{ float:left; width:111px; margin-bottom:15px;}
.teacher_icon .box_t dl.first dt{ display:block; text-align:center;}
.teacher_icon .box_t dl.first dd{ display:block; text-align:center; font-weight:bold;}



/* main_content5_고객센터 영역
---------------------------------------------------*/
.customer_top{width:790px; height:26px; background:url(../image/main/box_top3.png) no-repeat left top;}
.customer_center{width:790px; background:url(../image/main/all_menu_box_bg1.png) repeat-y; overflow:auto;}
.customer_center .customer_menu_box{float:left; width:712px; height:63px; margin:0 39px; padding-top:5px;}
.customer_center .customer_menu_box .h_box{background:url(../image/main/ti_left.png) no-repeat left top; height:26px; padding-left:20px;}
.customer_center .customer_menu_box .h_box .h2_1{display:block; background:url(../image/main/ti_right.png) no-repeat right top; width:120px; height:26px; padding-right:20px; font-size:12px; font-weight:bold; color:#000000; padding-top:3px;}
.customer_center .customer_menu_box .menu_sub{width:625px; margin-top:10px; font-size:12px;}
.customer_center .customer_menu_box .menu_sub li{ display:inline; font-size:12px; padding-left:10px; color:#5b5b5b;}
.customer_center .customer_menu_box .menu_sub li a, a:link{font-size:12px; color:#5b5b5b;}
.customer_center .customer_menu_box .menu_sub li a:hover, a:focus{font-size:12px; text-decoration:underline; color:#5b5b5b;}
.customer_center .customer_menu_box .menu_sub li.bar{ background:url(../image/main/sub_menu_bar.jpg) no-repeat 14px top; padding-left:28px; font-size:12px;}
.customer_bottom{width:790px; height:26px; background:url(../image/main/box_bottom3.png) no-repeat left bottom;}




/* main_content6_전체메뉴 영역
---------------------------------------------------*/
.ammmenu_top{width:790px; height:26px; background:url(../image/main/box_top2.png) no-repeat left top;}
.ammmenu_center{width:790px; min-height:500px; background:url(../image/main/all_menu_box_bg.png) repeat-y;}
.ammmenu_center h2{display:block; float:left; width:66px; height:auto; padding:0 33px;}

/*기존*/
.ammmenu_center .menu_box .h_box{ display:inline-block; margin-left:20px; background:url(../image/main/ti_left.png) no-repeat left top; height:26px; padding-left:20px; * display:inline; zoom:1;}
.ammmenu_center .menu_box .h_box h3 { display:inline-block; padding-top:3px;  padding-right:20px; background:url(../image/main/ti_right.png) no-repeat right top;  height:23px; font-size:12px; font-weight:bold; color:#000000; * display:inline; zoom:1;}
.ammmenu_center .menu_box .menu_sub{ margin-top:10px; margin-left:140px; padding-left:30px; width:575px; }
.ammmenu_center .menu_box .menu_sub li{ display:inline;  font-size:14px; font-weight:bold; color:#5b5b5b; line-height:25px; letter-spacing:-0.5px;}
.ammmenu_center .menu_box .menu_sub li a, a:link{font-size:14px; letter-spacing:-0.5px; color:#5b5b5b;}
.ammmenu_center .menu_box .menu_sub li a:hover, a:focus{font-size:14px;  letter-spacing:-0.5px; text-decoration:underline; color:#5b5b5b;}
.ammmenu_center .menu_box .menu_sub li.bar{ background:url(../image/main/sub_menu_bar.jpg) no-repeat 7px top; padding-left:20px; font-size:14px;}
.ammmenu_bottom{width:790px; height:26px; background:url(../image/main/box_bottom2.png) no-repeat left bottom;}

/*새로운마크업*/
.allonemenu { clear:both; position:relative; margin-bottom:10px; padding-bottom:20px; min-height:80px; background:url(../image/main/all_menu_box_bar.png) no-repeat 0 bottom; }
.allonemenu h2 { float:left; width:66px; height:auto; padding:0 33px;}
.allonemenu .menu_box2 { float:left; margin-left:20px; width:625px; height:auto; }
.allonemenu .menu_box2 .h_box2{ display:inline-block; padding-left:20px;  margin-bottom:10px; background:url(../image/main/ti_left.png) no-repeat left top; height:26px; * display:inline; zoom:1;}
.allonemenu .menu_box2 .h_box2 h3 { display:inline-block; padding-top:3px;  padding-right:20px; background:url(../image/main/ti_right.png) no-repeat right top;  height:23px; font-size:12px; font-weight:bold; color:#000000; * display:inline; zoom:1;}
.allonemenu .menu_box2 .menu_sub2{ position:relative; width:620px; }
.allonemenu .menu_box2 .menu_sub2 li{ display:inline; font-weight:bold; color:#5b5b5b;  font-size:14px;  letter-spacing:-0.5px; }
.allonemenu .menu_box2 .menu_sub2 li a.mtest, a.mtest:link{ display:inline-block; padding:0 12px 0 10px; margin-bottom:5px; height:20px; font:bold 14px/18px Dotum,"돋움"; letter-spacing:-0.5px; color:#5b5b5b; background:url(../image/main/sub_menu_bar.jpg) no-repeat 100% 2px;}
.allonemenu .menu_box2 .menu_sub2 li a.mtest:hover, a.mtest:focus{ font:bold 14px/18px Dotum,"돋움"; letter-spacing:-0.5px; text-decoration:underline; color:#5b5b5b;}
.allonemenu .menu_box2 .menu_sub2 li.nobar a.mtest { background:none; }


.p_height{display:block; float:left; background:url(../image/main/all_menu_box_bar.png) no-repeat left center;}




/* main_content7_마이메뉴 영역
---------------------------------------------------*/
.mymenu_icon {width:790px; overflow:auto;}
.mymenu_icon .box_top_m{ width:790px; height:25px; background:url(../image/main/box_top.png) no-repeat left top;}
.mymenu_icon .box_m{width:750px; background:url(../image/main/box_bottom.png) no-repeat left bottom; padding:0 20px 25px 20px; overflow:hidden;}
.mymenu_icon .box_m dl{ float:left; width:125px; margin-bottom:15px;}
.mymenu_icon .box_m dl dt{ display:block; text-align:center;}
.mymenu_icon .box_m dl dd{ display:block; text-align:center; font-weight:bold;}

.mymenu_icon .box_m dl.first{ float:left; width:125px; margin-bottom:15px;}
.mymenu_icon .box_m dl.first dt{ display:block; text-align:center;}
.mymenu_icon .box_m dl.first dd{ display:block; text-align:center; font-weight:bold;}




/* sub_content 영역
---------------------------------------------------*/
.sub_box_top{width:980px; height:35px; background:url(../image/sub/all_box_top.png) no-repeat left top;}
.sub_box_top1{width:980px; height:35px; background:url(../image/sub/all_box_top1.png) no-repeat left top;}
.sub_box_top2{width:980px; height:35px; background:url(../image/sub/all_box_top2.png) no-repeat left top;}
 h2.ptbasic{ float:left; font-weight:bold; font-size:16px; color:#FFF; padding:8px 0 0 30px;}
.location{float:right; font-size:11px; margin:0;}
.location dd {font-size:11px; color:#ffffff; font-weight:bold; padding:10px 14px 0 0;}
.sns_box{ float:right; width:84px; height:22px; margin-right:30px; padding-top:8px; overflow:hidden;}
.sns_box li{ display:block; float:left; margin-left:4px;}
.sub_box{width:980px; background:url(../image/sub/all_box_bg.png) no-repeat left bottom; padding:30px 0 30px 0; margin-bottom:10px; overflow:hidden;}
.sub_box1{width:980px; background:url(../image/sub/all_box_bg2.png) no-repeat left bottom; padding:30px 0 30px 0; margin-bottom:10px; overflow:hidden;}
.sub_content_box{width:920px;min-height:430px;  margin:0 30px 0 30px;}
.sub_content_box1{ min-height:430px; margin:0 20px;}
.sub_content_box2{ min-height:430px; margin:0px;}
.btn_top{ clear:both;  float:right; margin:35px 30px 0 0;}

/* 교수학습sub_content 영역
---------------------------------------------------*/
/*.sub_box_top3{width:862px; height:31px; background:url(../image/sub/gyosoo/gyosoo_box_top1.png)  no-repeat left top;}*/
.sub_box_top3{width:100%; height:31px; }
 h2.gyosoo_t{ float:left; font-weight:bold; font-size:12px; color:#FFF; padding:8px 0 0 15px;}
/*.gyosoo_sub_box{width:862px; background:url(../image/sub/gyosoo/gyosoo_sub_box_bg.png) no-repeat left bottom; padding:0px 0 0px 0; overflow:hidden;}*/
.gyosoo_sub_box{width:100%; padding:0; overflow:hidden;}


/* footer 영역
---------------------------------------------------*/
#copyright .bottom_menu { padding-top:10px; font-size:11px; color:#9f9f9f;}
#copyright .bottom_menu a, a:link {font-size:11px; color:#9f9f9f;}
#copyright .bottom_menu a:hover, a:focus {font-size:11px; color:#9f9f9f; text-decoration:underline;}
#copyright .bottom_menu li{ float:left; padding-right:10px;}
#copyright .bottom_menu li.bar{ height:20px; background:url(../image/main/bottom_bar.gif) no-repeat right 3px;}
#copyright .bottom_menu li.bar_center{ height:20px; background:url(../image/main/bottom_bar.gif) no-repeat right 3px; padding-left:10px;}
#copyright .bottom_menu li.bar_end{ padding:0 10px;}
#copyright .copyright{ clear:both; font-size:11px; color:#9f9f9f;}


#main_copyright .bottom_menu { padding-top:10px; font-size:11px; color:#9e9e9e;}
#main_copyright .bottom_menu a, a:link {font-size:11px; color:#9e9e9e;}
#main_copyright .bottom_menu a:hover, a:focus {font-size:11px; color:#9e9e9e; text-decoration:underline;}
#main_copyright .bottom_menu li{ float:left; padding-right:10px;}
#main_copyright .bottom_menu li.bar{ height:20px; background:url(../image/main/bottom_bar.gif) no-repeat right 3px;}
#main_copyright .bottom_menu li.bar_center{ height:20px; background:url(../image/main/bottom_bar.gif) no-repeat right 3px; padding-left:10px;}
#main_copyright .bottom_menu li.bar_end{ padding:0 10px;}
#main_copyright .copyright{ clear:both; font-size:11px; color:#9e9e9e;}



/* bottom_menu 영역
---------------------------------------------------*/
#main_menu .menu{margin:0 auto; width:642px; height:82px; list-style-type:none; padding-top:13px;} /*2012.01.31 수정*/
#main_menu .menu li{display:inline; }
#main_menu .menu li.margin_r{display:inline; margin-right:23px;} /*2012.01.31 수정*/

.sub_menu{float:left; width:100%; height:107px; background:url(../image/sub/sub_menu_bg.jpg) repeat-x left top;}
.sub_menu .menu{margin:0 auto; width:980px; padding-top:12px; overflow:auto;}
.sub_menu .menu .smenu_arrow_left{float:left; width:30px; height:80px; padding-top:4px;}
.sub_menu .menu .smenu_arrow_center{float:left; width:920px; height:87px; overflow:hidden;}
.sub_menu .menu .smenu_arrow_right{float:right; width:30px; height:80px; padding-top:4px;}
.sub_menu .menu .smenu_arrow_center dl{ float:left; width:115px; text-align:center;}
.sub_menu .menu .smenu_arrow_center dl dt{ display:block; height:67px; text-align:center;}
.sub_menu .menu .smenu_arrow_center dl dd{ display:block; height:20px; text-align:center; font-weight:bold; color:#77a6e2; font-size:12px;}


/* sub_bottom_menu 영역
---------------------------------------------------*/
.infor{margin:0 auto; width:980px; height:30px;}
.infor .infor_menu{ float:left; width:839px; height:24px; background:url(../image/sub/bottom_bar.png) no-repeat left top; list-style-type:none; padding:6px 0 0 22px;}
.infor .infor_menu li{display:inline; font-weight:bold; padding-right:7px; color:#505050; font-size:12px;}
.infor .infor_menu li a, a:link {color:#505050; font-size:12px;}
.infor .infor_menu li a:hover, a:focus {font-size:12px; color:#505050; text-decoration:underline;}
.infor .infor_menu li.bot_bar {background:url(../image/sub/menu_bar.jpg) no-repeat left center; padding-left:13px;}
.infor .frame_btn{float:right; width:109px; height:27px; margin:3px 8px 0 0;}


/*검색
---------------------------------------------------*/
.rsearch_t_gap{ height:100px; width:100%; border-bottom:2px solid #97bef6;}
.rsearch_t { padding-left:90px; background:url(../image/sub/common/rsearch_glass.gif) no-repeat left top; min-height:100px; margin-left:200px;}
.rsearch_t dt{ font-size:16px; font-weight:bold; padding-top:15px; line-height:170%;}
.rsearch_t dd{}
.search_result_gap{ border-bottom:1px solid #cacaca; padding:20px 0 20px 0;}
.search_r_h3{ float:left; height:14px; padding-bottom:20px;color:#4e81cc; font-size:14px; margin-right:5px;}
.search_r_total{ font-size:11px; vertical-align:middle;}
.search_result { padding:5px 20px; clear:left;}
.search_result li{ padding-bottom:12px;line-height:140%; }
.search_result li dl{ display:inline-block;}
.search_result li dt{ font-weight:bold; color:#333333; padding-bottom:5px; display:block;}
.search_result li dd{color:#707684;  display:block; }
.btn_r20{ padding-right:20px;}


/*공통
---------------------------------------------------*/
#common_pop   { position:absolute; width:860px; top:140px; margin:0 auto; z-index:222; left:50%; margin-left:-430px; }
#common_pop_bg   { position:absolute; width:860px; top:140px; margin:0 auto; z-index:222; left:50%; margin-left:-430px; }
#common_pop_menu   { position:absolute; width:860px; top:140px; margin:0 auto; z-index:222; left:50%; margin-left:-430px; }
#common_pop_site   { position:absolute; width:860px; top:140px; margin:0 auto; z-index:222; left:50%; margin-left:-430px; }
.common_pop_t{background:url(../image/sub/common/popup_top.png) no-repeat left top; height:45px; padding-top:5px; }
.common_pop_bg{background:url(../image/sub/common/popup_bg.gif) no-repeat left bottom; padding:20px 20px 20px 20px; }
.common_pop_con {  clear:both; margin:0; padding:20px 0 0 0; width:100%; height:290px;overflow:scroll; overflow-x: hidden;}
.common_pop_con ul li{ float:left; margin-bottom:5px; margin-right:20px;}
.common_pop_con ul li dl{width:180px; display:inline-block;}
.common_pop_con ul li dl dt{}
.common_pop_con ul li dl dd{text-align:center; padding:5px;}
.common_pop_con ul li dl dd input { margin-right:3px; vertical-align:middle;}


/* 이미지 업로드
---------------------------------------------------*/
.common_pop_up { clear:both; position:absolute; z-index:333;  width:367px; height:112px; left:210px; top:130px; padding:20px; background:url(../image/sub/common/popup2_bg.gif) no-repeat left top;}
.common_pop_up input{ margin:10px 0;}

#common_pop_up_new { clear:both; position:absolute; z-index:333; display:none; width:367px; height:142px; left:210px; top:130px; padding:20px; background:url(../image/sub/common/popup2_bg.gif) no-repeat left top; }
#common_pop_up_new input{ margin:10px 0;}

   /* URL 업로드*/
   .common_pop_url_up { clear:both; position:absolute; z-index:333; width:515px; left:305px; top:110px; background:url(../image/sub/common/popup2_url_bg_bottom.png) no-repeat left bottom;}
   .common_pop_url_up p.poptitle{ padding:20px 0 0 20px; background:url(../image/sub/common/popup2_url_bg_top.png) no-repeat left top;}
   .common_pop_url_up table { margin:10px 20px; width:100%;}
   .common_pop_url_up table th{ width:110px; text-align:left; color:#;707684; vertical-align:top;}
   .common_pop_url_up table td{ font-size:11px; padding-bottom:3px;}
   .pd_5{ padding-top:5px;}
   .common_pop_url_up input{ }
   .common_pop_url_up table .pop_txt{ width:340px; height:50px; background:#f6f6f6; background:1px solid #cacaca;}
   .common_pop_url_up p.url_bot{ padding-bottom:15px;  }
   .common_pop_url_up ul{}
   .common_pop_url_up ul li{ float:left; padding:10px 15px 5px 0;}
   .common_pop_url_up ul dl { padding:0px;}
   .common_pop_url_up ul dl dd{ text-align:center;}

   /* URL 업로드*/ /*02.09 추가 */
   #common_pop_url_up_re { clear:both; position:absolute; z-index:333; display:none; width:515px; left:305px; top:110px; background:url(../image/sub/common/popup2_url_bg_bottom.png) no-repeat left bottom;}
   #common_pop_url_up_re p.poptitle{ padding:20px 0 0 20px; background:url(../image/sub/common/popup2_url_bg_top.png) no-repeat left top;}
   #common_pop_url_up_re table { margin:10px 20px; width:100%;}
   #common_pop_url_up_re table th{ width:110px; text-align:left; color:#;707684; vertical-align:top;}
   #common_pop_url_up_re table td{ font-size:11px; padding-bottom:3px;}
   #pd_5{ padding-top:5px;}
   #common_pop_url_up_re input{ }
   #common_pop_url_up_re table .pop_txt{ width:340px; height:50px; background:#f6f6f6; background:1px solid #cacaca;}
   #common_pop_url_up_re p.url_bot{ padding-bottom:15px;  }
   #common_pop_url_up_re ul{}
   #common_pop_url_up_re ul li{ float:left; padding:10px 15px 5px 0;}
   #common_pop_url_up_re ul dl { padding:0px;}
   #common_pop_url_up_re ul dl dd{ text-align:center;}


/*스마트충남 스토어
---------------------------------------------------*/
ul.common_store{ border-left:1px solid #eaeaea; display:table; width:810px;}
ul.common_store li{float:left; border-top:1px solid #eaeaea; border-right:1px solid #eaeaea; display:block; border-bottom:1px solid #eaeaea; margin:0px;}
ul.common_store li dl{ width:230px; height:73px; display:block; margin:13px 15px 13px 18px; }
ul.common_store li dl dt{ float:left; display:block; margin:0px; width:66px; text-align:left;}
ul.common_store li dl dd{ float:left; display:block; margin:0px; padding-left:10px; width:140px; font-size:11px; color:#707684; line-height:130%;text-align:left; }
ul.common_store li dl dd p.cst{ font-size:12px; font-weight:bold; color:#5b5b5b; }
ul.common_store li dl dd p.csb{ text-align:right; padding-top:2px;}

   /*스마트충남 추천사이트*/
   ul.siteset{ display:inline-block;}
   ul.siteset li{ width:180px; height:50px; display:block; float:left; margin-right:20px; margin-bottom:20px;}


/*커뮤니티
---------------------------------------------------*/
/*.sub_menu_tab { height:33px; background:url(../image/sub/community/sub_menu_tab_line.gif) repeat-x; }*/
.sub_menu_tab { height:33px; background:url(../image/sub/community/sub_menu_tab_line.gif) repeat-x;overflow:hidden;width:100%}
.sub_menu_tab li{ float:left; font-weight:bold; background:url(../image/sub/community/sub_menu_tab_bg_l.gif) no-repeat left top; }
.sub_menu_tab li a{ display:block;  padding:8px 16px; text-decoration:none;  background:url(../image/sub/community/sub_menu_tab_bg_r.gif) no-repeat right top;}
.sub_menu_tab li a.nstore{ display:block;  padding:10px 8px 10px 8px; }/*설정/스토어 좁아지는 메뉴 간격추가*/
.sub_menu_tab li a:hover { color:#1c4492; text-decoration:none;}
.sub_menu_tab li.smt_on{ float:left;  background:url(../image/sub/community/sub_menu_tab_over_l.gif) no-repeat left top; }
.sub_menu_tab li.smt_on a{ display:block; color:#1c4492; text-decoration:none;   background:url(../image/sub/community/sub_menu_tab_over_r.gif) no-repeat right top;}
.sub_menu_tab li.smt_etc{background:none; margin-left:5px;  }
.sub_menu_tab li.smt_etc a{ background:none; padding:0px;}


.sub_menu_tab_t { height:33px; background:url(../image/sub/community/sub_menu_tab_line.gif) repeat-x;width:780px;margin:0 auto 20px; }
.sub_menu_tab_t li{ float:left; font-weight:bold; background:url(../image/sub/community/sub_menu_tab_bg_l.gif) no-repeat left top; }
.sub_menu_tab_t li a{ display:block;  padding:8px 16px; text-decoration:none;  background:url(../image/sub/community/sub_menu_tab_bg_r.gif) no-repeat right top;}
.sub_menu_tab_t li a.nstore{ display:block;  padding:10px 8px 10px 8px; }/*설정/스토어 좁아지는 메뉴 간격추가*/
.sub_menu_tab_t li a:hover { color:#1c4492; text-decoration:none;}
.sub_menu_tab_t li.smt_on{ float:left;  background:url(../image/sub/community/sub_menu_tab_over_l.gif) no-repeat left top; }
.sub_menu_tab_t li.smt_on a{ display:block; color:#1c4492; text-decoration:none;   background:url(../image/sub/community/sub_menu_tab_over_r.gif) no-repeat right top;}
.sub_menu_tab_t li.smt_etc{background:none; margin-left:5px;  }
.sub_menu_tab_t li.smt_etc a{ background:none; padding:0px;}


.sub_menu_tab_j { height:33px; background:url(../image/sub/community/sub_menu_tab_line.gif) repeat-x; }
.sub_menu_tab_j li{ float:left; font-weight:bold; background:url(../image/sub/community/sub_menu_tab_bg_l.gif) no-repeat left top; }
.sub_menu_tab_j li a{ display:block;  padding:10px 8px 10px 8px; text-decoration:none;  background:url(../image/sub/community/sub_menu_tab_bg_r.gif) no-repeat right top;}
.sub_menu_tab_j li a:hover { color:#1c4492; text-decoration:none;}
.sub_menu_tab_j li.smt_on{ float:left;  background:url(../image/sub/community/sub_menu_tab_over_l.gif) no-repeat left top; }
.sub_menu_tab_j li.smt_on a{ display:block; color:#1c4492; text-decoration:none;   background:url(../image/sub/community/sub_menu_tab_over_r.gif) no-repeat right top;}
.sub_menu_tab_j li.smt_etc{background:none; margin-left:5px;  }
.sub_menu_tab_j li.smt_etc a{ background:none; padding:0px;}

.sub_menu_tab_s { height:33px; background:url(../image/sub/community/sub_menu_tab_line.gif) repeat-x; }
.sub_menu_tab_s li{ float:left; font-weight:bold; background:url(../image/sub/community/sub_menu_tab_bg_l.gif) no-repeat left top; }
.sub_menu_tab_s li a{ display:block;  padding:10px 8px 10px 8px; text-decoration:none;  background:url(../image/sub/community/sub_menu_tab_bg_r.gif) no-repeat right top;}
.sub_menu_tab_s li a:hover { color:#1c4492; text-decoration:none;}
.sub_menu_tab_s li.smt_on{ float:left;  background:url(../image/sub/community/sub_menu_tab_over_l.gif) no-repeat left top; }
.sub_menu_tab_s li.smt_on a{ display:block; color:#1c4492; text-decoration:none;   background:url(../image/sub/community/sub_menu_tab_over_r.gif) no-repeat right top;}
.sub_menu_tab_s li.smt_etc{background:none; margin-left:5px;  }
.sub_menu_tab_s li.smt_etc a{ background:none; padding:0px;}

/*커뮤니티 0206 이미지 메뉴 추가 변경*/
.sub_com_tab { height:33px; width:920px; background:url(../image/sub/community/sub_menu_tab_line.gif) repeat-x bottom;}
.sub_com_tab li{ float:left;  }

/*커뮤니티 0208 이미지 메뉴 추가 변경*/
.sub_com_all_tab { height:33px; width:100%; background:url(../image/sub/community/sub_menu_tab_line.gif) repeat-x bottom;}
.sub_com_all_tab li{ float:left;  }

/*커뮤니티 0209 이미지 메뉴 추가 변경*/
.sub_com_story_tab { height:33px; width:100%; background:url(../image/sub/community/sub_menu_tab_line.gif) repeat-x bottom;}
.sub_com_story_tab li{ float:left;  }
.sub_com_story_tab li.smt_etc{background:none; margin-left:5px;  }
.sub_com_story_tab li.smt_etc a{ background:none; padding:0px;}



/*헤드이미지
---------------------------------------------------*/
.sub_t_img{ clear:both;  padding:20px 0;}
.sub_com_left{ float:left; width:530px;}
.sub_com_right{ float:right;}


/* 게시판 검색
---------------------------------------------------*/
.boardSearch{  text-align:center; margin-bottom:20px;}
.boardSearch span{ margin-right:10px;}
.boardSearch input {font:normal 11px/14px Dotum; color:#a4a4a4; }
.boardSearch input.search_input_txt{vertical-align: top;  height:20px; width:230px; border:1px solid #d9d9d9; margin-top:3px; }
.boardSearch select.search_sel { vertical-align:top; height:21px; width:110px; margin-top:3px;}

.boardSearch2 { text-align:center; margin-bottom:20px;}
.boardSearch2 input, .boardSearch2 select { font:normal 12px/16px Dotum,"돋움"; color:#767676; }
.boardSearch2 input.search_input_txt2{ margin-top:2px; padding:2px; height:16px; width:230px; border:1px solid #d9d9d9; }
.boardSearch2 select.search_sel2 { vertical-align:top; padding:2px; height:21px; width:110px; margin-top:3px;}
.boardSearch2 img { vertical-align:top; margin-left:5px; }

.scroll_bg {  width:500px; height:300px; padding:15px 15px 0px 18px; background:url(../image/sub/community/sub_scroll_bg.gif) no-repeat left top;}
.scroll_bg_bot{ padding:0px; margin:0px;}
.sub_scroll{  width:490px; height:290px; overflow:scroll; overflow-x: hidden;}
.com_board_main{ border:none; width:470px;  }
.com_board_main th{ width:90px; border-bottom:1px solid #e0e0e0;}
.com_board_main td{ padding:10px 0 10px 10px; border-bottom:1px solid #e0e0e0;}
.com_board_main ul li{ font-size:11px; color:#a4a4a4; line-height:130%; background:url(../image/sub/board/bull01.gif) no-repeat left center; padding-left:6px;}
.com_board_main ul li span{ color:#707684;}
/*
.com_board_t01 { font-size:14px; font-weight:bold; color:#161616; padding-bottom:5px;}
.com_board_t02{}
.com_board_url{ font-size:11px; font-family:Tahoma; color:#a4a4a4; text-decoration:underline;}
.com_board_url a {font-size:11px; font-family:Tahoma; color:#a4a4a4; text-decoration:underline;}
*/
.com_board_t01 { width:270px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:14px; font-weight:bold; color:#161616; padding-bottom:5px;}
.com_board_t02{ width:270px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.com_board_url{ width:270px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:11px; font-family:Tahoma; color:#a4a4a4; text-decoration:underline;}
.com_board_url a {font-size:11px; font-family:Tahoma; color:#a4a4a4; text-decoration:underline;}

.member_login { font-size:14px; font-weight:bold; padding:10px 0;  }
.member_login span{  padding-left:5px;}
.member_login span img{ vertical-align:text-bottom; }

/*0206 추가 수정*/
 .board_tab{height:41px;}
 .board_tab li { float:left;}

.sub_my_board { width:360px; height:278px; background:url(../image/sub/community/sub_my_board_bg.gif) no-repeat left bottom;}

/* 새로 붙인 게시판*/
.sub_my_board .board_tab {width: 354px; height:127px; position: relative;}
.sub_my_board .board_tab { height: 100px; position: relative;}
.sub_my_board .board_tab li {width: 341px;}
.sub_my_board .board_tab li a.tabclass1 {top: 0px; height:43px; position: absolute;}
.sub_my_board .board_tab li.tab2 a.tabclass1 {left:120px;}
.sub_my_board .board_tab li.tab3 a.tabclass1 {left:240px;}

.sub_my_board .board_tab li a.tabclass2 {top: 0px; height:43px; position: absolute;}
.sub_my_board .board_tab li.tab2 a.tabclass2 {left:120px;}
.sub_my_board .board_tab li.tab3 a.tabclass2 {left:240px;}

.sub_my_board .board_tab li a.tabclass3 {top: 0px; height:43px; position: absolute;}
.sub_my_board .board_tab li.tab2 a.tabclass3 {left:120px;}
.sub_my_board .board_tab li.tab3 a.tabclass3 {left:240px;}

.sub_my_board .board_tab li a.tabclass4 {top: 0px; height:43px; position: absolute;}
.sub_my_board .board_tab li.tab2 a.tabclass4 {left:120px;}
.sub_my_board .board_tab li.tab3 a.tabclass4 {left:240px;}

.sub_my_board .board_tab li .board_tab01{top:43px; width:330px; height:235px;  padding:0 15px; background:url(../image/sub/community/memo_btn_bg.gif) no-repeat left bottom; position: absolute;}

.sub_my_board .board_tab li .board_tab02{top:43px; width:330px; height:235px;  padding:0;  position: absolute;}
.sub_my_board .board_tab li .board_tab03{top:43px; width:330px; margin-left:15px; height:220px; overflow:auto; overflow-x: hidden;  padding:0;  position: absolute;}






/*#sub_my_board .board_tab{height:41px;}
#sub_my_board .board_tab li { float:left;}*/
.board_notice {width:330px; margin:0px 14px; }
.board_notice li {height:20px;  background:url(../image/main/board_notice.gif) no-repeat left 6px; }
.board_notice li .article {float:left; width:250px; padding-left:7px; padding-right:5px; color:#414141;}
.board_notice li span {color:#a7a7a7; font-family:Tahoma; font-size:11px;}

.sub_my_list  { clear:both; width:330px; margin:0px 15px 15px 15px;}
.sub_my_list td{ border-bottom:1px solid #e0e0e0; padding:8px 7px;}
.sub_my_list td p{ color:#4e81cc; font-weight:bold;}
.sub_my_list td a { color:#767676;}
.sub_my_list td p a { color:#4e81cc; font-weight:bold;}
.sub_my_list td span{ font-weight:bold;}
.sub_my_list td.num{ color:#a4a4a4; font-family: Tahoma; font-size:10px;  vertical-align:bottom;}

.sub_join_list_scroll{ clear:both; width:315px; height:210px; overflow:auto; padding:0 15px;}
.sub_join_list{ width:300px;}
.sub_join_list th{border-bottom:1px solid #e0e0e0; padding:6px 0px 6px 0px;}
.sub_join_list td{border-bottom:1px solid #e0e0e0; padding:5px 5px 5px 10px; vertical-align:middle;}


/*기타
---------------------------------------------------*/
.mynmemo_txt{ height:185px;}
.memo_list {  padding:5px 5px 0 5px; }
.memo_list table{border-bottom:1px solid #e0e0e0;}
.memo_list td{ padding:3px; line-height:120%;}
.memo_list .name { font-size:11px; color:#a4a4a4;}
.memo_list .name span{  color:#3268c8;}
.memo_list .date{ color:#a4a4a4; font-family: Tahoma; font-size:10px; text-align:right;}
.memo_list .memodelete { text-align:right; }
 p.memo_all_btn{ text-align:center;  padding:12px 0; }


/*약관동의
 ---------------------------------------------------*/
.agree_gap{ margin:30px 70px; }
.agree_info{ color:#4e81cc;}
.agree_txt {width:780px;height:230px;line-height:180%; margin:10px 0; background:#f6f6f6;border:1px solid #cacaca; overflow:scroll; overflow-x: hidden;}
.agree_txt p{ padding:20px;}


/*스마트 충남 템플릿
---------------------------------------------------*/
.sub_smartcn_head{ clear:both; width:920px; height:85px; margin-bottom:20px;}
.sub_smartcn_gap{width:780px;   margin:0px 70px 0 70px;}

.calendar_btn { width:100%; height:30px; position:relative;}
.calendar_btn .calbtnleft {width:300px;  }
.calendar_btn img { margin-right:5px; }
.calendar_btn .calbtnmonth { position:absolute; width:300px;; text-align:center; left:300px; top:0px; height:30px;}
.calendar_btn .calbtnmonth img{ margin-bottom:15px; vertical-align:top; margin-top:2px;  }
.calendar_btn .calbtnmonth span.month{font-size:33px; padding:0 40px; line-height:100%; display:inline-block; font-weight:bold; color:#4e81cc; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}

   /*스마트 충남 캘린더 리스트*/
   .calendar { width:100%; margin:20px 0; }
   .calendar th{ padding:7px 0; color:#FFF; font-size:14px; background:url(../image/sub/smartcn/calendar_th_bg.gif) repeat-x left top;}
   .calendar td {  font-family:Tahoma; font-size:12px; border:#c6e0fb 1px solid; height:80px; color:#4e81cc; font-weight:bold; text-align:left; vertical-align:top}
   .calendar td span{ padding:8px 0 3px 8px; display:block;}
   .calendar td.sun{ color:#e14141; }
   .calendar td div{position:absolute; margin-top:5px; line-height:100%; padding:5px 8px; font-size:11px; font-weight:normal; color:#FFF;}
   #sch01 { background:#84c10e; color:#fff; }
   #sch02 { background:#6191df;  color:#fff; }
   #sch03 { background:#0e8fc1;  color:#fff; }
   #sch04 { background:#975e9b; color:#fff;  }

   /*스마트 충남 캘린더  보기*/
   .calendar_view{ width:100%; margin:20px 0 10px 0; }
   .calendar_view th { height:35px; text-align:left; font-size:14px; padding-left:20px;background:url(../image/sub/smartcn/calendar_th_bg.gif) repeat-x left top; color:#FFF;}
   .calendar_view td { padding:8px 0 8px 8px; text-align:left; border-bottom:1px solid #d1d1d1; }
   .calendar_view td.cal_left{ font-weight:bold; width:100px; padding-left:20px; color:#4e81cc; background:url(../image/sub/board/board_th_view_l3.gif) no-repeat right top;}
   .calendar_view td.cal_date{ font-weight:bold; width:50px; color:#4e81cc; background:url(../image/sub/board/board_th_view_l3.gif) no-repeat right top;}
   .calendar_view td.cal_name{ width:540px;}
   .calendar_view td.cal_num{  font-size:11px; font-family:Tahoma; color:#909090; padding:0 10px; }
   .calendar_view td.cal_txt{ padding:20px; background:#f9f9f9; border-bottom:2px solid #d1d1d1;}
   .calendar_view td.day{  font:bold 12px Tahoma; color:#4e81cc; }

   /*스마트 충남 캘린더 게시판 리스트*/
   .calendar_list{ width:100%;  margin:20px 0 0px 0;  }
   .calendar_list th { height:35px; background:url(../image/sub/smartcn/calendar_th_bg.gif) repeat-x left top; color:#FFF;}
   .calendar_list td { padding:8px 10px; text-align:center; font-size:11px; font-family:Tahoma; color:#909090; border-bottom:1px solid #d1d1d1;}
   .calendar_list td.callist_sub{ width:350px; text-align:left; font-size:12px;  font-family:"돋움",Dotum,"굴림",Gulim,seoul, arial, verdana;  color:#606060;}
   .calendar_list td.name{ font-size:12px;  font-family:"돋움",Dotum,"굴림",Gulim,seoul, arial, verdana;  color:#606060;}
   .calendar_list td.callist_date{ font:bold 12px Tahoma; color:#4e81cc; }


/*스마트 충남 설문조사 리스트
---------------------------------------------------*/
.poll { width:100%;  border-bottom:1px solid #d1d1d1; margin-bottom:20px; }
.poll td{ padding-bottom:10px;}
.poll_t { text-align:left; vertical-align:top; font-weight:bold; padding-left:20px; width:100px; color:#4e81cc; border-bottom:none;}
.poll_check p{ padding-bottom:10px; }
.poll_check input { vertical-align:middle; }
.poll_check .poll_txt{ width:99%; height:50px; font-size:11px; color:#a4a4a4;}

   /*스마트 충남 설문조사 결과보기*/
   .poll_result { width:660px; position:absolute; margin:40px 0 0 130px;}
   .poll_result_top {  height:42px;  background:url(../image/sub/smartcn/poll_result_top.gif) no-repeat left top;}
   .poll_result_title{ float:left; font-size:14px; color:#FFF;  font-weight:bold; padding:10px 0 0 20px;}
   .result_close { float:right; padding:10px 20px 0 0; }
   .poll_result_con{  background:url(../image/sub/smartcn/poll_result_bg.gif) no-repeat left bottom; padding:20px;}
   .poll_result_chart{ width:100%; background-color:#999; height:200px; }
   .poll_result_man{ text-align:center; padding:15px; border: 1px solid #97bef6; font-size:14px; font-weight:bold; margin:20px 0; color:#707684;}
   .total{ color:#3a8990; text-decoration:underline;}
   .poll_result_t{ border-top: 2px solid #97bef6; width:100%; margin-bottom:20px;}
   .poll_result_t th{ background-color:#f0f6ff; color:#4e81cc; padding:5px 0; border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1;}
   .poll_result_t td{ text-align:center;  padding:5px; border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1;}
   .poll_result_t td.poll_result_sub{ text-align:left;}
   .poll_result_t td.per{ font-size:11px; font-weight:bold; border-right:none;}

   /*스마트 충남 설문조사 결과2012.0210 추가작업------------------------------------------------------------------------------*/
   .poll_result_con_re{background:url(../image/sub/smartcn/poll_result_bg.gif) no-repeat left bottom; padding:20px; vertical-align:top;}
   .poll_result_txt_j{height:478px; padding-right:12px;  overflow-x: hidden;}
   .poll_result_man_j{ text-align:center; padding:15px; border: 1px solid #97bef6; font-size:14px; font-weight:bold; margin:0 0 20px 0; color:#707684;}

   .poll_result_t_j{border-top: 2px solid #97bef6; width:590px; margin-bottom:20px;}
   .poll_result_t_j th{ background-color:#f0f6ff; color:#4e81cc; padding:5px 0; border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1;}
   .poll_result_t_j td{ text-align:left;  padding:5px; border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1;}
   .poll_result_t_j td.poll_result_sub{ text-align:left; vertical-align:text-top;}
   .poll_result_t_j td.per_img{ font-size:11px; border-right:none;}
   .poll_result_t_j td.per_img ul{}
   .poll_result_t_j td.per_img li{background:url(../image/sub/smartcn/j_icon.gif) no-repeat 10px 8px; padding:3px 0 2px 14px; line-height:14px; }
   .poll_result_t_j td.per_img .close_btn{display:block; float:right; width:65px;}
   .poll_result_t_j td.per{ font-size:11px; font-weight:bold; border-right:none;}
   .poll_result_t_j td.per_re{ font-size:11px;  border-right:none;}
   .poll_result_t_j td.color_td{padding:11px;}
   .poll_result_t_j td.color_td .color_ver1{height:12px; background-color:#9db665;}
   .poll_result_t_j td.color_td .color_ver2{height:12px; background-color:#65a8b6;}
   .poll_result_t_j td.color_td .color_ver3{height:12px; background-color:#7e65b6;}
   .poll_result_t_j td.color_td .color_ver4{height:12px; background-color:#b6656c;}


/*커뮤니티 템플릿
---------------------------------------------------*/
.com_con_menu{ float:left; width:200px;}
.com_con_list1{float:left; width:330px; margin:0 30px;}
.com_con_list2{float:left; width:330px;}
.com_con_list3{float:left; width:690px; margin-left:30px;}
.sub_com_head{ clear:both; width:920px; height:150px; background:url(../image/sub/community/community_head_img.jpg) no-repeat left top; margin:20px 0;}

.sub_com_head h3 {font-size:16px;font-weight:bold;color:#333;padding:32px 0 0 32px;}
.sub_com_head p.link_adress { font-size:11px; font-family:Tahoma;padding-left:32px;text-decoration:underline;}
.sub_com_head dl {font-size:11px; padding:38px 0 0 32px;}
.sub_com_head dl dt {float:left;margin:0px;padding:0px;}
.sub_com_head dl dd {float:left;margin:0px;padding:0px 5px;font-weight:bold;}

.member_name_box {padding:19px;width:160px;height:45px;background-color:#fafafa;border:1px solid #dfdfdf;}
.edit_btn{ vertical-align:top; margin-left:5px;}

.com_menu { clear:both; width:198px;border:1px solid #dfdfdf;}
.com_menu_title {padding:17px;margin:0px;font-size:14px;font-weight:bold;color:#333;border-bottom:1px solid #dfdfdf;}
.com_menu_list {margin:19px;}
.com_menu_list li {padding:1px 1px 1px 17px;background: url(../image/sub/board/bull_com_list.gif) no-repeat left 3px;height:20px; width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

h5.t_title {font-size:14px;font-weight:bold;color:#333; padding:0px 0px 10px 0;}

.com_t_top {width:330px;height:28px;}
.com_t_top h5 {float:left;margin:0px;}
.com_t_top p {display:block;float:right;margin:0px;padding:0px;}

.com_recently_bar {clear:both;width:333px;border-top:2px solid #d6d6d6;}
.com_recently_bar th {width:80px;font-size:11px;font-weight:normal;color:#999;border-bottom:1px solid #d6d6d6;padding:6px 6px 6px 0;text-align:left;}
.com_recently_bar td {color:#767676;padding:6px;border-bottom:1px solid #d6d6d6;}
.com_recently_bar a, .com_recently_bar a:link { color:#767676; }

.com_recently_bar02 {clear:both;width:333px;border-top:2px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}
.com_recently_bar02 td {color:#767676;padding:3px 3px 3px 17px; background:url(../image/sub/board/bull02.gif) no-repeat 9px center;}
.com_recently_bar02 td.date {width:50px;padding:3px;font-size:10px;font-family:Tahoma;color:#a4a4a4; background:none; }
.com_recently_bar02 a, .com_recently_bar02 a:link { color:#767676; }

.com_info{ margin:20px 0 0 0; }
.com_info li{ float:left; margin:0px; padding:}
.com_info li.com_info_simg { padding-right:12px;}
.com_info li.member_leave { font-size:11px; width:80px; padding-top:5px;}
.com_info li.member_leave a{ font-size:11px; }
.com_info_search{ clear:both; height:48px; padding:10px 0; }
.com_info_search span{ margin:0px; padding:0px;}


/*스마트노트 안내
---------------------------------------------------*/
.smartnote_gap{ margin:0 70px; height:445px; background:url(../image/sub/smartnote/smartnote_bg01.jpg) no-repeat right bottom; }
.smartnote_t{ padding-top:50px;}
.smartnote_btn { position:relative; margin-top:20px; padding:0; }
.smartnote_btn li{ float:left; padding:0 8px 0 14px; background:url(../image/sub/smartnote/smartnote_btnbg.gif) no-repeat left center;}
.smartnote_btn li.fnone{ background:none; padding-left:0px;}
.smartnote_gap2{ margin:0 70px;}
.smartclass_btn { clear:both; margin-top:10px; padding:0;}

.install{ float:left; width:395px; height:225px; background:url(../image/sub/smartnote/install_bg.gif) no-repeat left top; }
.install img{ padding:109px 0 0 190px;}
.install2{float:left; margin:30px 0 80px 30px;}
.install2 p{ font-size:14px; font-weight:bold; color:#4e81cc; padding-bottom:10px;}
.install2 ul li{ float:left; margin-right:10px; margin-top:20px;}
.system{ clear:both;}
.system p{ font-size:14px; font-weight:bold; color:#4e81cc; padding-bottom:10px;}
.system ul li{ font-weight:bold; color:#707684; }
.system ul li ul { padding:5px 0;}
.system ul li ul li{ font-weight:normal; padding-left:20px; background:url(../image/sub/board/bull02.gif) no-repeat 12px center;}



/* 교수학습sub_content 영역 시작
---------------------------------------------------*/
/*.sub_box_top3{width:862px; height:31px; background:url(../image/sub/gyosoo/gyosoo_box_top1.png)  no-repeat left top;}
 h2.gyosoo_t{ float:left; font-weight:bold; font-size:12px; color:#FFF; padding:8px 0 0 15px;}
.gyosoo_sub_box{width:862px; background:url(../image/sub/gyosoo/gyosoo_sub_box_bg.png) no-repeat left bottom; padding:0px 0 0px 0; }*/

.sub_box_top4{width:862px; height:31px; margin:0 auto;  background:url(../image/sub/gyosoo/gyosoo_box_top1.png)  no-repeat left top;}
 h2.gyosoo_t{ float:left; font-weight:bold; font-size:12px; color:#FFF; padding:8px 0 0 15px;}
.gyosoo_sub_box4 {width:862px; margin:0 auto;  background:url(../image/sub/gyosoo/gyosoo_sub_box_bg.png) no-repeat left bottom; padding:0px 0 0px 0; }

.basicbox {float:left; width:409px; height:195px; margin:0 40px 40px 0; }
.basicbox2 {float:left; width:409px; height:196px; margin:0 40px 40px 0;  background:url(../image/sub/gyosoo/basic_botbg02.png) no-repeat left bottom; }
.gapr0{ margin-right:0px;}
.basicbox .basicbox_top_p{width:395px; height:24px; padding:7px 0 0 15px; font-weight:bold; font-size:12px; color:#FFF;  background:url(../image/sub/gyosoo/basic_topbg01.png) no-repeat left top;}
.basicbox .basicbox_top_blue{background:url(../image/sub/gyosoo/basic_topbg02.png) no-repeat left top;}
.basicbox .basicbox_p{width:409px; height:165px; background:url(../image/sub/gyosoo/basic_botbg01.png) no-repeat left bottom; overflow:hidden;}
.basicbox .basicbox_p .name_txt{ height:45px; width:100%;  display: inline-block; border-bottom:1px solid #e6e6e6; }
.basicbox .basicbox_p .name_txt .name{ float:left; width:220px; padding:15px 0 0 15px;}
.basicbox .basicbox_p .name_txt .mileage { float:right; width:140px;  padding:15px 15px 0 0px; text-align:right; border:none;}
.basicbox .basicbox_p ul.basicbox_btn { margin:23px 0 0 16px;}
.basicbox .basicbox_p ul.basicbox_btn li{ float:left; padding-right:13px; }
.mileage_top_u li{ margin:0 2px;  height:18px; border-bottom:1px solid #e6e6e6; padding:5px; background-color:#fbfbfb;}

/*교수학습센터 메인tab*/
.basicbox2 .recent_tab { position: relative;}
.basicbox2 .recent_tab ul { position: relative;}
.basicbox2 .recent_tab ul li { }
.basicbox2 .recent_tab ul li a {top: 0px; height:31px; position:absolute; left: 0px; }
.basicbox2 .recent_tab ul li.tab2 a.tab {left: 211px;}
.basicbox2 .recent_tab ul li ul {top: 32px; width:100%; position: absolute;}
.basicbox2 .recent_tab ul li ul li {position: relative;}

.mileage_top{ display:inline-table;  }
.mileage_top dt{ float:left; display:block; font-weight:bold; font-size:11px; width:60px; padding-left:10px; text-align:left;}
.mileage_top dt.mileage_first{ width:30px}
.mileage_top dd{ display:block; float:left; font-size:11px;}
.mileage_top dd.name{ width:60px; text-align:left; font-size:12px; font-weight:bold;}
.mileage_top dd.point{ text-align:center;width:145px;}
.mileage_top dd.sponsor{ text-align:right; width:110px;}
.mileage_top dd span{ font-weight:bold; margin-right:5px; font-family:Tahoma;}
.mileage_top dd.subj_first{ width:65px; padding-left:10px; text-align:left;font-weight:bold; background:url(../image/sub/gyosoo/basic_bull01.gif) no-repeat right center;}
.mileage_top dd.subtxt_regi { display:inline; font-size:12px; width:230px; text-align:left; padding-left:8px;}
.mileage_top dd.mileage_date{ text-align:right; width:70px;font-family:Tahoma; color:#7a7a7a; }
.mileage_top dd.subj{ width:70px; text-align:left;font-weight:bold; background:url(../image/sub/gyosoo/basic_bull01.gif) no-repeat right center;}
.mileage_top dd.subtxt{ font-size:12px; width:200px; text-align:left; padding-left:8px;}
.mileage_top dd.mileage_t_point{ text-align:right; width:70px; }
.mileage_top dd.subtxt_regi a.subtxtlink { position:relative; display:block; font-size:12px; width:230px; color:#606060; }
.mileage_top dd.subtxt a.subtxtlink { position:relative; display:block; font-size:12px; width:230px; color:#606060; }


#header2 h1{ float:left; margin:5px 0 0 10px;}
.win_option{ float:right; display:block; margin:8px 8px 0 0;}
.win_option li{ float:left;}
.gyosoo_tab{position:absolute; left:10px; top:37px; height:29px; }
.gyosoo_tab li{ float:left; letter-spacing:-1px; background:url(../image/sub/gyosoo/tabbg.png) no-repeat left top; font-weight:bold; text-align:center;
}
.gyosoo_tab li a{ color:#717171; display:block; padding:6px 0 0 0;  height:23px; width:126px; text-decoration:none;}
.gyosoo_tab li a.gst_on{ font-size:14px; color:#FFF; background:url(../image/sub/gyosoo/tabbg_on.png) no-repeat left top; }
.member_set{ position:absolute; width:400px; right:0px; top:37px; }
.member_set p{ float:right; color:#FFF; padding-top:2px;}
.member_set p .name{ font-weight:bold; }
.member_set p .school{ color:#d4d4d4;}
.member_set ul{ float:right; margin:0 5px 0 10px;}
.member_set li{ float:left; margin-right:3px;}
.gyosoo_sub_con{ margin:0 40px; }
.gyosoo_board_set{ height:21px; padding-bottom:15px;  }
.gyosoo_board_set .file_add{float:left; margin-top:5px;}
.gyosoo_board_set .file_add li{ float:left; margin-right:3px;}
.gyosoo_board_set .list_style { float:right;}
.gyosoo_board_set .list_style li{ float:left; margin-left:3px;}


/*마일리지 사용내역*/
.mileage { width:100%; border-left:1px solid #c7c7c7; border-right:1px solid #c7c7c7;}
.mileage th{background:#f7f7f7; border-bottom:1px solid #e6e6e6;}
.mileage td{ background:#f7f7f7; border-bottom:1px solid #e6e6e6; padding:8px }
.mileage td.date{ font-family:Tahoma; font-size:11px; text-align: center; color:#a4a4a4;}
.mileage td.course{ font-weight:bold; font-size:11px; color:#786e58; background:url(../image/sub/gyosoo/gyosoo_t_bull.gif) no-repeat right center;}
.mileage td.point{ text-align:right; font-size:11px;}
.mileage td.point span{ padding-right:3px; font-weight:bold; }
.mileage td.point span.minus{ color:#d74848;}
.mileage td.point span.plus{ color:#5381d5;}
.mileage td.name{font-weight:bold; text-align:center;}
.charge_gap{ width:630px; height:299px; margin:50px auto;  }
.charge_gap p{ float:left; }
.charge_gap_img{ margin-right:35px;}
.charge_gap_txt{ padding:80px 0 15px 0; font-weight:bold;}


/*교수학습지원센터 쓰기*/
.gyosoo_write { clear:both;width:100%; border-top:2px solid #7796cd; margin-bottom:10px;}
.gyosoo_write th{ border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1; background-color:#f6f6f6;  text-align:left; vertical-align:top; padding:8px 8px 8px 20px; color:#767676;}
.gyosoo_write td{ border-bottom:1px solid #d1d1d1;  padding:8px 8px 8px 10px;}
.gyosoo_write .commediter { margin:0; padding:0; width:100%; }
.gyosoo_write .commediter td { padding:0; margin:0; }
.m_point_txt{ height:23px; float:left; }
.add_file_list{ padding:8px 0 ; font-size:11px;  }
.add_file_list p{ padding-top:2px;}
.add_file_list img{ margin-left:3px; vertical-align:middle;}

/* 교수학습지원센터 bottom_menu 영역
---------------------------------------------------*/
.gyosoo_sub_menu{float:left; width:100%; height:107px; background:url(../image/sub/gyosoo/sub_menu_bg.gif) repeat-x left top;}
.gyosoo_sub_menu .menu{margin:0 auto; width:980px; padding-top:12px; overflow:auto;}
.gyosoo_sub_menu .menu .smenu_arrow_left{float:left; width:40px; height:80px; padding-top:4px;}
.gyosoo_sub_menu .menu .smenu_arrow_center{float:left; width:900px; height:87px; overflow:hidden;}
.gyosoo_sub_menu .menu .smenu_arrow_right{float:right; width:40px; height:80px; padding-top:4px;}
.gyosoo_sub_menu .menu .smenu_arrow_right img{ margin-left:10px;}
.gyosoo_sub_menu .menu .smenu_arrow_center dl{ float:left; width:100px; text-align:center;}
.gyosoo_sub_menu .menu .smenu_arrow_center dl dt{ display:block; height:67px; text-align:center;}
.gyosoo_sub_menu .menu .smenu_arrow_center dl dd{ display:block; height:20px; text-align:center; font-weight:bold; color:#fff; font-size:12px;}

/* 교수학습지원센터 교과목 리스트
---------------------------------------------------*/
.gyo_list{ border-top: 1px solid #dfdfdf;}
.gyo_list li{ border-bottom: 1px solid #dfdfdf; height:65px; padding:12px 20px; background:url(../image/sub/gyosoo/gyo_list_bg.gif) repeat-x left bottom;}
.gyo_list li p.gyo_list_img{ float:left; margin-right:10px;}
.gyo_list li .gyo_list_txt{float:left; width:450px}
.gyo_list li p.gyo_lis_title{ color:#475271; font-size:14px;  font-weight:bold; display:inline-block; width:400px; height:20px; padding-bottom:3px;}
.gyo_list li p.gyo_list_star {width:400px; height:15px;}
.gyo_list li p.gyo_list_star img{ margin-right:2px;}
.gyo_list li .gyo_list_dl{ float:left; width:400px; font-size:11px; margin-top:8px;}
.gyo_list li .gyo_list_dl dt{ float:left; padding-left:8px; padding-right:3px; background:url(../image/sub/gyosoo/basic_bull02.gif) no-repeat left 4px;}
.gyo_list li .gyo_list_dl dd{ float:left; padding-right:8px; font-weight:bold; color:#839de8;}
.gyo_list li .gyo_list_dl dt.first{ padding-left:0px; background:none;}
.gyo_list li .gyo_list_kind{ float:right; width:150px; padding-top:10px; text-align:right;}
.gyo_list li .gyo_list_kind img{ margin-left:3px;}
.gyo_list li .gyo_list_kind p{ padding-top:8px; font-size:11px; font-family:Tahoma; color:#a4a4a4;}

/* 교수학습지원센터 교과목록 팦업
---------------------------------------------------*/
/*tab 롤오버 디자인*/
.list.tab {height: 160px; width:370px;}
.list.tab ul {position: relative; padding-bottom: 0px; list-style-type: none; margin: 0px; padding-left: 0px; padding-right: 0px; font-family: Tahoma, Sans-serif; font-size: 12px; list-style-image: none; padding-top: 0px}
.list.tab ul:after {display: block; clear: both; CONTENT: ""}
.list.tab li {margin-bottom: -1px; float: left}
.list.tab li a {   text-align:center;  padding:7px 0 0 0; position: relative; background:url(../image/sub/gyosoo/popup_tab_bg.png) no-repeat left top; float: left; color: #666; text-decoration:none; font-weight: bold; }
.list.tab li a span{height:29px; font-size:12px; letter-spacing:-1px; width :94px; display:block;}

.list.tab li ul {position: absolute; top: 42px; padding-top: 0px; left: 0px}
.list.tab li ul:after {display: block; clear: both; CONTENT: ""}
.list.tab li li {position: relative; margin: 0px; float: none; color: #999}
.list.tab li li a {padding: 0px; margin: 0px;  background: none transparent scroll repeat 0% 0%; float: none; color: #666 !important;font-weight: normal;}
.list.tab li li a:hover {color: #fff !important; font-weight:bold; }
.list.tab li li a:active {color: #fff !important; font-weight:bold; }
.list.tab li li a:focus {color: #fff !important;font-weight:bold; }
.list.tab li.active a { color: #fff;  background:url(../image/sub/gyosoo/popup_tab_bg_on.png) no-repeat left top; float: left; font-weight:bold; }
.list.tab li li a{ background:none !important; padding:0px; margin:0px; display:inline; }
/*tab 아래의 컨텐츠*/
.gyosoo_popup { width:400px; position:absolute; left:500px; top:340px;}
.gyosoo_popup_con{  background:url(../image/sub/gyosoo/popup_tab_bg01.png) no-repeat left top; padding:10px 10px 20px 10px;}

.popup_tab { width:370px; }
.popup_tab_img{ width:102px; float:left; margin-right:9px;}
.popup_tab_img img{ margin-bottom:10px;}
.scrap_t{ width:102px; height:21px; background:url(../image/sub/gyosoo/popup_tab_scrap_bg.png) no-repeat left top; font-size:11px; text-align:center; padding-top:2px;}
.scrap_t span{padding-left:4px;}
span.lblue_bold{ font-weight:bold; color:#839de8; }

.popup_tab_title{ color:#475271;  font-weight:bold; display:inline-block; width:230px; height:20px;}
.popup_tab_star img{ margin-right:2px;}
.popup_tab_dl { width:230px; display:block; font-size:11px; float:left; margin-top:10px;margin-bottom:15px; }
.popup_tab_dl dt{  font-size:11px; display; float:left;  width:60px; padding:2px 10px 2px 0; color:#a9a9a9; height:14px; background:url(../image/sub/gyosoo/basic_bull02.gif) no-repeat right 6px;}
.popup_tab_dl dd{ font-size:11px; display:block;  float:left;  margin:0px; width:150px; padding:2px 5px 2px 5px; height:14px;}
.popup_tab_txt{ clear:both; border-top:#e6e6e6 1px solid; padding:5px 5px 10px 5px; }
.popup_tab_btn { height:30px; padding-left:80px;}
.popup_tab_btn a{ display:block;  float: none;}
.popup_tab_btn img{ margin-right:5px;}
.popup_tab_clear{ height:15px; background:url(../image/sub/gyosoo/popup_tab_bg02.png) no-repeat left bottom; }
/* 교수학습sub_content 영역 끝 ------------------------*/




/*콘탠츠 디자인 공통
---------------------------------------------------*/
.com_blue_bar { clear:both;width:100%; border-top:2px solid #97bef6; border-bottom:2px solid #97bef6; margin-bottom:10px;}
.com_blue_bar th{ border-bottom:1px solid #ececec;  text-align:left; vertical-align:top; padding:12px; color:#333;}
.com_blue_bar td{ border-bottom:1px solid #ececec; padding:12px;}
.margin_bt20{ margin-bottom:20px;}

table td label { padding-right:15px;}

.padding10 { padding-top:10px;}
.padding_l10 { padding-left:10px;}
.cb01 { vertical-align:middle;}

   /*input관련 사이즈*/
    input.ip395{ border:1px solid #cacaca; height:21px; width:395px; margin-right:8px; vertical-align:top;}
    input.ip140{ width:140px; height:23px;line-height:23px ; font-size:11px;  border:1px solid #cacaca; vertical-align:top;}
	input.ip170{ width:170px; height:23px; margin-right:5px;line-height:23px ; font-size:11px; vertical-align:middle; border:1px solid #cacaca; }
    input.ip_l140{ width:140px; height:20px;line-height:21px ; font-size:11px;  border:1px solid #cacaca; vertical-align:top;}
    input.ip310{ width:310px; height:23px;line-height:23px ; font-size:11px;  border:1px solid #cacaca; vertical-align:top;}
    input.ip240{ border:1px solid #cacaca; height:23px; width:240px; vertical-align:top;}
    input.ip270{ border:1px solid #cacaca; height:23px; width:270px; vertical-align:top;}
    input.ip300{ border:1px solid #cacaca; height:23px;  width:300px; vertical-align:top;}
    input.ip340{ border:1px solid #cacaca; height:23px; font-size:11px;  line-height:23px; width:340px; vertical-align:top;}
    input.ip360{ border:1px solid #cacaca; height:23px; font-size:11px;  line-height:23px; width:360px; vertical-align:top;}
    input.ip375{ border:1px solid #cacaca; height:23px; width:375px; vertical-align:top; background-color:#FFF;}
    input.ip500{ border:1px solid #cacaca; height:23px; width:500px; vertical-align:top;}
	input.ip540{ border:1px solid #cacaca; height:23px; width:570px; vertical-align:top;}
	input.ip600{ border:1px solid #cacaca; height:23px; width:600px; vertical-align:top;}
    select.sel435 {width:435px; margin-right:10px;}
    select.sel210 {width:210px; margin-right:10px;}
    select.sel_lm160{ margin-top:10px; width:160px;}
    select.sel160 {width:160px; margin-right:10px; margin-top:5px;}
    select.sel140 {width:140px; margin-right:3px; vertical-align:top;}
    select.sel100{width:100px; margin-right:5px;vertical-align:top; }
    select.sel85{width:85px; margin-right:20px; }

    textarea.gray_textarea { background:#f6f6f6; border:1px solid #cacaca; width:100%;}
	textarea.gray_textarea2 { background:#f6f6f6; border:1px solid #cacaca; width:100%; height:150px;}

    .ul02{}
    .ul02 li{ padding-left:6px;background:url(../image/sub/board/bull01.gif) no-repeat left center;}

   /*버튼그룹*/
    .btn_group_center { padding:7px; text-align:center;}
    .btn_group_center img{ margin:0 5px; }
    .btn_group_left { padding-top:10px; text-align:left;}
    .btn_group_left img{ margin:0 5px; }
    .btn_group_right { padding-top:10px; text-align:right;}
    .btn_group_right img{ margin:0 0 0 5px; }
    .center{ text-align:center;}
    .t_center{ text-align:center;}
    .t_left{ text-align:left}
    .t_right{ text-align:right;}
    .t_right img{ margin:0 0 0 5px; }
	.t_bot_3{ padding-bottom:3px;}
	.t_bot_30{padding-bottom:30px;}


   /*폰트*/
    .normal{ font-weight:normal}
    .bold{ font-weight:bold;}
	.bold14{ font-weight:bold; font-size:14px;}
    .blue_bold{ color:#4e81cc; font-weight:bold;}
    .blue{ color:#4e81cc;}
	.bold11_blue{ color:#4e81cc; font-size:11px; font-family:Tahoma; font-weight:bold;}
    .blue_11{ color:#4e81cc;font-size:11px;}
    .eng_11{ color:#a4a4a4; font-size:11px; font-family:Tahoma;}
    .eng_11_bold{ color:#a4a4a4; font-size:11px; font-family:Tahoma; font-weight:bold;}

  /* Hack */

	/* ie5.5, 6 */
	* html .arrow_center{ float:left; width:790px; margin:0 20px;}
	* html .student_notice .list_ti{float:left; width:383px; margin:24px 0 0 20px;}
	* html .student_notice .tab_menu li{line-height:1px; font-size:1px;}
	* html .teacher_icon .box1{height:330px;}
	* html .teacher_notice .photo{ margin-left:15px;}
	* html .teacher_notice .list_ti{margin-left:15px;}
	* html .teacher_notice .list_ti dt{width:277px;}
	* html .sns_box{width:109px; margin-right:15px; }
