@charset "utf-8";
/*--------------------------------------------------

title: dafault.css

version: 0.1
2012.01.11
onmakers

---------------------------------------------------*/
/* 공통스타일 */

/*숨김컨텐츠 */
#skip-navigation, .blind, .location dt{
	position:absolute;
	left:-1000em;
	font-size:0;
	line-height:0;
}


/* 링크스타일 */
a, a:link {
	color:#2f2f2f;
	text-decoration:none;
} 
a:visited {
	color:#686868;
	text-decoration:none;
}
a:hover, a:focus {
	color:#f00;
	text-decoration:underline;
}
a:active {
	color:#f00;
}