.main-visual {
  position: relative;
  /* padding-bottom: 40px; */
  max-height: 560px;
}

.main-visual .visual-wrap {
  padding-top: 20px;
}

.main-visual .visual-wrap .list {
  display: flex;
}

.main-visual .visual-wrap .list .info-wrap {
  display: flex;
  flex: 0 1 auto;
  width: 50%;
  height: 500px;
  padding: 0 16px;
  background-color: #0038a9;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 1820px) {
  .main-visual .visual-wrap .list .info-wrap {
    padding: 0 72px;
    width: 46%;
  }
}

.main-visual .visual-wrap .list .info-wrap .sub-title {
  font-size: 16px;
}

.main-visual .visual-wrap .list .info-wrap .title {
  overflow: hidden;
  line-height: 1.5;
  margin-top: -20px;
  margin-bottom: 35px;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 1270px) {
  .main-visual .visual-wrap .list .info-wrap .title {
    font-size: 32px;
  }
}

.main-visual .visual-wrap .list .info-wrap .title .font-poppins {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 8px;
}

.main-visual .visual-wrap .list .info-wrap .title .small {
  font-size: 21px;
  font-weight: 400;
}

.main-visual .visual-wrap .list .info-wrap .title .large {
  font-size: 48px;
  font-weight: 900;
}

.main-visual .visual-wrap .list .info-wrap .btn-more {
  border: 2px solid #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.main-visual .visual-wrap .list .img-wrap {
  flex: 0 1 auto;
  width: 54%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #efefef;
}

.main-visual .visual-wrap .slick-dots {
  position: absolute;
  bottom: 80px;
  left: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 1820px) {
  .main-visual .visual-wrap .slick-dots {
    bottom: 70px;
    left: 72px;
  }
}

.main-visual .visual-wrap .slick-dots li {
  border-color: #fff;
}

.main-visual .visual-wrap .slick-dots li.slick-active {
  background-color: #fff;
}

.main-visual .visual-wrap .flex-vertical-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
}

.main-visual .visual-search {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);
}

.main-visual .visual-search .notice-box-wrap {
  display: none;
  height: 80px;
  border-color: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1270px) {
  .main-visual .visual-search .notice-search-btn {
    margin-right: -2px;
  }
}

.main-board-wrap {
  text-align: center;
}

.main-board-wrap.flex-row {
  margin-right: -10px;
  margin-left: -10px;
}

.main-board-wrap .flex-col-3 {
  padding-right: 10px;
  padding-left: 10px;
}

.main-board-wrap .main-board-items {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 40px 15px 45px;
  background-color: #f7f7f7;
}

.main-board-wrap .main-board-items img {
  width: 60px;
}

.main-board-wrap .main-board-items .title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #000;
}

.main-board-wrap .main-board-items .desc {
  width: 100%;
  line-height: 1.42;
  font-size: 14px;
  color: #666;
}

.card-box-wrap {
  max-height: 500px;
  overflow: hidden;
}
.card-box-wrap .flex-col-4 {
    flex: 0 0 auto;
}
.card-box-wrap .flex-col-4#boardBox {
    max-width: 42%;
}
.card-box-wrap .flex-col-4#galleryBox{
    max-width: 32%;
}
.card-box-wrap .flex-col-4#bannerBox {
    max-width: 26%;
}
.card-box-wrap .flex-col-8#galleryBox {
    max-width: 58%;
    flex: 0 0 auto;
}
.card-box-wrap .card-wrap {
  padding: 0;
}
.card-box-wrap .card-wrap:hover {
  border: 1px solid #ddd;
  box-shadow: none;
}

#boardBox .card-head {
  flex: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#boardBox .card-head .tab-wrap.line-style {
  justify-content: flex-start;
  position: relative;
  padding-top: 0;
  margin: 0;
}
#boardBox .card-head .tab-wrap.line-style:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#boardBox .tab-wrap.line-style .tab-list {
  height: 60px;
}
#boardBox .card-head .more {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url("/template/lms/imgs/common/icon_notice_plus_blue.jpg")
    no-repeat center;
  width: 60px;
  height: 60px;
}
#boardBox .card-body {
  padding: 30px;
}
#boardBox .card-body ul {
  display: flex;
  flex-direction: column;
}
#boardBox .card-body ul li {
  position: relative;
  padding-left: 12px;
}
#boardBox .card-body ul li::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background: #666;
  border-radius: 10px;
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
}
#boardBox .card-body ul li {
  display: block;
  cursor: pointer;
}
#boardBox .card-body ul li strong,
#boardBox .card-body ul li p {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7rem;
  color: #333;
}
#boardBox .card-body ul li p {
  margin-top: 10px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.7rem;
  height: 3.4rem;
  display: none;
}
#boardBox .card-body ul li:first-child {
  padding: 0 0 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
#boardBox .card-body ul li:first-child::before {
  display: none;
}
#boardBox .card-body ul li:first-child strong {
  font-weight: 600;
  font-size: 18px;
}
#boardBox .card-body ul li:first-child p {
  display: -webkit-box;
  display: block;
}

#galleryBox {
  position: relative;
}
#galleryBox h3 {
  font-size: 15px;
  line-height: 60px;
  padding: 0px 95px 0 30px;
  font-weight: 700;
  color: #999;
}
#galleryBox .gallerySlick {
  padding: 0 30px 30px;
}
#galleryBox .gallerySlick li{
    cursor:pointer;
}
#galleryBox .gallerySlick li .img-wrap {
  width: 100%;
  padding-bottom: 59.87%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
#galleryBox .gallerySlick li strong {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7rem;
  color: #333;
  margin-top: 8px;
}
#galleryBox.flex-col-8 .gallerySlick li strong {
  margin-top: 13px;
}
#galleryBox .gallerySlick .slick-dots {
  position: absolute;
  top: -40px;
  right: 30px;
  margin: 0;
}
#galleryBox #gallerySlick2 {
  padding: 0 10px 30px 30px;
}
#galleryBox #gallerySlick2:before {
  content: "";
  width: 20px;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
#galleryBox #gallerySlick2 .slick-track li {
  margin-right: 20px;
}

#bannerBox {
  cursor: pointer;
}
#bannerBox .card-wrap {
  background-image: url("/template/lms/imgs/main/bannerBg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  line-height: 1.7;
  padding: 0 30px;
}
#bannerBox .card-wrap span {
  display: block;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 12px;
  line-height: 25px;
}
#bannerBox .card-wrap h2 {
  font-weight: 600;
  font-size: 21px;
  margin-top: 8px;
}
#bannerBox .card-wrap .con-wrap {
}
#bannerBox .card-wrap .con-wrap img {
  max-height: 160px;
  max-width: 100%;
  margin-top: 12px;
}
#bannerBox .card-wrap .con-wrap p {
  font-size: 13px;
  font-weight: 500;
  margin-top: 12px;
}
#bannerBox .card-wrap .con-wrap p.con-text {
  border-top: 2px solid #ddd;
  padding-top: 12px;
  text-align: left;
}
.slick-dots li:last-child{display:none;}