.main-myclass .date-select-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main-myclass .date-select-wrap .selected-date {
  padding: 0 30px;
  text-align: center;
}

.main-myclass .date-select-wrap .selected-date .title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #0038a9;
}

.main-myclass .date-select-wrap .selected-date .sub-title {
  font-size: 16px;
  font-weight: 300;
}

.main-myclass .date-select-wrap [class*="btn-"] {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.main-myclass .date-select-wrap [class*="btn-"] .icon-arrow {
  flex: 0 0 70px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-myclass .date-select-wrap [class*="btn-"] .title {
  flex: 1 1 0px;
  line-height: 1.7;
  font-size: 13px;
}

.main-myclass .date-select-wrap [class*="btn-"] .title .date {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.main-myclass .date-select-wrap [class*="btn-"]:disabled {
  cursor: default;
  opacity: .4;
}

.main-myclass .date-select-wrap .btn-prev .icon-arrow {
  left: 0px;
  background-image: url(../../imgs/common/btn_slick_prev.svg);
  background-position: left center;
}

.main-myclass .date-select-wrap .btn-prev .icon-arrow:after {
  content: none;
}

.main-myclass .date-select-wrap .btn-next .icon-arrow {
  right: 0px;
  background-image: url(../../imgs/common/btn_slick_next.svg);
  background-position: right center;
}

.main-myclass .date-select-wrap .btn-next .icon-arrow:after {
  content: none;
}

.main-myclass .class-list-wrap:not(.slick-dotted) .slick-track {
  margin: 0 auto;
}

.main-myclass .class-list-wrap .slick-list {
  width: 100%;
  padding: 30px 0;
}

.main-myclass .class-list-wrap .slick-dots {
  margin-top: 0;
}
