@charset "UTF-8";
.graph-layout-wrap .graph-layout-box.board-graph {
  padding: 20px;
  text-align: left;
}

.graph-layout-wrap .graph-layout-box.pie {
  flex: none;
  width: 280px;
}

.graph-layout-wrap .graph-text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graph-layout-wrap .graph-text-wrap .class-tab-wrap {
  font-size: 0;
}

.graph-layout-wrap .graph-text-wrap .class-tab-wrap .title {
  font-size: 14px;
  font-weight: 700;
  color: #777;
  letter-spacing: 0.04em;
}

.graph-layout-wrap .graph-text-wrap .class-tab-wrap .title:after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 14px;
  margin: 0 13px;
  background-color: #ddd;
  vertical-align: middle;
}

.graph-layout-wrap .graph-text-wrap .class-tab-wrap .title:last-child:after {
  content: none;
}

.graph-layout-wrap .graph-text-wrap .class-tab-wrap .title.on {
  color: #068467;
}

.survey-info-wrap {
  margin-bottom: 40px;
}

.survey-info-wrap .title {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.survey-info-wrap .desc {
  line-height: 1.7;
  font-size: 14px;
  letter-spacing: 0;
  word-break: keep-all;
}

.survey-info-wrap .desc:not(:last-child) {
  margin-bottom: 10px;
}

.survey-check-wrap {
  text-align: left;
}

.survey-check-wrap.read-only {
  pointer-events: none;
}

.survey-check-wrap .survey-check-items:not(:last-child) {
  margin-bottom: 40px;
}

.survey-check-wrap .survey-check-items .title {
  margin-bottom: 25px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
}

.survey-check-wrap .survey-check-items .desc {
  margin-top: -20px;
  margin-bottom: 25px;
  line-height: 1.84;
  font-size: 13px;
  color: #666;
}

.survey-check-wrap .survey-check-items .checkbox-circle {
  height: 40px;
  display: flex;
  align-items: center;
}

.survey-check-wrap .survey-check-items .checkbox-circle:not(:last-child) {
  margin-bottom: 9px;
}

.survey-check-wrap .survey-check-items .checkbox-circle .text {
  flex: 1 1 auto;
}

.survey-check-wrap .survey-check-items textarea {
  height: 130px;
}

.survey-check-wrap .survey-check-items .table-checkbox {
  padding: 0;
  text-align: center;
}

.survey-check-wrap .survey-check-items .table-checkbox .checkbox-circle {
  display: inline-block;
  margin-right: 0;
}

.survey-check-wrap .survey-check-items .table-checkbox .checkbox-circle:after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.create-survey-wrap {
  position: relative;
  margin-lefT: 40px;
}

.create-survey-wrap .arrow-btn-wrap {
  position: absolute;
  top: 0;
  left: -40px;
}

.create-survey-wrap .arrow-btn-wrap .btn-arrow {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 12px 7px;
  text-indent: -9999px;
  cursor: pointer;
}

.create-survey-wrap .arrow-btn-wrap .btn-arrow.up {
  background-image: url(../../imgs/page/process/bnt_arrow_up.png);
}

.create-survey-wrap .arrow-btn-wrap .btn-arrow.down {
  margin-top: -1px;
  background-image: url(../../imgs/page/process/bnt_arrow_down.png);
}

.create-survey-wrap .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-image: url(../../imgs/common/icon_close_gray.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 42px;
  cursor: pointer;
}

.create-survey-wrap .survey-title-wrap {
  padding-bottom: 0;
  background-color: #f8f8f8;
}

.create-survey-wrap .survey-title-wrap .table-style2 tr {
  border: none;
}

.create-survey-wrap .survey-title-wrap .table-style2 tr:first-child {
  border: none;
}

.create-survey-wrap .survey-content-wrap {
  padding: 10px 20px 20px;
}

.create-survey-wrap .survey-check-items .checkbox-circle {
  margin-right: 0;
}

.create-survey-wrap .survey-check-items .checkbox-circle .text {
  display: flex;
}

.create-survey-wrap .survey-check-items .checkbox-circle .text input {
  max-width: calc(100% - 120px);
}

.create-survey-wrap .survey-check-items .checkbox-circle .text button {
  margin-left: 10px;
}

.create-survey-wrap .btn-add-list {
  display: flex;
  padding-left: 32px;
}

.create-survey-wrap .btn-add-list .text {
  flex: 1 1 auto;
  display: block;
  line-height: 38px;
  font-size: 12px;
  color: #aaa;
  border: 1px dashed #ddd;
  background-color: #f1faf9;
  text-align: center;
}

.create-survey-wrap .btn-add-list button {
  margin-left: 10px;
}

.create-survey-wrap .content-textarea {
  font-size: 12px;
}

.create-survey-wrap .froala_editor.fr-box.fr-basic .fr-wrapper .fr-element {
  min-height: 155px !important;
}

.create-survey-wrap .guide-box {
  padding: 30px;
  text-align: center;
  background-color: #f9f9f9;
}

.create-survey-wrap .guide-box .text {
  font-size: 14px;
  margin-bottom: 20px;
}

.create-survey-wrap .fr-toolbar .fr-command.fr-btn,
.create-survey-wrap .fr-popup .fr-command.fr-btn {
  width: 27px !important;
}

.create-survey-wrap.expansionPanel .openToggle .text::before {
  content: '설문내용 닫기';
}

.create-survey-wrap.expansionPanel .openToggle.on .text::before {
  content: '설문내용 펼치기';
}

.expansionPanel {
  position: relative;
  margin-bottom: 44px;
  border: 1px solid #ddd;
}

.expansionPanel:not(:last-child) {
  margin-bottom: 84px;
}

.expansionPanel .panel {
  border-top: 1px solid #ddd;
}

.expansionPanel .openToggle {
  position: absolute;
  right: -1px;
  bottom: -45px;
  width: auto;
  min-width: 160px;
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.expansionPanel .openToggle.on .text::after {
  transform: rotate(0);
}

.expansionPanel .openToggle.on .text::before {
  content: '펼치기';
}

.expansionPanel .openToggle .text {
  position: relative;
  padding-right: 18px;
}

.expansionPanel .openToggle .text::before {
  content: '닫기';
  display: inline-block;
}

.expansionPanel .openToggle .text::after {
  content: '';
  position: absolute;
  right: 0;
  top: 4px;
  width: 10px;
  height: 8px;
  background-image: url(../../imgs/common/icon_select_arrow_down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(180deg);
}

#printContent {
  width: 1024px;
  margin: 0 auto;
}

#printContent > .page-box {
  padding: 60px 40px 40px;
  border: 1px solid #ddd;
}

.page-footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-top: 1px solid #ddd;
}

.page-footer-wrap .logo-wrap {
  width: 175px;
  height: 20px;
}

.page-footer-wrap .info-wrap {
  display: flex;
  margin: 0 -15px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.page-footer-wrap .info-wrap li {
  line-height: 2.3;
  padding: 0 15px;
  font-size: 14px;
  color: #333;
}
