/* 첨부파일 버튼 */
.file_btn{float:left;width:115px;height:40px;line-height:40px;position:absolute;right:5px;}
.file_btn:hover{color:#fff;}
.btn_gray{display:inline-block;text-align:center;border:1px solid #999999;color:#fff;background:#999999;cursor:pointer;}
.fileupload{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;}


.slyWrap .board-tab-lists li a.link{margin:0px;padding:0px;}

/* 담당자 사진 이미지 */
.card-user-wrap .user-icon {width:52px;}

/* 교재 및 부교재 */
.content-textarea {
  min-height: 130px;
  padding: 10px 12px;
  border: 1px solid #ddd;
}

.content-textarea {
  width: 100%;
  line-height: 1.7;
  font-size: 14px;
  outline: none;
}

.common-table-wrap .gradeTr td{line-height:15px;}
.gradenum{height:25px;}

.top-score{height:30px;text-align:center;}