.btn-leave {
  display: inline-block;
  line-height: 35px;
  height: 35px;
  font-size: 12px;
  font-weight: 300;
  color: #666;
  cursor: pointer;
}

.textbook-wrap {
  display: flex;
  flex-direction: column;
}

.textbook-contents-view {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.textbook-contents-view .textbook-inner .textbook-flag .text {
  font-size: 14px;
}

.textbook-contents-view .textbook-inner .book-name {
  font-size: 20px;
  margin-bottom: 9px;
}

.textbook-contents-view .textbook-inner .desc {
  max-height: 76px;
  margin-top: 20px;
}

.textbook-contents-view .left-area {
  display: flex;
  align-items: center;
  margin-right: 2.5%;
}

.textbook-contents-view .left-area .textbook-img {
  width: 132px;
  height: 200px;
}

.textbook-contents-view .right-area .textbook-button {
  margin-bottom: -5px;
}

.textbook-contents-view .right-area .textbook-button > * {
  margin: 2.5px 0;
}
