@charset "UTF-8";
/*=================================================
            바디
=================================================*/
body {
  position: relative;
  min-width: 1024px;
  font-family: "NANUMSQUARE-400", sans-serif;
  color: #333;
  letter-spacing: 0.02em;
}

body.popup-body {
  min-width: 100%;
}

body.modal-open {
  overflow: hidden;
}

/*================================
            폰트 컬러
================================*/
.font-basic {
  color: #333 !important;
}

.font-point {
  color: #068467 !important;
}

.font-blue {
  color: #0038a9 !important;
}

.font-red {
  color: #e9411d !important;
}

.font-orange {
  color: #ffba00 !important;
}

.font-green {
  color: #b7ca10 !important;
}

.font-darkgreen {
  color: #00900a !important;
}

.font-black {
  color: #000 !important;
}

.font-gray {
  color: #888 !important;
}

.font-gray-light {
  color: #aaa !important;
}

/*================================
            배경 컬러
================================*/
.bg-point {
  background-color: #068467 !important;
}

.bg-point-light {
  background-color: #f1faf8 !important;
}

.bg-blue {
  background-color: #0038a9 !important;
}

.bg-blue-light {
  background-color: #ecf1fc !important;
}

.bg-green {
  background-color: #b7ca10 !important;
}

.bg-green-light {
  background-color: #e4f3ef !important;
}

.bg-red-light {
  background-color: #ffede9 !important;
}

.bg-gray-light {
  background-color: #f7f7f7 !important;
}

.bg-white {
  background-color: #fff;
}

/*================================
            나라별 컬러
================================*/
.bg-mongolia {
  background-color: #0345c3 !important;
}

.bg-kenya {
  background-color: #000 !important;
}

.bg-hungary {
  background-color: #5ca111 !important;
}

.bg-india {
  background-color: #eda12d !important;
}

.bg-indonesia {
  background-color: #1c3b90 !important;
}

.bg-iran {
  background-color: #0cab17 !important;
}

.bg-poland {
  background-color: #8d1b00 !important;
}

.bg-portugal {
  background-color: #31903c !important;
}

.bg-thailand {
  background-color: #df151e !important;
}

.bg-turkey {
  background-color: #fb0b0c !important;
}

.bg-uzbekistan {
  background-color: #18c2d7 !important;
}

/*=================================================
        헤더
=================================================*/
.gnb {
  min-width: 1024px;
  width: 100%;
}

.gnb .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
}

.gnb .top-header .user-info-wrap {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #068467;
  letter-spacing: 0;
}

.gnb .top-header .user-info-wrap .list {
  padding: 0 10px;
}

.gnb .top-header .user-info-wrap .list:last-child {
  padding-right: 0;
}

.gnb .top-header .user-info-wrap .list.profile {
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: #333;
  letter-spacing: 0;
}

.gnb .top-header .user-info-wrap .list.profile .user-img {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 500;
}

.gnb .top-header .user-info-wrap .list.profile .user-img b {
  font-family: "NANUMSQUARE-400", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.gnb .top-header .user-info-wrap .list.profile .user-img:before {
  display: inline-block;
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #b7b7b7;
  border-radius: 50%;
  vertical-align: middle;
}

.gnb .top-header .user-info-wrap .list.login-time {
  height: 30px;
  line-height: 30px;
  background: #068467;
  margin: 0 10px;
  border-radius: 42px;
  text-align: center;
}

.gnb .top-header .user-info-wrap .list.login-time .login-time-text,
.gnb .top-header .user-info-wrap .list.login-time .login-time-num {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.gnb .top-header .user-info-wrap .list.login-time .login-time-num {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.gnb .nav-wrap {
  position: relative;
  background: #068467;
  color: #fff;
}

.gnb .nav-wrap .nav-wrap-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  line-height: 66px;
}

.gnb .nav-wrap .btn-menu-trigger {
  width: 18px;
  height: 18px;
  line-height: 1;
}

.gnb .nav-wrap .nav-list-wrap {
  font-size: 0;
  height: 100%;
}

.gnb .nav-wrap .nav-list-wrap .nav-list.depth-1 {
  display: inline-block;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.04em;
}

.gnb .nav-wrap .nav-list-wrap .nav-list.depth-1 > .link-text {
  position: relative;
}

.gnb .nav-wrap .nav-list-wrap .nav-list.depth-1 .sub-menu-list-wrap {
  display: none;
  position: absolute;
  top: 66px;
  left: 84px;
  width: calc(100% - 45px);
  z-index: 200;
  transition: all 2s;
}

.gnb .nav-wrap .nav-list-wrap .nav-list.depth-1:hover .sub-menu-list-wrap {
  display: block;
}

.gnb .nav-wrap .nav-list-wrap .nav-list.depth-1:hover, .gnb .nav-wrap .nav-list-wrap .nav-list.depth-1.on {
  background-color: #056c54;
}

.gnb .nav-wrap .nav-list-wrap .nav-list.depth-2 {
  float: left;
  margin-right: 37px;
}

.gnb .nav-wrap .nav-list-wrap .nav-list.depth-2:last-child {
  margin-right: 0;
}

.gnb .nav-wrap .nav-list-wrap .nav-list.depth-2 > .link-text {
  color: #666;
}

.gnb .nav-wrap .nav-list-wrap .nav-list.depth-2 > .link-text:hover {
  color: #068467;
}

.gnb .nav-wrap .nav-bg {
  display: none;
  position: absolute;
  bottom: -66px;
  background: #fff;
  width: 100%;
  height: 66px;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

@keyframes move {
  30%, 100% {
    opacity: 0;
    transform: translate(120px, 0);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

/*=================================================
        사이드 네비게이션
=================================================*/
.lnb {
  border-top: 2px solid #068467;
  opacity: 1;
}

.closeSidenav .lnb {
  opacity: 0;
  -webkit-transition: .3s;
}

.lnb-heder {
  padding: 20px 15px;
  border-bottom: 1px solid #ddd;
}

.lnb-heder .title {
  font-size: 16px;
  font-weight: 900;
  color: #000;
  cursor: default;
}

.lnb-heder .state {
  position: relative;
  margin-top: 12px;
  padding-left: 10px;
  font-size: 13px;
  color: #555;
}

.lnb-heder .state:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #068467;
}

.lnb-body {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.lnb-body .menu-list-wrap .list {
  min-height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

.lnb-body .menu-list-wrap .list a {
  display: inline-block;
  line-height: 1.3;
  margin: 5px 0;
  vertical-align: middle;
}

.lnb-body .menu-list-wrap .list.depth-1 {
  font-size: 15px;
  color: #000;
}

.lnb-body .menu-list-wrap .list.depth-2 {
  font-size: 14px;
  font-weight: 400;
  color: #888;
}

.lnb-body .menu-list-wrap .list.has-sub {
  height: auto;
}

.lnb-body .menu-list-wrap .list.has-sub:not(:last-of-type) {
  margin-bottom: 10px;
}

.lnb-body .menu-list-wrap .list.active {
  font-weight: 700;
}

.lnb-body .menu-list-wrap .list.active.depth-1 {
  color: #068467;
}

.lnb-body .menu-list-wrap .list.active.depth-2 {
  color: #333;
}

.main-bread-crumb {
  padding: 27px 0;
  font-size: 12px;
  font-weight: 700;
  color: #999;
  letter-spacing: 0.04em;
}

.main-bread-crumb .item {
  position: relative;
  display: inline-block;
  padding: 0 9px;
}

.main-bread-crumb .item:first-child {
  padding-left: 0;
}

.main-bread-crumb .item:first-child:after {
  content: none;
}

.main-bread-crumb .item:after {
  display: inline-block;
  position: absolute;
  left: -5px;
  content: '>';
}

/*=================================================
          공통 레이아웃 (고정형 공통)
=================================================*/
.page-content-wrap {
  position: relative;
  min-height: 650px;
  padding: 40px 0 70px;
}

.section-gap {
  padding-top: 65px;
  padding-bottom: 70px;
}

/*=================================================
        서브페이지 공통 레이아웃
=================================================*/
.sub-article-wrap {
  min-height: 800px;
  padding: 30px 40px 50px;
  background-color: #fff;
  min-height: 500px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 1200px) {
  .sub-article-wrap {
    padding: 30px 50px 50px;
  }
}

.keep-all {
  word-break: keep-all !important;
}

.vertical-top {
  vertical-align: top !important;
}

.vertical-mid {
  vertical-align: middle !important;
}

.border-top-line {
  border-top: 1px solid #ddd;
}

.align-items-center {
  align-items: center !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-none {
  flex: none !important;
}

.flex-fill {
  flex: 1 1 0px !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-nowrap [class*=flex-col],
.flex-nowrap [class*=flex-ten-col] {
  flex-shrink: 1 !important;
}

.line-height2 {
  line-height: 2 !important;
}

.line-hr {
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 0;
}

a.underline {
  text-decoration: underline;
}

[data-slick="true"] {
  visibility: hidden;
}

.slick-slide {
  outline: none;
}

.select2 {
  background-color: transparent;
  border: none;
}

.table-top-info {
  font-size: 14px !important;
  line-height: 2 !important;
  text-align: right;
}

.subtop-full-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.04em;
  color: #fff;
}

.subtop-full-wrap .subtop-title,
.subtop-full-wrap .subtop-desc {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.subtop-full-wrap .subtop-title {
  line-height: 1.37;
  font-size: 40px;
}

.subtop-full-wrap .subtop-desc {
  margin-top: 6px;
  font-size: 18px;
}

.slick-dots {
  margin: 30px auto 0;
  text-align: center;
  font-size: 0;
}

.slick-dots li {
  display: inline-block;
  font-size: 0;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border: 2px solid #068467;
  border-radius: 50%;
  text-indent: -9999px;
}

.slick-dots li.slick-active {
  background-color: #068467;
}

.slick-dots li:not(.slick-active) {
  cursor: pointer;
}

.main-util-wrap {
  position: absolute;
  top: 20px;
  right: 16px;
}

.main-util-wrap .btn-expansion {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../../imgs/common/btn_zoom_staff.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-indent: -9999px;
  cursor: pointer;
}

.page-container {
  min-height: calc(100vh - 379px);
}

.page-container.has-sidenav {
  display: flex;
}

.page-container.closeSidenav .sidenav-bar {
  width: 0;
  padding: 0;
}

.page-container.has-sidenav:not(.closeSidenav) .flex-row {
  margin: 0 -12px;
}

.page-container.has-sidenav:not(.closeSidenav) .flex-col,
.page-container.has-sidenav:not(.closeSidenav) [class*="flex-col-"] {
  padding: 0 12px;
}

.page-container .sidenav-bar {
  flex: 0 0 auto;
  width: 240px;
  padding-right: 30px;
  transform-origin: left;
  -webkit-transition: .3s;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .page-container .sidenav-bar {
    width: 300px;
    padding-right: 70px;
  }
}

.page-container .sidenav-bar .lnb {
  width: 210px;
}

@media screen and (min-width: 1200px) {
  .page-container .sidenav-bar .lnb {
    width: 230px;
  }
}

.page-container .expansion-panel {
  overflow: hidden;
  flex: 1 1 0px;
  width: 100%;
  max-width: 1240px;
}

.page-container .expansion-panel .util-wrap {
  flex: 0 0 auto;
  display: flex;
  margin-left: auto;
}

.page-container .expansion-panel .util-wrap .btn-expansion {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../../imgs/common/btn_zoom_staff.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-indent: -9999px;
  cursor: pointer;
}

.page-container .expansion-panel > .main-common-title3:first-child > .title {
  margin-top: -8px;
}

.page-content-header {
  display: flex;
  width: 100%;
  line-height: 1.6;
  margin-bottom: 35px;
}

.page-content-header .title-wrap {
  flex: 1 1 auto;
}

.page-content-header .title-wrap .title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  word-break: keep-all;
}

.page-content-header .title-wrap .sub-title {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
  color: #068467;
}

.page-content-header .title-wrap .desc-wrap {
  margin-top: 4px;
  margin-right: -3px;
}

.page-content-header .title-wrap .desc-wrap .page-item {
  display: inline-block;
  min-width: 100px;
  border: 1px solid #068467;
  margin-right: 3px;
  padding: 2px 13px;
  font-size: 14px;
  font-weight: 900;
  color: #068467;
  border-radius: 13px;
  text-align: center;
  letter-spacing: 0.04em;
}

.page-content-header .title-wrap .desc-wrap .page-item.bg-point {
  background-color: #068467;
  color: #fff;
}

.page-content-header .title-wrap .desc-wrap .progress {
  display: inline-block;
  min-width: 100px;
  background-color: #068467;
  margin-right: 3px;
  padding: 2px 13px;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  border-radius: 13px;
  text-align: center;
  letter-spacing: 0.04em;
}

.page-content-header .title-wrap .desc-wrap .date {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  color: #999;
  letter-spacing: 0.04em;
}

.page-content-header .util-wrap {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-end;
  margin-left: auto;
}

.page-content-header .util-wrap .btn-share {
  width: 37px;
  height: 37px;
  background-image: url(../../imgs/common/icon_share.svg);
  background-repeat: no-repeat;
  background-position: 45%;
  background-size: 22px 24px;
  transform: rotate(180deg);
  cursor: pointer;
}

.page-content-header .util-wrap .btn-wishlist {
  width: 37px;
  height: 37px;
  background-image: url(../../imgs/common/icon_wishlist.svg);
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 26px 24px;
  cursor: pointer;
}

.page-content-header .util-wrap .btn-wishlist.on {
  background-image: url(../../imgs/common/icon_wishlist_on.svg);
}

.page-content-body {
  width: 100%;
}

.page-content-body .content-wrap:not(:last-child) {
  margin-bottom: 40px;
}

.page-content-body .content-wrap .content-header .title-wrap [class*="desc"], .page-content-body .content-wrap .content-body [class*="desc"] {
  line-height: 1.6;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.04em;
}

.page-content-body .content-wrap .content-header .title-wrap .desc-sm, .page-content-body .content-wrap .content-body .desc-sm {
  margin-top: 10px;
  font-size: 14px;
}

.page-content-body .content-wrap .content-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  line-height: 1.6;
  margin-bottom: 15px;
}

.page-content-body .content-wrap .content-header .title-wrap {
  flex: 0 1 auto;
  align-self: flex-start;
  margin-right: 2%;
}

.page-content-body .content-wrap .content-header .title-wrap .title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.page-content-body .content-wrap .content-header .title-wrap .title .desc {
  display: inline-flex;
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #999;
  vertical-align: bottom;
}

.page-content-body .content-wrap .content-header [class*="btn-"] {
  align-self: flex-end;
}

.page-content-body .content-wrap .content-header > button {
  flex: 0 0 auto;
  margin-left: 2%;
}

.page-content-body .content-wrap .content-header .notice {
  flex: 1 1 0px;
  font-size: 14px;
  min-width: 30%;
  margin-left: auto;
  padding-top: 2px;
  color: #068467;
  text-align: right;
  word-break: keep-all;
}

.page-content-body .content-wrap .content-header .card-user-wrap {
  margin-top: 15px;
}

.page-content-body .content-wrap .content-body .notice {
  margin-top: 10px;
  font-size: 14px;
  color: #068467;
}

.page-content-body .content-wrap .content-body .box-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 153px;
  margin-bottom: 40px;
  padding: 40px;
  border: 1px solid #ddd;
  font-size: 18px;
}

.page-content-body .content-wrap .content-body .box-area .desc {
  line-height: 1.6;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.page-content-body .content-wrap .book-list-wrap .list {
  margin-bottom: 20px;
}

.page-content-body .content-wrap .book-list-wrap .list .img {
  height: 0;
  padding-top: 144%;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 15px;
}

.page-btn-wrap {
  display: flex;
  justify-content: center;
}

.page-btn-wrap .left-area {
  flex: 1 1 auto;
  align-self: flex-start;
}

.page-btn-wrap .right-area {
  text-align: right;
  flex: 1 1 auto;
  align-self: flex-end;
}

.table-filter-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 13px;
}

.no-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 15px;
  margin-top: 20px;
  border: 1px solid #ddd;
  text-align: center;
}

.no-content-wrap.short-160 {
  height: 160px;
  padding: 45px;
}

.no-content-wrap .title {
  line-height: 1.38;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.04em;
}

.no-content-wrap .title ~ .sub-title {
  margin-top: 15px;
}

.no-content-wrap .sub-title {
  line-height: 1.78;
  font-size: 14px;
  color: #555;
  letter-spacing: 0.04em;
}

.no-content-wrap .sub-title b {
  color: #068467;
}

.no-content-wrap .sub-title ~ a[class^="btn-"] {
  margin-top: 35px;
}

.card-user-wrap {
  display: flex;
  align-items: center;
}

.card-user-wrap .user-icon {
  margin-right: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  font-size: 0;
}

.card-user-wrap .user-info {
  display: flex;
  flex-direction: column;
}

.card-user-wrap .user-info .title {
  font-size: 20px;
}

.card-user-wrap .user-info .title b {
  font-weight: 900;
}

.card-user-wrap .user-info .sub-title {
  margin-top: 8px;
  font-size: 13px;
  color: #888;
}

.grade-certificate {
  position: relative;
}

.grade-certificate:after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  content: '본 화면은 수료, 성적 증명서로 효력이 없습니다.';
  font-size: 30px;
  color: #dfdfdf;
}

/* 달력 커스텀 */
.fc-button {
  min-width: 38px;
  min-height: 38px;
  padding: 8px !important;
  border-radius: 0 !important;
  font-size: 13px !important;
  font-weight: 700 !important;
}

.fc-button:focus {
  box-shadow: none !important;
}

.fc-button-primary:not(:disabled).fc-button-active {
  background-color: transparent !important;
  border-color: #068467 !important;
  color: #068467 !important;
}

.fc-today-button {
  width: 65px !important;
}

.fc-today-button.fc-button-primary:disabled {
  background-color: #333 !important;
  border-color: #76828e !important;
  color: #fff !important;
}

.fc-today-button.fc-button:disabled {
  opacity: 1 !important;
}

.fc-button-primary {
  background-color: transparent !important;
  border-color: #ddd !important;
  color: #666 !important;
}

.fc-button-primary:hover,
.fc-button-primary:not(:disabled):active {
  background-color: transparent !important;
  border-color: #068467 !important;
  color: #068467 !important;
}

.fc-toolbar h2 {
  font-size: 20px !important;
  font-weight: 700;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 18px !important;
}

.fc th {
  padding: 4px 0 !important;
}

.fc-view, .fc-view > table {
  font-size: 12px !important;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number,
.fc-list-heading td,
.fc-day-header, .fc-time-grid .fc-slats td {
  font-size: 13px !important;
}

.fc-day-header {
  color: #000 !important;
}

/* 상세 */
.class-info-box {
  padding: 41px 0;
  border: 1px solid #ddd;
  font-size: 14px;
  color: #068467;
  text-align: center;
}

.content-body .result-text {
  line-height: 1.66;
  font-size: 14px;
}

.board-tab-wrap {
  position: relative;
  overflow: hidden;
  height: 56px;
  margin-bottom: 20px;
}

.board-tab-wrap .slyWrap {
  width: 100%;
  padding: 7px 15px;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #666;
}

@media screen and (min-width: 1280px) {
  .board-tab-wrap .slyWrap {
    max-width: 940px;
  }
}

.board-tab-wrap .slyWrap .board-tab-lists {
  display: flex;
}

.board-tab-wrap .slyWrap .board-tab-lists > li, .board-tab-wrap .slyWrap .board-tab-lists a {
  flex: 0 0 auto;
  float: left;
  padding: 13px 15px 13px;
  cursor: pointer;
}

.board-tab-wrap .slyWrap .board-tab-lists > li.active, .board-tab-wrap .slyWrap .board-tab-lists a.active {
  color: #068467;
}

.board-tab-wrap .scrollbar {
  position: absolute;
  left: 0;
  bottom: 7px;
  width: calc(100% - 30px);
  height: 3px;
  margin: 0 15px;
  border-radius: 5px;
  background-color: #ddd;
}

.board-tab-wrap .scrollbar .handle {
  width: 200px;
  height: 100%;
  background: #555;
  border-radius: 5px;
  cursor: pointer;
}

.isWide .slyWrap {
  width: 100%;
  max-width: inherit;
}

.selected-items-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  text-align: left;
}

.selected-items-wrap.row-full .item {
  justify-content: space-between;
  width: 100%;
}

.selected-items-wrap .item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  min-height: 34px;
  line-height: 1.35;
  margin: 5px;
  padding: 5px 10px;
  background-color: #f7f7f7;
  font-size: 13px;
  text-align: left;
  cursor: default;
}

.selected-items-wrap .item .btn-remove {
  align-self: flex-start;
  width: 10px;
  height: 10px;
  padding: 12px;
  background-image: url(../../imgs/common/btn_close_gray.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%;
  text-indent: -9999px;
  transform: translateX(7px);
  cursor: pointer;
}

.selected-items-wrap .no-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 54px;
  color: #ccc;
}

.content-textarea {
  width: 100%;
  line-height: 1.7;
  font-size: 14px;
  outline: none;
}

.content-textarea[contenteditable=false]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  color: #eee;
}

.content-textarea[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  color: #aaa;
}

.space-between {
  justify-content: space-between;
}

.self-center {
  align-self: center;
}

.table-scroll-wrap .common-table-wrap {
  table-layout: inherit;
}

.table-scroll-wrap .common-table-wrap th {
  min-width: 120px;
}

.table-scroll-wrap .mCustomScrollBox {
  padding-top: 18px;
}

.tbl {
  display: flex;
  overflow: hidden;
}

.tbl .tbl-left {
  width: 609px;
  margin-right: 1px;
}

.tbl .tbl-left[data-size='tbl-sm'] {
  width: 400px;
}

.tbl .tbl-left[data-size='tbl-md'] {
  width: 500px;
}

.tbl .tbl-main-wrap {
  flex: 1 1 0px;
  min-width: 0px;
}

.tbl .tbl-main-wrap .common-table-wrap {
  table-layout: inherit;
}

.tbl .tbl-main-wrap .common-table-wrap th {
  min-width: 68px;
}

.tbl .tbl-main-wrap[data-size='tbl-lg'] .common-table-wrap th {
  min-width: 120px;
}

.tbl .inner-wrap {
  overflow: hidden;
}

.tbl .inner-wrap .text {
  display: inline-block;
  max-width: 100%;
  max-height: 55px;
}

/* mCustomScrollbar custom */
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 0 !important;
}

.mCSB_scrollTools {
  opacity: 1 !important;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: auto;
  height: 3px !important;
  top: 0 !important;
  right: 0;
  bottom: auto !important;
  left: 0;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover {
  background-color: #555 !important;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #555 !important;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  height: 3px !important;
  margin: 0 !important;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #ddd !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  height: 3px !important;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}

.mCSB_scrollTools, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  transition: inherit !important;
}

.class-tab-wrap {
  font-size: 0;
}

.class-tab-wrap .title {
  font-size: 18px;
  font-weight: 700;
  color: #777;
  letter-spacing: 0.04em;
}

.class-tab-wrap .title:after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 18px;
  margin: 0 13px;
  background-color: #ddd;
  vertical-align: middle;
}

.class-tab-wrap .title:last-child:after {
  content: none;
}

.class-tab-wrap .title.on {
  color: #068467;
}

.page-content-header ~ .page-content-body .content-wrap .board-view-wrap .board-title-wrap {
  border-top: 1px solid #ddd;
}

.page-content-header ~ .page-content-body .content-wrap .main-common-title3 .title {
  font-size: 20px;
}

.content-textarea {
  min-height: 130px;
  padding: 10px 12px;
  border: 1px solid #ddd;
}

/* 그래프 스타일 공통 */
.graph-layout-wrap {
  display: flex;
  margin: 0 -10px;
}

.graph-layout-wrap .graph-layout-box {
  width: 100%;
  flex: 1 1 0px;
  padding: 35px 20px 30px;
  border: 1px solid #ddd;
  overflow: hidden;
  margin: 0 10px;
  text-align: center;
}

.graph-layout-wrap .title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.graph-layout-wrap .boardTypeGraph {
  width: 100%;
  margin-top: 20px;
}

.page-guide-desc {
  font-size: 14px;
  font-weight: 700;
  color: #e9411d;
  text-align: center;
}

.no-content-wrap .satisfy {
  font-size: 20px;
  font-weight: 900;
}

.satisfy-table-wrap {
  margin-top: 40px;
}

.satisfy-table-wrap .satisfy-head {
  padding: 20px;
  margin-bottom: 25px;
  border-top: 1px solid #000;
  background-color: #f9f9f9;
  font-size: 15px;
  color: #000;
  letter-spacing: 0.04em;
}

.satisfy-table-wrap .satisfy-desc {
  margin: -25px 0 25px;
  padding: 15px 20px;
  background-color: #f1faf9;
  font-size: 13px !important;
  font-weight: 300;
  letter-spacing: 0.04em;
}

.satisfy-table-wrap .satisfy-graph-box {
  position: relative;
  max-width: 450px;
  border: 1px solid #ddd;
  margin: 0 auto 40px;
  padding: 40px;
}

.satisfy-table-wrap .satisfy-img-box {
  max-width: 450px;
  margin: 0 auto 40px;
  border: 1px solid #ddd;
}

.subject-feedback-card {
  border: 1px solid #ddd;
  padding: 13px 10px 20px;
  margin: 0 auto 40px;
}

.subject-feedback-card.on {
  border-color: #068467;
}

.subject-feedback-card .subject-feedback-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.subject-feedback-card .subject-feedback-bg,
.subject-feedback-card .subject-feedback {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.subject-feedback-card .subject-feedback-bg:before,
.subject-feedback-card .subject-feedback:before {
  display: inline-block;
  content: '';
  width: 100%;
  padding-top: 51%;
}

.subject-feedback-card .subject-feedback-bg.no-img,
.subject-feedback-card .subject-feedback.no-img {
  background-image: none !important;
  border: none !important;
}

.subject-feedback-card .subject-feedback-bg.no-img::before,
.subject-feedback-card .subject-feedback.no-img::before {
  background-color: #f6f6f6;
}

.subject-feedback-card .subject-feedback-bg .inner-text,
.subject-feedback-card .subject-feedback .inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  line-height: 1.4;
  padding: 25px 20px 0;
  transform: translate(-50%, -86%);
  background-image: url(../../imgs/page/class/icon_text.png);
  background-repeat: no-repeat;
  background-position: 49% 0%;
  background-size: auto;
}

.subject-feedback-card .subject-feedback-bg .inner-text span,
.subject-feedback-card .subject-feedback .inner-text span {
  overflow: hidden;
  display: block;
  max-height: 40px;
  font-size: 13px;
  color: #666;
  text-align: center;
  letter-spacing: 0.01em;
}

.subject-feedback-card .subject-feedback-profile {
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  transform: translateX(-50%);
  background-color: #ddd;
  border-radius: 50%;
}

.subject-feedback-card .subject-feedback-text {
  text-align: center;
}

.subject-feedback-card .subject-feedback-text .sub-title {
  font-size: 13px;
}

.subject-feedback-card .subject-feedback-text .title {
  width: 85%;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 900;
}

.subject-feedback-card .subject-feedback-label {
  font-size: 13px;
  letter-spacing: 0.04em;
  background-color: #f0f0f0;
  padding: 8px;
}

.subject-feedback-card .subject-feedback-label.complete {
  background-color: #068467;
  color: #fff;
}

.feedback-title-wrap {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.feedback-title-wrap .select2 {
  width: 130px !important;
  margin-right: 10px;
}

.feedback-title-wrap > [class*="btn-"] {
  margin-right: 10px;
}

.feedback-title-wrap .text {
  padding-right: 20px;
  color: #068467;
}

.feedback-title-wrap .text2 {
  padding-right: 20px;
}

.feedback-title-wrap .text2 .time {
  margin-left: 5px;
  color: #7a797d;
}

.board-thumbnail-text {
  margin: 25px 0;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.content-header .btn-wrap {
  margin-bottom: -10px;
}

.content-header .btn-wrap .left-area {
  margin-right: 10px;
}

.content-header .btn-wrap [class*="btn-"] {
  margin-bottom: 10px;
}

.btn-group-wrap {
  flex: 1 1 auto;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -10px;
}

.btn-group-wrap .left-area {
  margin-right: 10px;
}

.btn-group-wrap .right-area {
  margin-left: auto;
}

.btn-group-wrap .left-area + .right-area {
  margin-left: 0;
}

.btn-group-wrap [class*="btn-"] {
  margin-bottom: 10px;
}

/*=================================================
  [button] deaulft style 정의
=================================================*/
.btn-auto, .btn-xs, .btn-sm, .btn-sm-full, .btn-sm-90, .btn-sm-110, .btn-sm-130, .btn-md-auto, .btn-md, .btn-md-110, .btn-lg, .btn-xl, .btn-full, .btn-file-attach {
  display: inline-block;
  margin-right: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 38px;
  background-size: inherit;
  vertical-align: middle;
}

.btn-auto:not(:disabled), .btn-xs:not(:disabled), .btn-sm:not(:disabled), .btn-sm-full:not(:disabled), .btn-sm-90:not(:disabled), .btn-sm-110:not(:disabled), .btn-sm-130:not(:disabled), .btn-md-auto:not(:disabled), .btn-md:not(:disabled), .btn-md-110:not(:disabled), .btn-lg:not(:disabled), .btn-xl:not(:disabled), .btn-full:not(:disabled), .btn-file-attach:not(:disabled) {
  cursor: pointer;
}

.btn-auto:hover, .btn-xs:hover, .btn-sm:hover, .btn-sm-full:hover, .btn-sm-90:hover, .btn-sm-110:hover, .btn-sm-130:hover, .btn-md-auto:hover, .btn-md:hover, .btn-md-110:hover, .btn-lg:hover, .btn-xl:hover, .btn-full:hover, .btn-file-attach:hover {
  color: #fff;
}

.btn-auto:focus, .btn-xs:focus, .btn-sm:focus, .btn-sm-full:focus, .btn-sm-90:focus, .btn-sm-110:focus, .btn-sm-130:focus, .btn-md-auto:focus, .btn-md:focus, .btn-md-110:focus, .btn-lg:focus, .btn-xl:focus, .btn-full:focus, .btn-file-attach:focus {
  color: #fff;
}

.btn-auto:last-child, .btn-xs:last-child, .btn-sm:last-child, .btn-sm-full:last-child, .btn-sm-90:last-child, .btn-sm-110:last-child, .btn-sm-130:last-child, .btn-md-auto:last-child, .btn-md:last-child, .btn-md-110:last-child, .btn-lg:last-child, .btn-xl:last-child, .btn-full:last-child, .btn-file-attach:last-child {
  margin-right: 0 !important;
}

button[class^="btn-"] {
  line-height: normal;
}

/*=================================================
  [button] size 정의
=================================================*/
.btn-auto {
  width: 100%;
  padding: 2px;
  font-size: 13px;
}

.btn-xs {
  width: auto;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  padding: 0 10px;
}

.btn-sm {
  width: 110px;
  height: 44px;
  line-height: 44px;
  font-size: 13px;
}

.btn-sm-full {
  width: 100%;
  min-width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

.btn-sm-90 {
  width: 90px;
  min-width: 90px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

.btn-sm-110 {
  width: 110px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

.btn-sm-130 {
  width: 130px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

.btn-md-auto {
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  font-size: 13px;
}

.btn-md {
  width: 130px;
  height: 44px;
  line-height: 44px;
  font-size: 13px;
}

.btn-md-110 {
  width: 110px;
  height: 44px;
  line-height: 44px;
  font-size: 13px;
}

.btn-lg {
  width: 200px;
  height: 44px;
  line-height: 44px;
  font-size: 13px;
}

.btn-xl {
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin-right: 10px !important;
}

.btn-full {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

/*=================================================
  [button] icon 정의
=================================================*/
.icon-arrow:after {
  content: "";
  display: inline-block;
  margin-left: 7px;
  width: 14px;
  height: 10px;
  background-image: url(../../imgs/common/icon_btn_arrow_right_staff.png);
}

.icon-plus:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  background-image: url(../../imgs/common/icon_line_plus_staff.svg);
}

.popup-icon-arrow:after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  width: 14px;
  height: 14px;
  background-image: url(../../imgs/popup/icon_btn_arrow_green.svg);
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.popup-icon-arrow-gray:after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  width: 14px;
  height: 14px;
  background-image: url(../../imgs/popup/icon_btn_arrow_gray.svg);
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.popup-icon-arrow-gray.left:after {
  content: none;
}

.popup-icon-arrow-gray.left:before {
  content: "";
  display: inline-block;
  padding-right: 7px;
  margin-left: -4px;
  width: 14px;
  height: 14px;
  background-image: url(../../imgs/popup/icon_btn_arrow_gray.svg);
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.popup-icon-arrow-gray:disabled:after, .popup-icon-arrow-gray:disabled:before {
  opacity: .5;
}

/*=================================================
  [button] 파일 첨부 버튼
=================================================*/
.btn-file-attach {
  width: 160px;
  height: 44px;
  line-height: 44px;
  border: 1px solid #068467;
  color: #068467;
  font-size: 13px;
}

.btn-file-attach:after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  background-image: url(../../imgs/common/icon_btn_file_staff.svg);
}

.btn-file-attach:hover {
  color: #068467;
}

.btn-file-attach:focus {
  color: #068467;
}

.btn-outline {
  border: 1px solid #068467;
  color: #068467;
}

.btn-outline:hover {
  color: #068467;
}

.btn-outline:focus {
  color: #068467;
}

.btn-outline.icon-down:before {
  background-image: url(../../imgs/6/3/icon_btn_down_blue.png);
}

.btn-outline-hover {
  border: 1px solid #068467;
  color: #068467;
  transition: .2s;
}

.btn-outline-hover:hover {
  color: #fff;
  background-color: #068467;
}

.btn-outline-hover:focus {
  color: #fff;
  background-color: #068467;
}

.btn-outline-hover.icon-down:before {
  background-image: url(../../imgs/6/3/icon_btn_down_blue.png);
}

.btn-outline-gray {
  border: 1px solid #999;
  background-color: #fff;
  color: #666;
}

.btn-outline-gray:focus {
  color: #666;
}

.btn-outline-gray:hover {
  color: #666;
}

.btn-outline-gray:disabled {
  color: #ddd;
  border-color: #ddd;
}

.btn-outline-light-gray {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
}

.btn-outline-light-gray:focus {
  color: #333;
}

.btn-outline-light-gray:hover {
  color: #333;
}

.btn-outline-light-gray:disabled {
  color: #ddd;
  border-color: #ddd;
}

.btn-point {
  background-color: #068467;
  color: #fff;
}

.btn-point:focus {
  color: #fff;
}

.btn-point:hover {
  color: #fff;
}

.btn-dark-gray {
  background-color: #333;
  color: #fff;
}

.btn-dark-gray:focus {
  color: #fff;
}

.btn-dark-gray:hover {
  color: #fff;
}

.btn-light-gray {
  background-color: #bbb;
  color: #fff;
}

.btn-light-gray:focus {
  color: #fff;
}

.btn-light-gray:hover {
  color: #fff;
}

.btn-top-wrap {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 10%;
  overflow: hidden;
}

.btn-top-wrap.bottom-fixed {
  position: absolute;
}

.btn-top-wrap .btn-go-top {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 70px;
  padding: 0;
  background-color: #555;
  background-image: url(../../imgs/common/common_btn_top_icon.png);
  background-repeat: no-repeat;
  background-position: center top 18px;
  background-size: 12px 7px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
  z-index: 500;
}

.btn-top-wrap.main {
  right: 15px;
  bottom: 15px;
}

@media screen and (min-width: 992px) {
  .btn-top-wrap.main {
    display: none !important;
  }
}

.btn-top-wrap.main .btn-go-top {
  width: 50px;
  height: 50px;
  line-height: 60px;
  background-position: center top 11px;
}

.btn-top-wrap .btn-print {
  display: none;
  width: 60px;
  height: 60px;
  background-color: #068467;
  background-image: url(../../imgs/popup/popup_print_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 29px 29px;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .btn-top-wrap .btn-print {
    display: block;
  }
}

.popupPrint {
  display: none;
}

@media screen and (min-width: 992px) {
  .popupPrint {
    display: inline-block;
  }
}

input {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: none;
  border: 1px solid #ddd;
  outline: none;
  font-size: 12px;
  vertical-align: top;
}

input[type=text], input[type=number], input[type=password] {
  padding: 0 10px;
}

input[type=text]::-ms-clear, input[type=number]::-ms-clear, input[type=password]::-ms-clear {
  display: none;
}

input[type=text]::placeholder, input[type=number]::placeholder, input[type=password]::placeholder {
  color: #aaa;
}

input[type=text]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {
  color: #aaa;
}

input[type=text].diagnosis, input[type=number].diagnosis, input[type=password].diagnosis {
  font-family: "NANUMSQUARE-400", sans-serif;
}

input[type=text] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  letter-spacing: 0.02em;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=password] {
  font-family:  "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif ;
  font-size: 12px;
  letter-spacing: -0.04em;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ .custom-checked {
  border-radius: 50%;
}

input.date {
  padding-right: 45px !important;
  background-image: url(../../imgs/common/icon_calendar.jpg);
  background-repeat: no-repeat;
  background-size: 43px 42px;
  background-position: right center;
  vertical-align: middle;
  cursor: pointer;
}

input.date.type2 {
  width: calc(50% - 15px);
}

input.date.type2:nth-child(1) {
  margin-right: 6px;
}

input.date.type2:nth-child(3) {
  margin-left: 6px;
}

textarea {
  width: 100%;
  line-height: 1.47;
  padding: 10px;
  font-size: 12px;
  font-family:  "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif ;
  border: 1px solid #ddd;
  outline: none;
  resize: vertical;
  color: #333;
  letter-spacing: -0.04em;
}

textarea::placeholder {
  color: #666;
}

textarea:-ms-input-placeholder {
  color: #666;
}

textarea::-ms-input-placeholder {
  color: #666;
}

.checkbox {
  display: inline-block;
  position: relative;
  min-width: 16px;
  min-height: 16px;
  margin: 0px 17px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox [type=checkbox]:checked ~ .custom-checked,
.checkbox [type=radio]:checked ~ .custom-checked {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  background-color: #555;
}

.checkbox [type=checkbox]:disabled ~ .custom-checked,
.checkbox [type=radio]:disabled ~ .custom-checked {
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  margin-top: -8px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  vertical-align: middle;
}

.checkbox:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.checkbox .text {
  display: inline-block;
  padding-left: 23px;
  line-height: 16px;
  font-size: 14px;
}

.checkbox.circle:before,
.checkbox.circle .custom-checked {
  border-radius: 50%;
}

.checkbox-img {
  display: inline-block;
  position: relative;
  min-width: 18px;
  min-height: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-img input[type=checkbox]:checked ~ .custom-checked,
.checkbox-img input[type=radio]:checked ~ .custom-checked {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #068467;
  background-image: url(../../imgs/common/icon_custom_checkbox_on.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 3px;
}

.checkbox-img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #068467;
  border-radius: 3px;
  vertical-align: middle;
}

.checkbox-img .text {
  padding-left: 25px;
  line-height: 17px;
  font-size: 14px;
  font-weight: 900;
  color: #068467;
}

.checkbox-num {
  display: inline-block;
  position: relative;
  min-width: 32px;
  min-height: 32px;
  margin: 0px 18px 0 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-num [type=checkbox]:checked ~ .custom-checked,
.checkbox-num [type=radio]:checked ~ .custom-checked {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: #068467;
}

.checkbox-num [type=checkbox]:checked ~ .text,
.checkbox-num [type=radio]:checked ~ .text {
  color: #fff;
}

.checkbox-num:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  vertical-align: middle;
}

.checkbox-num .text {
  position: relative;
  line-height: 32px;
  font-size: 13px;
  z-index: 1;
}

.checkbox-num.circle:before {
  border-radius: 50%;
}

.checkbox-num.circle [type=checkbox]:checked ~ .custom-checked,
.checkbox-num.circle [type=radio]:checked ~ .custom-checked {
  border-radius: 50%;
}

.checkbox-circle {
  display: inline-block;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  margin: 0px 20px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-circle [type=checkbox]:checked ~ .custom-checked,
.checkbox-circle [type=radio]:checked ~ .custom-checked {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 1px solid #068467;
  background-color: #fff;
  transform: translateY(-50%);
}

.checkbox-circle [type=checkbox]:checked ~ .custom-checked:before,
.checkbox-circle [type=radio]:checked ~ .custom-checked:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: #068467;
  border-radius: 50%;
  transform: translateY(-50%);
}

.checkbox-circle [type=checkbox]:checked ~ .text,
.checkbox-circle [type=radio]:checked ~ .text {
  color: #068467;
}

.checkbox-circle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -11px;
  background-color: #fff;
  border: 1px solid #ccc;
  vertical-align: middle;
  border-radius: 50%;
}

.checkbox-circle .text {
  display: inline-block;
  padding-left: 32px;
  line-height: 22px;
  font-size: 14px;
  color: #666;
}

.page-common-title {
  margin-bottom: 45px;
  text-align: center;
}

.page-common-title .title {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #333;
}

.page-common-title .sub-title {
  line-height: 1.6;
  margin-top: 20px;
  font-size: 15px;
}

.main-common-title {
  margin-bottom: 48px;
  color: #333;
  text-align: center;
}

.main-common-title .title {
  font-size: 42px;
}

.main-common-title .sub-title {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 300;
}

.main-common-title2 {
  margin-bottom: 48px;
  color: #333;
  text-align: center;
}

.main-common-title2 .title {
  font-size: 38px;
}

.main-common-title2 .sub-title {
  padding-top: 12px;
  font-size: 16px;
  font-weight: 300;
}

.main-common-title3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 1.6;
  padding-bottom: 14px;
  color: #000;
}

.main-common-title3.line:after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: inline-block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ddd;
  z-index: 1;
}

.main-common-title3 .title {
  flex: 1 1 auto;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.main-common-title3 .title .desc {
  font-size: 14px;
  font-weight: 400;
}

.main-common-title3 .title .desc b {
  color: #068467;
}

/*=================================================
        tab style
=================================================*/
.tab-wrap {
  display: flex;
  align-items: center;
}

.tab-wrap .tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tab-wrap .tab-list img {
  margin-right: 7px;
}

.tab-wrap.box-style {
  flex-wrap: wrap;
  border-top-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #eee;
}

.tab-wrap.box-style .tab-list {
  flex: 0 0 14.285%;
  max-width: 14.285%;
  height: 62px;
  padding: 0 6px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #eee;
  font-size: 13px;
}

.tab-wrap.box-style .tab-list.active {
  position: relative;
  color: #068467;
}

.tab-wrap.box-style .tab-list.active:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid #068467;
}

.tab-wrap.line-style {
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
}

@media screen and (min-width: 1280px) {
  .tab-wrap.line-style {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.tab-wrap.line-style.line {
  position: relative;
  padding-top: 0;
}

.tab-wrap.line-style.line:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  z-index: -1;
}

.tab-wrap.line-style .tab-list {
  flex: none;
  display: inline-flex;
  height: 45px;
  border-bottom: 2px solid transparent;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: #999;
}

@media screen and (min-width: 1200px) {
  .tab-wrap.line-style .tab-list {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1280px) {
  .tab-wrap.line-style .tab-list {
    padding: 0 17px;
    font-size: 15px;
  }
}

.tab-wrap.line-style .tab-list.on {
  border-bottom: 2px solid #068467;
  color: #068467;
}

.tab-wrap.sub-tab-style {
  position: relative;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 0;
}

.tab-wrap.sub-tab-style:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  z-index: -1;
}

.tab-wrap.sub-tab-style .tab-list {
  height: 45px;
  line-height: 45px;
  padding: 0 12px 0;
  border-bottom: 2px solid transparent;
  flex: none;
  font-size: 14px;
  font-weight: 700;
  color: #999;
}

@media screen and (min-width: 1280px) {
  .tab-wrap.sub-tab-style .tab-list {
    padding: 0 19px 0;
    font-size: 15px;
  }
}

.tab-wrap.sub-tab-style .tab-list.on {
  border-bottom: 2px solid #068467;
  color: #068467;
}

.join-contents-wrap .tab-wrap.box-style .tab-list.on {
  background-color: #f7f7f7;
}

/*=================================================
        card style
=================================================*/
.card-feedback-label {
  position: absolute;
  right: 44px;
  top: 20px;
  display: flex;
  align-items: center;
  width: 111px;
  height: 30px;
  padding: 0 15px;
  background-color: #068467;
  background-image: url(../../imgs/main/icon_line_arrow_white.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 13px;
  font-weight: 700;
  color: #fff !important;
  letter-spacing: 0.04em;
  z-index: 5;
}

.card-right-label {
  position: absolute;
  right: 44px;
  min-width: 111px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 15px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.04em;
  z-index: 5;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ddd;
  padding: 30px 20px;
  transition: all .5s;
  outline: none;
}

@media screen and (min-width: 1280px) {
  .card-wrap {
    padding: 37px 39px;
  }
}

.card-wrap:hover {
  border: 1px solid #068467;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.card-wrap .card-head {
  position: relative;
  flex: 1 0 auto;
}

.card-wrap .card-head .card-label {
  width: 85px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 30px;
  background-color: #bbb;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  letter-spacing: 0.04em;
}

.card-wrap .card-head .card-flag-img {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .card-wrap .card-head .card-flag-img {
    width: 52px;
    height: 52px;
  }
}

.card-wrap .card-head .card-flag-img img {
  height: 100%;
}

.card-wrap .card-head .card-title-wrap {
  padding-left: 55px;
}

@media screen and (min-width: 1280px) {
  .card-wrap .card-head .card-title-wrap {
    padding-left: 70px;
  }
}

.card-wrap .card-head .card-title-wrap .card-category,
.card-wrap .card-head .card-title-wrap .card-subtitle {
  display: inline-block;
  padding-bottom: 12px;
}

.card-wrap .card-head .card-title-wrap .card-category {
  font-size: 13px;
  font-weight: 700;
  color: #888;
}

.card-wrap .card-head .card-title-wrap .card-subtitle {
  font-size: 16px;
  letter-spacing: 0;
}

.card-wrap .card-head .card-title-wrap .card-subtitle b {
  font-weight: 900;
}

.card-wrap .card-head .card-title-wrap .card-title {
  font-size: 18px;
  font-weight: 900;
}

.card-wrap .card-head .card-title-wrap .card-head-item {
  margin: -5px -5px -5px -10px;
  padding-bottom: 8px;
}

.card-wrap .card-head .card-title-wrap .card-head-item .item {
  display: inline-block;
  border: 1px solid #888;
  margin: 5px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 900;
  color: #888;
  border-radius: 13px;
  text-align: center;
  letter-spacing: 0.04em;
}

.card-wrap .card-head .card-title-wrap .card-head-item .item.bg-point {
  background-color: #888;
  color: #fff;
}

.card-wrap .card-body .card-items-wrap:first-child {
  margin-top: 28px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
}

.card-wrap .card-body .card-desc:first-child {
  line-height: 1.38;
  margin-top: 17px;
  margin-bottom: 20px;
  padding-top: 17px;
  border-top: 1px solid #ddd;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-wrap .card-body .card-cell-wrap:first-child {
  margin-top: 17px;
  margin-bottom: 27px;
  padding-top: 18px;
  border-top: 1px solid #ddd;
}

.card-cell-items {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px;
}

.card-cell-items .card-cell-title {
  display: flex;
  align-items: center;
  width: 92px;
  flex: none;
}

.card-cell-items .card-cell-title:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -1px;
}

.card-items-wrap .card-items {
  position: relative;
  line-height: 18px;
  padding-left: 28px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #999;
}

.card-items-wrap .card-items:last-child {
  margin-bottom: 0;
}

.card-items-wrap .card-items:before {
  position: absolute;
  left: 0;
  display: inline-block;
  content: '';
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.card-items-wrap .card-items.icon-campus {
  color: #333;
  font-weight: 700;
}

.card-items-wrap .card-items.icon-campus:before {
  background-image: url(../../imgs/common/icon_card_campus.svg);
}

.card-items-wrap .card-items.icon-name:before {
  background-image: url(../../imgs/common/icon_card_user.svg);
}

.card-items-wrap .card-items.icon-date:before {
  background-image: url(../../imgs/common/icon_card_date.svg);
}

.card-items-wrap .card-items.icon-info:before {
  background-image: url(../../imgs/common/icon_card_info.svg);
}

.card-type2 .card-wrap,
.card-type3 .card-wrap {
  position: relative;
  padding: 28px;
}

.card-type2 .card-wrap .card-head .card-title-wrap,
.card-type3 .card-wrap .card-head .card-title-wrap {
  padding-left: 0;
}

.card-type2 .card-wrap .card-head .card-title-wrap .card-title,
.card-type3 .card-wrap .card-head .card-title-wrap .card-title {
  padding-bottom: 8px;
}

.card-type2 .card-wrap .card-head .card-title-wrap .card-subtitle,
.card-type3 .card-wrap .card-head .card-title-wrap .card-subtitle {
  padding-bottom: 0;
}

.card-type2 .card-wrap:hover {
  border: 1px solid #ddd;
  box-shadow: none;
}

.card-type2 .card-wrap .line {
  position: absolute;
  left: -1px;
  top: -1px;
  display: inline-block;
  width: calc(100% + 2px);
  height: 5px;
}

.card-type4 {
  padding-bottom: 24px !important;
}

/* .card-type4:last-child, .card-type4:nth-last-child(2) {
  padding-bottom: 0 !important;
} */

.card-type4 .card-wrap {
  padding: 28px;
}

.card-type4 .card-wrap .card-head {
  flex: none;
}

.card-type4 .card-wrap .card-head .card-title-wrap {
  padding-left: 0;
}

.card-type4 .card-wrap .card-head .card-title-wrap .card-title {
  padding-bottom: 0;
}

.card-type4 .card-wrap .card-body {
  flex: 1 0 auto;
}

.card-type4 .card-wrap .card-body .card-desc2 {
  height: 48px;
  margin-top: 17px;
  margin-bottom: 20px;
  overflow: hidden;
}

.card-type4 .card-wrap:hover {
  border: 1px solid #ddd;
  box-shadow: none;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
  padding-top: 18px;
  border-top: 1px solid #ddd;
}

.card-footer .class-comment-wrap {
  flex: 1 1 0px;
  padding-right: 20px;
}

.card-footer .class-comment {
  line-height: 1.53;
  font-size: 13px;
}

.card-footer .class-score {
  margin-top: 2px;
  font-size: 20px;
  font-weight: 900;
  color: #000;
}

.notice-box-wrap {
  display: flex;
  align-items: center;
  height: 65px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.notice-box-wrap .notice-title {
  display: flex;
  align-items: center;
  flex: none;
  padding: 0 28px;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.notice-box-wrap .notice-title img {
  margin-right: 10px;
}

.notice-box-wrap .select2.select2-container--style3 {
  flex: none;
  width: 190px !important;
  height: 100%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.notice-box-wrap .select2 > .selection {
  width: 100%;
  height: 100%;
}

.notice-box-wrap .select2.select2-container--style3 .select2-selection--single {
  height: 100%;
  border: none;
}

.notice-box-wrap .select2.select2-container--style3 .select2-selection--single .select2-selection__rendered {
  padding-left: 29px;
  padding-right: 50px;
  font-size: 15px;
  font-weight: 700;
}

.notice-box-wrap .select2.select2-container--style3 .select2-selection--single .select2-selection__arrow {
  right: 33px;
}

.notice-box-wrap .select2.select2-container--style3 .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.notice-box-wrap .notice-input {
  height: 100%;
  border: none;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 700;
}

.notice-box-wrap .notice-input::placeholder {
  color: #999;
}

.notice-box-wrap .notice-input:-ms-input-placeholder {
  color: #999;
}

.notice-box-wrap .notice-input::-ms-input-placeholder {
  color: #999;
}

.notice-box-wrap .notice-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: 160px;
  height: calc(100% + 2px);
  margin-right: -1px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

.notice-box-wrap .notice-search-btn:before {
  display: inline-block;
  content: '';
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url(../../imgs/common/icon_notice_search.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.notice-box-wrap .notice-info-wrap {
  flex: 1 1 0px;
}

.notice-box-wrap .notice-info {
  display: flex;
  align-items: center;
}

.notice-box-wrap .notice-info .date {
  width: 107px;
  padding-left: 8px;
  font-size: 12px;
  color: #666;
}

.notice-box-wrap .notice-info .text {
  flex: 1 1 0px;
  padding-right: 10px;
  font-size: 15px;
  color: #666;
}

.notice-box-wrap .notice-icons-wrap {
  display: flex;
  flex-direction: column;
  flex: none;
  height: 100%;
}

.notice-box-wrap .notice-icons-wrap .notice-icons {
  position: static;
  width: 20px;
  height: 20px;
  border-left: 1px solid #ddd;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  background-image: url(../../imgs/common/icon_notice_box.jpg);
  transform: none;
  cursor: pointer;
}

.notice-box-wrap .notice-icons-wrap .notice-icons.next {
  height: 22px;
  background-position: -20px center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.notice-box-wrap .notice-icons-wrap .notice-icons.play {
  background-position: -60px center;
}

.notice-box-wrap .notice-icons-wrap .notice-icons.pause {
  background-position: -40px center;
}

.notice-box-wrap .notice-icons-wrap .notice-icons.slick-hidden ~ .play {
  display: none;
}

.notice-box-wrap .notice-more {
  flex: none;
  border-left: 1px solid #ddd;
  cursor: pointer;
}

.notice-box-wrap .notice-more img {
  vertical-align: middle;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
  outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.07);
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  line-height: 1.42;
  font-size: 13px;
  padding: 15px 10px;
  color: #333;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-container--style1 {
  /* 단일형 셀렉트 스타일 정의 */
  /* 복수형 셀렉트 스타일 정의 */
  font-size: 12px;
}

.select2-container--style1 .select2-selection--single {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 40px;
}

.select2-container--style1 .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
  padding-right: 25px;
  color: #333;
}

.select2-container--style1 .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  clear: right;
  font-weight: bold;
}

.select2-container--style1 .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--style1 .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 25px;
  height: 38px;
}

.select2-container--style1 .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 6px;
  top: 50%;
  left: 50%;
  background-image: url(../../imgs/common/icon_select_arrow_down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.select2-container--style1[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--style1[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--style1.select2-container--disabled .select2-selection--single {
  background-color: #f9f9f9;
  cursor: default;
}

.select2-container--style1.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
  color: #aaa;
}

.select2-container--style1.select2-container--disabled .select2-selection__rendered {
  color: #aaa;
}

.select2-container--style1.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(180deg);
  transform-origin: 28% 28%;
}

.select2-container--style1 .select2-selection--multiple {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: text;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--style1 .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--style1[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--style1[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--style1[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--style1[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--style1[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--style1.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--style1.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--style1.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--style1.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--style1.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--style1.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--style1.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--style1 .select2-search--dropdown .select2-search__field {
  border: 1px solid #eee;
}

.select2-container--style1 .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--style1 .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--style1 .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--style1 .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--style1 .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--style1 .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--style1 .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--style1 .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--style1 .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--style1 .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--style1 .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--style1 .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--style1 .select2-results__option--highlighted[aria-selected] {
  background-color: #f4f5f9;
  color: #068467;
}

.select2-container--style1 .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--style2 {
  min-height: 50px;
  color: #ccc;
}

.select2-container--style2 .select2-selection--single {
  height: 50px;
  background-color: #000;
  outline: 0;
}

.select2-container--style2 .select2-selection--single .select2-selection__rendered {
  height: 100%;
  line-height: 32px;
  padding: 9px 10px;
  padding-right: 35px;
  font-size: 13px;
}

.select2-container--style2 .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  clear: right;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--style2 .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 35px;
  height: calc(100% - 2px);
  border: none;
}

.select2-container--style2 .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  width: 12px;
  height: 8px;
  top: 50%;
  left: 50%;
  background-image: url(../../imgs/common/icon_select_arrow_down.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  transform: translate(-50%, -50%);
}

.select2-container--style2.select2-container--open .select2-selection--single {
  background-color: #333;
}

.select2-container--style2.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(180deg);
  transform-origin: 28% 28%;
}

.select2-container--style2 .select2-selection--multiple {
  min-height: 50px;
  background-color: #000;
  border: 1px solid transparent;
  font-size: 0;
  outline: 0;
  cursor: text;
}

.select2-container--style2 .select2-selection--multiple:focus {
  border: 1px solid transparent;
}

.select2-container--style2 .select2-selection--multiple .select2-selection__rendered {
  width: 100%;
  max-width: 100%;
  list-style: none;
  margin: 0;
  padding: 9px 10px;
  padding-top: 1px;
  padding-bottom: 0;
}

.select2-container--style2 .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
  max-width: 100%;
}

.select2-container--style2 .select2-selection--multiple .select2-selection__rendered .select2-search--inline .select2-search__field {
  max-width: 100%;
  margin-top: 0;
}

.select2-container--style2 .select2-selection--multiple .select2-selection__clear {
  float: right;
  margin-top: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.select2-container--style2 .select2-selection--multiple .select2-selection__choice {
  float: left;
  max-width: 100%;
  margin-right: 5px;
  margin-top: 5px;
  padding: 2px 5px;
  background-color: #e4e4e4;
  border: 1px solid transparent;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.select2-container--style2 .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--style2 .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--style2.select2-container--open .select2-selection--multiple {
  border: 1px solid transparent;
}

.select2-container--style2.select2-container--disabled {
  color: #ddd;
}

.select2-container--style2.select2-container--disabled .select2-selection {
  background-color: #222;
}

.select2-container--style2 .select2-search--dropdown .select2-search__field {
  border: 1px solid #ddd;
  outline: 0;
}

.select2-container--style2 .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
  height: 100%;
  line-height: 32px;
  padding: 10px 0;
  font-size: 13px;
  color: #ccc;
}

.select2-container--style2 .select2-dropdown {
  background-color: #333;
  border: 1px solid transparent;
  border-radius: 0;
}

.select2-container--style2 .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--style2 .select2-dropdown--below {
  border-top: none;
}

.select2-container--style2 .select2-results > .select2-results__options {
  overflow-y: auto;
  max-height: 250px;
}

.select2-container--style2 .select2-results__option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 50px;
  line-height: 32px;
  padding: 9px 10px;
  font-size: 13px;
  color: #ccc;
  word-break: break-all;
}

.select2-container--style2 .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--style2 .select2-results__option[aria-disabled=true] {
  color: #ccc;
}

.select2-container--style2 .select2-results__option--highlighted[aria-selected] {
  background-color: #068467;
  color: #fff;
}

.select2-container--style2 .select2-results__option[aria-selected=true] {
  background-color: #068467;
  color: #fff;
}

.select2-container--style2 .select2-results__group {
  cursor: default;
  display: block;
  padding: 9px 10px;
}

.select2-container--style2.select2-container--open .select2-dropdown {
  border-color: transparent;
}

.select2-container--style3 {
  /* 단일형 셀렉트 스타일 정의 */
  /* 복수형 셀렉트 스타일 정의 */
}

.select2-container--style3 .select2-selection--single {
  display: flex;
  align-items: center;
  height: 44px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.select2-container--style3 .select2-selection--single .select2-selection__rendered {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 35px;
  font-size: 13px;
  color: #333;
  padding-left: 13px;
}

.select2-container--style3 .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  clear: right;
  font-weight: bold;
}

.select2-container--style3 .select2-selection--single .select2-selection__placeholder {
  color: #666;
}

.select2-container--style3 .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: calc(50% + 1px);
  right: 21px;
  transform: translateY(-50%);
}

.select2-container--style3 .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  width: 10px;
  height: 6px;
  background-image: url(../../imgs/common/icon_select_arrow_main_down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.select2-container--style3[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--style3[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--style3.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--style3.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--style3 .select2-selection--multiple {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: text;
}

.select2-container--style3 .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--style3 .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--style3 .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--style3 .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--style3 .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--style3 .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--style3 .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--style3[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--style3[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--style3[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--style3[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--style3[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--style3.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--style3.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--style3.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--style3.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--style3.select2-container--open.select2-container--above .select2-selection--multiple {
  background-color: #f9f9f9;
}

.select2-container--style3.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--style3.select2-container--open.select2-container--below .select2-selection--multiple {
  background-color: #f9f9f9;
}

.select2-container--style3 .select2-search--dropdown .select2-search__field {
  border: 1px solid #ddd;
}

.select2-container--style3 .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--style3 .select2-results > .select2-results__options {
  max-height: 220px;
  overflow-y: auto;
}

.select2-container--style3 .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--style3 .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--style3 .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--style3 .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--style3 .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--style3 .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--style3 .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--style3 .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--style3 .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--style3 .select2-results__option--highlighted[aria-selected] {
  background-color: #f7f9f4;
  color: #068467;
}

.select2-container--style3 .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/*=================================================
        푸터
=================================================*/
#footer {
  position: relative;
  background-color: #000;
  color: #ccc;
}

#footer .footer-top-wrap {
  display: flex;
  align-items: center;
  min-height: 51px;
  border-bottom: 1px solid #333;
}

#footer .footer-top-wrap .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  font-size: 13px;
  padding: 0 15px;
}

#footer .footer-top-wrap .footer-top .footer-term {
  flex: 1 1 0px;
  padding: 9px 0;
}

#footer .footer-top-wrap .footer-top .footer-term > * {
  position: relative;
  padding: 0 30px;
}

#footer .footer-top-wrap .footer-top .footer-term > *:after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
  width: 1px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}

#footer .footer-top-wrap .footer-top .footer-term > *:first-child {
  padding-left: 0;
}

#footer .footer-top-wrap .footer-top .footer-term > *:last-child:after {
  content: none;
}

#footer .footer-top-wrap .footer-top .select2 {
  width: 160px !important;
}

#footer .company-info-wrap {
  display: flex;
  flex-wrap: nowrap;
  padding: 41px 0;
}

#footer .company-info-wrap .footer-logo {
  display: inline-block;
  vertical-align: top;
}

#footer .company-info-wrap .company-info {
  display: inline-block;
  line-height: 1.38;
  margin-left: 6%;
  font-size: 13px;
  color: #ccc;
}

#footer .company-info-wrap .company-info .copyright {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  color: #999;
  letter-spacing: 0.04em;
}

.pagination {
  margin: 10px auto 0;
  /*==============================================
          pagination 이전,다음 버튼
  ===============================================*/
}

.pagination button {
  float: left;
  margin-left: 5px;
  background-color: #fff;
}

.pagination .paginate-list {
  margin: 0 9px;
}

.pagination .paginate-list .page-num {
  float: left;
  width: 38px;
  height: 38px;
  margin: 0 1px;
  text-align: center;
}

.pagination .paginate-list .page-num.active {
  background-color: #068467;
}

.pagination .paginate-list .page-num.active a {
  color: #fff !important;
}

.pagination .paginate-list .page-num a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 38px;
  font-size: 13px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #aaa;
}

.pagination button {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: 50%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
}

.pagination .prev {
  background-image: url(../../imgs/common/icon_pagination_arrow_prev1.png);
}

.pagination .start {
  background-image: url(../../imgs/common/icon_pagination_arrow_prev2.png);
}

.pagination .next {
  background-image: url(../../imgs/common/icon_pagination_arrow_next1.png);
}

.pagination .end {
  background-image: url(../../imgs/common/icon_pagination_arrow_next2.png);
}

.window-popup-wrap {
  min-width: 700px;
}

.window-popup-wrap.file-popup {
  position: relative;
  min-width: inherit;
  height: 100vh;
}

.window-popup-wrap.file-popup .modal-body {
  margin: 0 auto;
  text-align: center;
}

.window-popup-wrap .modal-header {
  position: relative;
  margin: 40px 30px 25px;
}

.window-popup-wrap .modal-header .modal-title {
  font-size: 27px;
  font-weight: 700;
}

.window-popup-wrap .modal-header .modal-subtitle {
  margin-top: 10px;
  font-size: 20px;
  letter-spacing: 0.04em;
}

.window-popup-wrap .modal-body {
  margin: 30px;
}

.window-popup-wrap .modal-body .policy-wrap {
  line-height: 1.61;
  padding: 20px;
  border: 1px solid #ddd;
}

.window-popup-wrap .modal-body .policy-wrap .inner-top {
  font-size: 14px;
}

.window-popup-wrap .modal-body .policy-wrap .inner-desc {
  margin-top: 25px;
  font-size: 13px;
  font-weight: 300;
}

.window-popup-wrap .modal-body .policy-wrap .inner-desc b {
  display: block;
  margin-top: 25px;
  font-weight: 900;
}

.window-popup-wrap .modal-body .policy-wrap .inner-desc li {
  padding-left: 15px;
  margin-bottom: 5px;
}

.window-popup-wrap .modal-body .policy-wrap .inner-desc li:last-child {
  margin-bottom: 10px;
}

.window-popup-wrap .modal-body .policy-wrap .inner-desc li.dot {
  position: relative;
  padding-left: 35px;
  font-weight: 700;
}

.window-popup-wrap .modal-body .policy-wrap .inner-desc li.dot:before {
  display: inline-block;
  content: '▪';
  position: absolute;
  left: 20px;
  top: 0;
}

.window-popup-wrap .modal-body .policy-wrap .common-table-wrap tr {
  height: 36px;
}

.window-popup-wrap .modal-body .policy-wrap .common-table-wrap th,
.window-popup-wrap .modal-body .policy-wrap .common-table-wrap td {
  padding: 5px;
  font-size: 13px;
}

.window-popup-wrap .modal-footer {
  margin: 30px auto;
  text-align: center;
}
