@charset "UTF-8";
/*=================================================
    테이블 공통 스타일 정의
=================================================*/
.common-table-wrap {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  /*
  @ 파이어폭스 크로스브라우징
  - th,td 높이 0px 설정할 시 레이아웃이 깨지는 문제를 해결하기 위함
  */
  /*
  @ 테이블 내부 그리드용
  - style2와는 다름, 필요한 경우에만 사용하는 용도...
  */
  /*
  @ 테이블 사이즈 정의
  - .size-sm
  - 사이즈 변경 시 추가버튼(btn-add-list) 높이도 같이 변경
  */
  /*
  @ 테이블 서브클래스 스타일 정의
  - .border-white
  - .border-gray
  - .size-sm: tr개별용(현재까지 사용x)
  - .keep-all
  - .vertical-top
  - .p-0 : process.5.1.8.html (성적)
  - .p-5: 과정관리 테이블 에서 사용
  - .wide-spacing: 테이블 리스트목록의 행간높이 조절용
  - [class*="btn-outline"]: 테이블 내부에 있는 아웃라인 스타일 버튼 배경색 설정
  */
  /*
  @ 기존 콘텐츠 스타일 리셋
  - 
  */
  /*=================================================
      테이블 콘텐츠 스타일 정의
  =================================================*/
  /*
  @ 내부콘텐츠
  - .table-textarea
  - .table-select
  - .table-guide
  - .input-group
  */
  /*
  @ 내부 아이템
  - .btn-add-list : 항목추가버튼
  - .profile-wrap : 프로필항목
  - .img-frame : 프로필항목에 사용
  */
  /*
  @ 아이콘, 부가기능
  - 
  */
  /*
  @ 그 외 기능사용을 위한
  - .table-inside-input : 테이블 내 checkbox선택시 input 안에 선택갯수 체크
  */
}

.common-table-wrap tr {
  height: 60px;
}

.common-table-wrap th {
  line-height: 1.4;
  padding: 5px 2px;
}

.common-table-wrap td {
  line-height: 1.47;
  padding: 9px;
}

.common-table-wrap th, .common-table-wrap td {
  height: 0;
  border: 1px solid #ddd;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: 0;
}

.common-table-wrap th.left-align, .common-table-wrap td.left-align {
  padding-left: 13px;
  padding-right: 13px;
}

.firefox .common-table-wrap th, .firefox .common-table-wrap td {
  height: 100%;
}

.common-table-wrap .flex-row {
  margin: -5px !important;
}

.common-table-wrap [class*=flex-col],
.common-table-wrap [class*=flex-tne-col] {
  padding: 5px !important;
}

.common-table-wrap.size-sm tr {
  height: 50px;
}

.common-table-wrap.size-sm .btn-add-list::before {
  top: 16px;
}

.common-table-wrap.border-white th, .common-table-wrap.border-white td {
  border-color: #fff;
}

.common-table-wrap.border-gray th, .common-table-wrap.border-gray td {
  border-color: #f2f2f2;
}

.common-table-wrap tr.size-sm {
  height: 50px;
}

.common-table-wrap tr.keep-all > th, .common-table-wrap tr.keep-all td {
  word-break: keep-all;
}

.common-table-wrap tr.vertical-top > th, .common-table-wrap tr.vertical-top td {
  vertical-align: top;
}

.common-table-wrap .wide-spacing {
  line-height: 1.8;
}

.common-table-wrap .bg-light-blue {
  background-color: #f8fafe;
}

.common-table-wrap .bg-light-gray {
  background-color: #f9f9f9;
}

.common-table-wrap .bg-lighten {
  background-color: #f7f7f7;
}

.common-table-wrap .bg-gray {
  background-color: #f2f2f2;
}

.common-table-wrap .bg-deep-gray {
  background-color: #ddd;
}

.common-table-wrap .font-orange {
  color: #ff7c21 !important;
}

.common-table-wrap.p-0 th, .common-table-wrap.p-0 td {
  padding: 0 !important;
}

.common-table-wrap.p-5 th, .common-table-wrap.p-5 td {
  padding: 5px !important;
}

.common-table-wrap [class*="btn-outline"] {
  background-color: #fff;
}

.common-table-wrap .checkbox {
  margin-right: 0;
}

.common-table-wrap .checkbox .text {
  margin-right: 15px;
}

.common-table-wrap .selected-items-wrap.row-full {
  margin: -2.5px;
}

.common-table-wrap .selected-items-wrap.row-full .item {
  margin: 2.5px;
}

.common-table-wrap .table-textarea {
  display: block;
  line-height: 1.6;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  outline: none;
  text-align: left;
  resize: none;
}

.common-table-wrap .table-textarea.h-90 {
  min-height: 90px;
}

.common-table-wrap .table-textarea.h-full {
  height: 0;
  min-height: 100%;
}

.common-table-wrap .table-textarea.resize-none {
  resize: none;
}

.common-table-wrap .table-textarea::placeholder {
  color: #aaa;
}

.common-table-wrap .table-textarea[contenteditable=false]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  color: #eee;
}

.common-table-wrap .table-textarea[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  color: #aaa;
}

.common-table-wrap .table-select ~ .select2 .select2-selection--single .select2-selection__rendered {
  font-size: 12px;
  text-align: left;
}

.common-table-wrap .table-guide {
  line-height: 1.4;
  margin: 3px 0;
  font-size: 12px;
  font-weight: 300;
  color: #888;
}

.common-table-wrap .table-increase {
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  color: #e9411d;
}

.common-table-wrap .table-increase:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
  border-width: 0 5px 10px;
  border-color: transparent;
  border-bottom-color: #e9411d;
  border-style: solid;
}

[class*="ie_"] .common-table-wrap .table-increase:before {
  top: 50%;
}

.common-table-wrap .table-decrease {
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  color: #0038a9;
}

.common-table-wrap .table-decrease:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
  border-width: 10px 5px 0;
  border-color: transparent;
  border-top-color: #0038a9;
  border-style: solid;
}

[class*="ie_"] .common-table-wrap .table-decrease:before {
  top: 50%;
}

.common-table-wrap .table-sorting {
  position: relative;
  cursor: pointer;
}

.common-table-wrap .table-sorting::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 9px;
  width: 8px;
  height: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.common-table-wrap .table-sorting.asc {
  padding-right: 18px !important;
}

.common-table-wrap .table-sorting.asc::after {
  margin-top: -4px;
  background-image: url(../../imgs/common/icon_select_arrow_down.svg);
}

.common-table-wrap .table-sorting.desc {
  padding-right: 18px !important;
}

.common-table-wrap .table-sorting.desc::after {
  margin-top: -5px;
  background-image: url(../../imgs/common/icon_select_arrow_down.svg);
  transform: rotate(-180deg);
}

.common-table-wrap .table-data {
  display: inline-flex;
  align-items: center;
  padding: 10px 0;
}

.common-table-wrap .input-group {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.common-table-wrap .input-group .checkbox {
  flex: 1 0 auto;
}

.common-table-wrap .input-group .checkbox .text {
  flex: 0 0 auto;
  margin-right: 15px;
}

.common-table-wrap .input-group .title {
  flex: 0 0 auto;
  margin-right: 9px;
}

.common-table-wrap .input-group .unit {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-53%);
}

.common-table-wrap .input-group .unit + .table-input {
  padding-right: 35px;
}

.common-table-wrap .input-group input + .unit {
  position: static;
  top: auto;
  right: auto;
  padding-left: 5px;
  transform: none;
  margin-right: 15px;
}

.common-table-wrap .btn-add-list {
  position: relative;
  font-weight: 700;
  color: #0038a9;
  text-align: left;
  cursor: pointer;
  text-indent: 36px;
}

.common-table-wrap .btn-add-list::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 22px;
  left: 19px;
  background-image: url(../../imgs/common/icon_line_plus.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 50%;
}

.common-table-wrap .profile-wrap .img-frame {
  margin: 10px 10px 10px -5px;
}

.common-table-wrap .img-frame {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-image: url(../../imgs/common/icon_user_name.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.common-table-wrap .guide-wrap {
  padding-top: 2px;
  padding-bottom: 5px;
}

.common-table-wrap .guide-wrap.flex-row [class*="flex-col-"],
.common-table-wrap .guide-wrap.flex-row [class*="flex-ten-col-"] {
  margin-left: auto;
  padding-top: 0 !important;
}

.common-table-wrap .icon-clip, .common-table-wrap .icon-download, .common-table-wrap .icon-lock, .common-table-wrap .icon-user, .common-table-wrap .icon-check {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
  text-indent: -9999px;
}

.common-table-wrap .icon-clip {
  width: 14px;
  height: 15px;
  background-image: url(../../imgs/common/icon_clip.png);
}

.common-table-wrap .icon-download {
  width: 12px;
  height: 14px;
  background-image: url(../../imgs/common/icon_download.svg);
}

.common-table-wrap .icon-lock {
  width: 12px;
  width: 15px;
  background-size: 11px auto;
  background-position: 50% 46%;
  background-image: url(../../imgs/common/icon_lock.svg);
}

.common-table-wrap .icon-user {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-image: url(../../imgs/common/icon_user_name.svg);
}

.common-table-wrap .icon-state {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  line-height: 1.35;
  padding: 5px 10px;
  background-color: #f7f7f7;
  font-size: 13px;
  color: #fff;
  text-align: center;
  cursor: default;
}

.common-table-wrap .icon-check {
  overflow: hidden;
  width: 30px;
  height: 30px;
  background-image: url(../../imgs/common/icon_check.png);
}

.common-table-wrap .btn-delete {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  background-image: url(../../imgs/common/btn_close_gray.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
  cursor: pointer;
  vertical-align: middle;
  opacity: 0.5;
}

.common-table-wrap .table-inside-input {
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

/*=================================================
    테이블 개별 스타일 정의
=================================================*/
.common-table-wrap {
  /*
  @ table-style1
  - 내용 서술형 테이블
  - 기존 테이블에서 타이틀, 본문 가로폯 100%꽉찬 가로형 스타일
  - staff_curriculum.3.1.html(환불처리기준 팝업)
  */
  /*
  @ table-style2
  - (신규스타일) 작성용 가로형 테이블
  - 타이틀너비지정 => colgroup 태그사용(X) th태그에 .title 클래스 사용
  - process.4.1.1.html
  */
}

.common-table-wrap.table-style1 {
  text-align: left;
}

.common-table-wrap.table-style1 th {
  padding: 13px;
  letter-spacing: -0.01em;
}

.common-table-wrap.table-style1 td {
  padding: 13px;
  font-size: 13px;
  line-height: 1.65;
}

.common-table-wrap.table-style2 {
  text-align: left;
  line-height: 1.8;
  font-size: 13px;
}

.common-table-wrap.table-style2 tr {
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
}

.common-table-wrap.table-style2 tr:first-child {
  border-top-color: #999 !important;
}

.common-table-wrap.table-style2 th, .common-table-wrap.table-style2 td {
  padding: 10px 20px;
  border: none;
  font-size: 13px;
}

.common-table-wrap.table-style2 th.title, .common-table-wrap.table-style2 td.title {
  width: 20%;
  padding: 20px 0 20px 20px;
  font-size: 14px;
  text-align: left;
  vertical-align: top;
}

.common-table-wrap.table-style2 .checkbox {
  padding: 10px 0;
}

.common-table-wrap.table-style2.border-all-gray th, .common-table-wrap.table-style2.border-all-gray td {
  border: 1px solid #ddd !important;
}

.common-table-wrap.table-style2 .flex-row {
  align-items: center;
  margin: -6px -5px !important;
}

.common-table-wrap.table-style2 .flex-row.items-start {
  align-items: flex-start !important;
}

.common-table-wrap.table-style2 [class*=flex-col],
.common-table-wrap.table-style2 [class*=flex-ten-col] {
  padding: 6px 5px !important;
}

.table-type-board th {
  padding: 10px 2px;
}

.table-type-board th.left-align {
  padding-left: 10px;
  padding-right: 10px;
}

.table-type-board td {
  padding: 7px 5px;
}

.table-type-board td.left-align, .table-type-board td.title {
  padding-left: 10px;
  padding-right: 10px;
}

.table-type-board .inner-wrap {
  display: flex;
  overflow: hidden;
}

.table-type-board .inner-wrap [class*="icon-"] {
  flex: 0 0 auto;
  height: auto;
}

.table-type-board .text {
  display: inline-block;
  max-width: 95%;
  max-height: 60px;
  text-align: left;
}

.table-type-board tbody tr:hover:not([class*="bg-"]) {
  background-color: #fafcff;
}

.table-type-board.no-hover tbody tr:hover {
  background-color: transparent;
}

.board-search-wrap {
  width: 100%;
  padding: 30px;
  border: 1px solid #ddd;
}

.board-search-wrap .search-title {
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 900;
  color: #0038a9;
}

.board-search-wrap .search-bar-area {
  display: flex;
  align-items: center;
  margin: 0 -10px;
}

.board-search-wrap .search-bar-area > * {
  padding: 0 10px;
}

.board-search-wrap .search-bar-area > *.w-30 {
  flex: 0 0 auto;
  width: 30%;
}

.board-search-wrap .search-bar-area > *.w-auto {
  flex: 1 1 auto;
  width: auto;
}

.board-search-wrap .search-bar-area .flex-row {
  margin: 0 -10px;
}

.board-search-wrap .search-bar-area .flex-col,
.board-search-wrap .search-bar-area [class*="flex-col-"] {
  padding: 0 10px;
}

.board-type-wrap {
  flex: none;
  font-size: 0;
  margin-left: auto;
  cursor: default;
}

.board-type-wrap [class*="btn-"] {
  display: inline-block;
  width: 17px;
  height: 17px;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

.board-type-wrap .btn-gallery {
  margin-left: auto;
  background-image: url(../../imgs/common/icon_gallery.png);
  background-size: contain;
}

.board-type-wrap .btn-gallery.on {
  background-image: url(../../imgs/common/icon_gallery_blue.png);
}

.board-type-wrap .btn-list {
  background-image: url(../../imgs/common/icon_list.png);
  background-size: contain;
}

.board-type-wrap .btn-list.on {
  background-image: url(../../imgs/common/icon_list_blue.png);
}

.board-type-wrap .division-line {
  display: inline-block;
  width: 1px;
  height: 17px;
  margin: 0 10px;
  background-color: #ccc;
}

.board-gallery-thumb-wrap .flex-col-4 {
  margin-bottom: 60px;
}

.board-gallery-thumb-wrap .board-gallery-img {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f7f7f7;
  font-size: 0;
}

.board-gallery-thumb-wrap .board-gallery-img:after {
  display: inline-block;
  content: '';
  width: 100%;
  padding-top: 59.87%;
}

.board-gallery-thumb-wrap .board-gallery-img.file-overlay:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../imgs/common/icon_file_play.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.board-gallery-thumb-wrap .board-gallery-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 900;
}

.board-gallery-thumb-wrap .board-gallery-subtitle {
  margin-bottom: 8px;
  margin-top: 15px;
  font-size: 13px;
  color: #999;
}

.board-gallery-thumb-wrap .board-gallery-contents .gallery-country {
  margin-top: 16px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 700;
}

.board-gallery-thumb-wrap .board-gallery-contents .gallery-flag {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 15px;
}

.board-gallery-thumb-wrap .board-gallery-contents .gallery-flag .flag-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
}

.board-gallery-thumb-wrap .board-gallery-contents .gallery-flag .text {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 700;
}

.board-gallery-thumb-wrap .board-gallery-cell {
  margin-top: 15px;
  margin-bottom: 15px;
}

.board-gallery-lists {
  width: 80px;
  height: 50px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.board-gallery-lists.size-sm {
  width: 51px;
  height: 32px;
}

.board-gallery-lists.file-overlay {
  position: relative;
}

.board-gallery-lists.file-overlay::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(../../imgs/common/icon_file_play.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  background-color: rgba(0, 0, 0, 0.5);
}

.book-img-wrap img {
  max-height: 73px;
}
