.main-section-wrap {
  overflow: hidden;
}

.slick-slider.book-list-wrap {
  margin: 0 auto;
  padding: 0 6%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}

.slick-arrow:not(.slick-disabled) {
  cursor: pointer;
}

.slick-arrow.slick-disabled {
  opacity: .4;
}

.slick-arrow.slick-prev {
  left: 0px;
  background-image: url(../../imgs/common/btn_slick_prev.svg);
}

.slick-arrow.slick-next {
  right: 0px;
  background-image: url(../../imgs/common/btn_slick_next.svg);
}

.slick-dots {
  margin: 50px auto 0 auto;
}

.main-course {
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-course .flex-row {
  margin-right: -8px;
  margin-left: -8px;
}

.main-course .flex-col-3 {
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.main-service .service-list-wrap .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 30px;
  border-right: 1px solid #ddd;
  text-align: center;
}

.main-service .service-list-wrap .list:last-child {
  border-right: none;
}

.main-service .service-list-wrap .list .img-wrap {
  margin-bottom: 35px;
}

.main-service .service-list-wrap .list .title {
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
}

@media screen and (min-width: 1270px) {
  .main-service .service-list-wrap .list .title {
    letter-spacing: 0.04em;
  }
}

.main-service .service-list-wrap .list .desc {
  line-height: 1.7;
  font-size: 14px;
  font-weight: 300;
  color: #666;
  word-break: keep-all;
}

.main-service .service-list-wrap .list .btn-more {
  display: inline-block;
  margin-top: 30px;
  padding-right: 24px;
  background-image: url(../../imgs/main/icon_line_arrow.svg);
  background-repeat: no-repeat;
  background-position: center right;
  font-size: 14px;
  font-weight: 300;
}

.main-book .book-list-wrap {
  width: 100%;
  max-width: 1440px;
}

.main-book .book-list-wrap .list {
  padding: 0 10px;
}

.main-book .book-list-wrap .list a {
  outline: none;
}

.main-book .book-list-wrap .list .img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 26vw;
  min-height: 270px;
}

@media screen and (min-width: 1270px) {
  .main-book .book-list-wrap .list .img-wrap {
    height: 365px;
  }
}

.main-book .book-list-wrap .list .img-wrap .img {
  width: 220px;
  vertical-align: middle;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
}

.main-book .book-list-wrap .list .title {
  padding-right: 20px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
}

.main-book .book-list-wrap .list .text {
  margin-top: 12px;
  font-size: 13px;
}

.main-files-wrap .flex-col-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.card-st2-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px 15px;
  transition: all .5s;
}

.card-st2-wrap:hover {
  border: 1px solid #0038a9;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.card-st2-wrap .card-st2-img {
  flex: none;
  width: 110px;
  height: 110px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-st2-wrap .card-st2-img:after {
  display: inline-block;
  content: '';
  width: 100%;
  padding-top: 100%;
}

.card-st2-wrap .card-st2-img.file-overlay {
  position: relative;
}

.card-st2-wrap .card-st2-img.file-overlay:before {
  position: absolute;
  display: inline-block;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../../imgs/main/icon_play_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.card-st2-wrap .card-title-wrap {
  width: 100%;
}

.card-st2-wrap .card-title-wrap .card-category {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 900;
}

.card-st2-wrap .card-title-wrap .card-title {
  display: flex;
  align-items: center;
  height: 45px;
  line-height: 1.33;
  font-size: 15px;
  font-weight: 700;
}

.card-st2-wrap .card-title-wrap .card-subtitle {
  display: inline-block;
  padding-top: 7px;
  font-size: 13px;
  font-weight: 300;
}

.main-process .process-list-wrap .flex-row {
  margin: -12px -15px;
}

.main-process .process-list-wrap .flex-col-4 {
  padding: 12px 15px;
}

.main-todolist .todolist-wrap .card-wrap .card-head .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0;
}

.main-todolist .todolist-wrap .card-wrap .card-body .card-desc {
  height: 55px;
  white-space: normal;
  word-break: keep-all;
}
