.main-visual {
  position: relative;
  padding-bottom: 40px;
  max-height: 700px;
}

.main-visual .visual-wrap {
  padding-top: 20px;
}

.main-visual .visual-wrap .list {
  display: flex;
}

.main-visual .visual-wrap .list .info-wrap {
  display: flex;
  flex: 0 1 auto;
  width: 50%;
  height: 640px;
  padding: 0 50px;
  background-color: #0038a9;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 1270px) {
  .main-visual .visual-wrap .list .info-wrap {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1600px) {
  .main-visual .visual-wrap .list .info-wrap {
    padding: 0 95px;
    width: 46%;
  }
}

.main-visual .visual-wrap .list .info-wrap .sub-title {
  font-size: 16px;
}

.main-visual .visual-wrap .list .info-wrap .title {
  overflow: hidden;
  line-height: 1.57;
  margin-top: -20px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 1270px) {
  .main-visual .visual-wrap .list .info-wrap .title {
    font-size: 35px;
  }
}

@media screen and (min-width: 1600px) {
  .main-visual .visual-wrap .list .info-wrap .title {
    line-height: 1.57;
  }
}

.main-visual .visual-wrap .list .info-wrap .title .font-poppins {
  font-size: 55px;
  font-weight: 600;
}

.main-visual .visual-wrap .list .info-wrap .title .small {
  font-size: 23px;
  font-weight: 400;
}

.main-visual .visual-wrap .list .info-wrap .title .large {
  font-size: 48px;
  font-weight: 900;
}

.main-visual .visual-wrap .list .info-wrap .btn-more {
  border: 2px solid #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.main-visual .visual-wrap .list .img-wrap {
  flex: 0 1 auto;
  width: 54%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #efefef;
}

.main-visual .visual-wrap .slick-dots {
  position: absolute;
  bottom: 90px;
  left: 50px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 1600px) {
  .main-visual .visual-wrap .slick-dots {
    bottom: 100px;
    left: 95px;
  }
}

.main-visual .visual-wrap .slick-dots li {
  border-color: #fff;
}

.main-visual .visual-wrap .slick-dots li.slick-active {
  background-color: #fff;
}

.main-visual .visual-wrap .flex-vertical-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
}

.main-visual .visual-search {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);
}

.main-visual .visual-search .notice-box-wrap {
  height: 80px;
  border-color: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1270px) {
  .main-visual .visual-search .notice-search-btn {
    margin-right: -2px;
  }
}

.main-board-wrap {
  text-align: center;
}

.main-board-wrap.flex-row {
  margin-right: -10px;
  margin-left: -10px;
}

.main-board-wrap .flex-col-3 {
  padding-right: 10px;
  padding-left: 10px;
}

.main-board-wrap .main-board-items {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 30px 15px 35px;
  background-color: #f7f7f7;
}

.main-board-wrap .main-board-items img {
  width: 60px;
}

.main-board-wrap .main-board-items .title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #000;
}

.main-board-wrap .main-board-items .desc {
  width: 100%;
  line-height: 1.42;
  font-size: 14px;
  color: #666;
}
