@charset "UTF-8";

body{
    margin: 0;
}
body.vjs-full-window .player_wrapper{
    position: static;
}
#videojs-panorama-player{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body.vjs-full-window .player_wrapper{
    position: static!important;
}
body.vjs-full-window .player_container{
    padding-top: initial!important;
}
body.vjs-full-window #player{
    position: fixed!important;
}
body.vjs-full-window header{
	display:none;
}
body.vjs-full-window .right {
	display:none;
}
body.vjs-full-window .model-container .main .content-wrapper {
	display:none;
}

body.vjs-full-window .footer {
	display:none;
}
body.vjs-full-window .content {
	padding: 0;
}
body.vjs-full-window .content section {
	padding: 0;
}
body.vjs-full-window .content .container {
	width: 100%;
}
#vod_player{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.progress {
	position: absolute;
	top: 47%;
	font-weight: bold;
	color: #13a8df;
	width: 100%;
	text-align:  center;
}

.vjs-remaining-time.vjs-time-control {
display: none;
}
.vjs-duration.vjs-time-control{
  display: block;
}

.spinner, .c-payment-pending-popup__completed__loading__spinner, .spinner-inverted, .spinner-slow, .spinner-small, .spinner-small-slow, .c-spinner, .c-table__spinner, .c-paymentform__completed__loading__spinner, .c-card-slider.\--loading:after, .c-orders-table__spinner, .grid .spinner, .grid .c-payment-pending-popup__completed__loading__spinner, .infinite-grid .load-previous.loading:before,
.infinite-grid .load-next.loading:before, .user-summary.loading:after, .popup-oauth.loading .popup-content:after,
.popup-autoshare.loading .popup-content:after, .popup-profile-wizard.popup-container .popup .carousel.item-loading:after {
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(/new/spinner.png) no-repeat center center;
  background-size: 32px 32px;
  animation-name: rotateLoading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }