@charset "UTF-8";
.join-step-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 68px;
  padding: 40px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}

.join-step-wrap .join-step {
  font-size: 15px;
  font-weight: 700;
  color: #999;
  letter-spacing: 0.04em;
}

.join-step-wrap .join-step .step-item {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  padding-left: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.join-step-wrap .join-step .step-item:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  width: 32px;
  height: 32px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.join-step-wrap .join-step:first-child .step-item:before {
  background-image: url(../../imgs/join/icon_join_step01.svg);
}

.join-step-wrap .join-step:nth-child(2) .step-item:before {
  background-image: url(../../imgs/join/icon_join_step02.svg);
}

.join-step-wrap .join-step:last-child .step-item:before {
  background-image: url(../../imgs/join/icon_join_step03.svg);
}

.join-step-wrap .join-step.on {
  color: #000;
}

.join-step-wrap .join-step.on:first-child .step-item:before {
  background-image: url(../../imgs/join/icon_join_step01_on.svg);
}

.join-step-wrap .join-step.on:nth-child(2) .step-item:before {
  background-image: url(../../imgs/join/icon_join_step02_on.svg);
}

.join-step-wrap .join-step.on:last-child .step-item:before {
  background-image: url(../../imgs/join/icon_join_step03_on.svg);
}

.join-step-wrap .join-step:after {
  display: inline-block;
  content: '';
  position: absolute;
  top: -11px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: url(../../imgs/common/icon_arrow_right_gray.svg) no-repeat center;
}

.join-step-wrap .join-step:last-child:after {
  content: none;
}

.join-step-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.join-contents-wrap {
  font-size: 14px;
}

.join-contents-wrap .title {
  padding-bottom: 18px;
  font-size: 16px;
}

.join-inner-wrap .aco-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 17px 10px 30px;
  background-color: #f2f2f2;
}

.join-inner-wrap .aco-head .aco-arrow {
  width: 40px;
  height: 40px;
  background-image: url(../../imgs/common/icon_plus_gray.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 39px;
  cursor: pointer;
}

.join-inner-wrap .aco-head .aco-arrow.open {
  background-image: url(../../imgs/common/icon_minus_gray.svg);
}

.join-inner-wrap .aco-content {
  display: none;
  line-height: 1.61;
  padding: 22px 30px;
  border: 1px solid #f2f2f2;
}

.join-inner-wrap .aco-content .text {
  height: 300px;
  padding: 10px 15px;
  border: 1px solid #f2f2f2;
  overflow-y: auto;
}

.join-inner-wrap .aco-content .text .inner-top {
  font-size: 14px;
}

.join-inner-wrap .aco-content .text .inner-desc {
  font-size: 13px;
  font-weight: 300;
}

.join-inner-wrap .aco-content .text .inner-desc b {
  display: block;
  margin-top: 25px;
  font-weight: 900;
}

.join-inner-wrap .aco-content .text .inner-desc li {
  padding-left: 15px;
  margin-bottom: 5px;
}

.join-inner-wrap .aco-content .text .inner-desc li:last-child {
  margin-bottom: 10px;
}

.join-inner-wrap .aco-content .text .inner-desc li.dot {
  position: relative;
  padding-left: 35px;
  font-weight: 700;
}

.join-inner-wrap .aco-content .text .inner-desc li.dot:before {
  display: inline-block;
  content: '▪';
  position: absolute;
  left: 20px;
  top: 0;
}

.join-inner-wrap .aco-content .text .common-table-wrap tr {
  height: 36px;
}

.join-inner-wrap .aco-content .text .common-table-wrap th,
.join-inner-wrap .aco-content .text .common-table-wrap td {
  padding: 5px;
  font-size: 13px;
}

.join-contents-wrap .agree-check {
  margin-top: 20px;
  margin-bottom: 20px;
}

.join-contents-wrap.step02 .title {
  border-bottom: 1px solid #999;
}

.join-form-con {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

.join-form-con .join-form-title {
  width: 280px;
  padding-left: 30px;
  font-size: 14px;
}

.join-form-con .join-form-body {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1 1 0px;
  font-size: 13px;
  color: #222;
}

.join-form-con .join-form-body input[type="text"],
.join-form-con .join-form-body input[type="password"] {
  max-width: 250px;
  margin-right: 10px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.join-form-con .join-form-body .select2 {
  min-width: 250px;
  width: 250px !important;
  margin-right: 10px;
}

.join-form-con .join-form-body .icon-email {
  margin-right: 10px;
}

.join-form-con .join-form-body .join-form-desc {
  font-size: 12px;
  color: #666;
}

.join-form-con .join-form-body.three-boxes input[type="text"] {
  max-width: 150px;
}

.join-form-con .join-form-body.three-boxes .select2 {
  min-width: 150px;
  width: 150px !important;
}

.join-form-con .join-form-body.radio-btn {
  height: 58px;
}

.join-form-con .join-form-body.group-sort-wrap {
  flex-direction: column;
  align-items: flex-start;
}

.join-form-con .join-form-body.group-sort-wrap .group-sort-lables {
  padding: 21px 0 22px;
}

.join-form-con .group-sort-form {
  width: 100%;
  display: none;
}

.join-form-con .group-sort-form.open {
  display: block;
}

.join-form-con .group-sort-form .join-group-inner {
  display: flex;
  align-items: center;
}

.join-form-con .group-sort-form .join-group-inner .group-uni {
  max-width: 510px;
}

.join-complete-wrap {
  text-align: center;
}

.join-complete-wrap .title {
  line-height: 1.5;
  font-size: 24px;
}

.join-complete-wrap .desc {
  line-height: 1.62;
  margin-top: 35px;
  font-size: 16px;
  color: #666;
}
