.textbook-banner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background: url(../../imgs/page/textbook/bg_textbook_banner.jpg) no-repeat center;
  text-align: center;
  font-size: 29px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.textbook-banner-wrap .textbook-banner {
  padding-top: 10px;
  padding-bottom: 18px;
  font-size: 15px;
}

.materials-files-wrap .flex-row {
  margin: -10px -10px !important;
}

.materials-files-wrap .flex-col-6 {
  padding: 10px 10px !important;
}

.card-st2-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px 15px;
  transition: all .5s;
}

.card-st2-wrap:hover {
  border: 1px solid #0038a9;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.card-st2-wrap .card-st2-img {
  flex: none;
  width: 110px;
  height: 110px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-st2-wrap .card-st2-img:after {
  display: inline-block;
  content: '';
  width: 100%;
  padding-top: 100%;
}

.card-st2-wrap .card-st2-img.file-overlay {
  position: relative;
}

.card-st2-wrap .card-st2-img.file-overlay:before {
  position: absolute;
  display: inline-block;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../../imgs/main/icon_play_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.card-st2-wrap .card-title-wrap {
  width: 100%;
}

.card-st2-wrap .card-title-wrap .card-category {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 900;
}

.card-st2-wrap .card-title-wrap .card-title {
  display: flex;
  align-items: center;
  height: 45px;
  line-height: 1.33;
  font-size: 15px;
  font-weight: 700;
}

.card-st2-wrap .card-title-wrap .card-subtitle {
  display: inline-block;
  padding-top: 7px;
  font-size: 13px;
  font-weight: 300;
}
