.educourse-intro-wrap {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.03);
}

.educourse-intro-wrap .educourse-tab-wrap {
  display: flex;
  flex-direction: column;
  width: 212px;
}

.educourse-intro-wrap .educourse-tab-wrap .tab-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  line-height: 1.3;
  padding: 78px 0 17px;
  margin-bottom: 1px;
  background-repeat: no-repeat;
  background-position: center top 17px;
  background-color: #0038a9;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.educourse-intro-wrap .educourse-tab-wrap .tab-lists:first-child {
  background-image: url(../../imgs/page/curriculum/icon_tab_01.png);
}

.educourse-intro-wrap .educourse-tab-wrap .tab-lists:nth-child(2) {
  background-image: url(../../imgs/page/curriculum/icon_tab_02.png);
}

.educourse-intro-wrap .educourse-tab-wrap .tab-lists:nth-child(3) {
  margin-bottom: 0;
  background-image: url(../../imgs/page/curriculum/icon_tab_03.png);
}

.educourse-intro-wrap .educourse-tab-wrap .tab-lists.on {
  background-color: #fff;
  font-weight: 700;
  color: #0038a9;
}

.educourse-intro-wrap .educourse-tab-wrap .tab-lists.on:first-child {
  background-image: url(../../imgs/page/curriculum/icon_tab_01_on.png);
}

.educourse-intro-wrap .educourse-tab-wrap .tab-lists.on:nth-child(2) {
  background-image: url(../../imgs/page/curriculum/icon_tab_02_on.png);
}

.educourse-intro-wrap .educourse-tab-wrap .tab-lists.on:nth-child(3) {
  margin-bottom: 0;
  background-image: url(../../imgs/page/curriculum/icon_tab_03_on.png);
}

.educourse-intro-wrap .educourse-con-wrap {
  flex: 1 1 0px;
  padding: 0 50px;
}

.educourse-intro-wrap .educourse-con-wrap .educourse-con-lists {
  display: none;
}

.educourse-intro-wrap .educourse-con-wrap .educourse-con-lists.on {
  display: block;
}

.educourse-intro-wrap .educourse-con-wrap .educourse-con-lists .num {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #ddd;
}

.educourse-intro-wrap .educourse-con-wrap .educourse-con-lists .num b {
  font-weight: 700;
}

.educourse-intro-wrap .educourse-con-wrap .educourse-con-lists .title {
  line-height: 1.58;
  padding: 21px 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  font-size: 24px;
}

.educourse-intro-wrap .educourse-con-wrap .educourse-con-lists .title b {
  font-weight: 900;
}

.educourse-intro-wrap .educourse-con-wrap .educourse-con-lists .educourse-con-desc .desc-text {
  position: relative;
  line-height: 1.56;
  padding-left: 37px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.educourse-intro-wrap .educourse-con-wrap .educourse-con-lists .educourse-con-desc .desc-text:last-child {
  margin-bottom: 0;
}

.educourse-intro-wrap .educourse-con-wrap .educourse-con-lists .educourse-con-desc .desc-text .desc-num {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #0038a9;
}

.hotCourse {
  max-height: 310px;
}

.curriculum-info-area.flex-row {
  margin: 0 -7.5px;
}

.curriculum-info-area .flex-col,
.curriculum-info-area [class*="flex-col-"] {
  padding: 0 7.5px;
}

.curriculum-info-area .btn-apply {
  height: 100%;
}

.no-content-wrap .title {
  font-weight: 400;
  color: #333;
  margin-top: 0;
}

.no-content-wrap .title ~ .sub-title {
  margin-top: 10px;
}

.no-content-wrap .sub-title {
  color: #333;
}

.no-content-wrap .sub-title b {
  color: #333;
  font-weight: 700;
}
