.assigned-groups-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #f9f9f9;
}

.assigned-groups-content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  pointer-events: none;
}

.assigned-groups-content .common-table-wrap {
  background-color: #fff;
}

.assigned-groups-content .section-arrow {
  position: relative;
  background-color: #fff;
  background-image: url(../../imgs/page/curriculum/icon_arrow_circle_staff.png);
  background-repeat: no-repeat;
  background-size: 34px;
  background-position: 50%;
}

.assigned-groups-content .section-arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  background: #ddd;
}

.assigned-groups-content .section-arrow:after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background: #ddd;
}

.assigned-groups-content .section-group .common-table-wrap {
  cursor: pointer;
}

.assigned-groups-content .section-group .common-table-wrap.active {
  position: relative;
}

.assigned-groups-content .section-group .common-table-wrap.active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #068467;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 1;
}

.assigned-groups-content .selected-items-wrap {
  padding: 10px;
}

.assigned-groups-content .selected-items-wrap .item {
  padding: 10px 13px;
}

.assigned-groups-content .selected-items-wrap .item .btn-remove {
  transform: translateX(9px);
}

.assigned-groups-content .btn-add-list {
  width: 100%;
  height: 61px;
  line-height: 1.47;
  padding: 9px;
  border: 1px solid #ddd;
  font-size: 14px;
  letter-spacing: 0;
  vertical-align: middle;
  background-color: #f1faf8;
}

.assigned-groups-content .colorChange {
  cursor: pointer;
}

.mb-2 {
  margin-bottom: 2px;
}
