.login-wrap {
  width: 370px;
  margin: 0 auto;
}

.login-wrap .login-form {
  margin-top: 52px;
}

.login-wrap .form-input {
  height: 60px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.02em;
}

.login-wrap .form-input:nth-of-type(n+2) {
  margin-top: 10px;
}

.login-wrap .form-input::placeholder {
  color: #bbb;
}

.login-wrap .form-input::-webkit-input-placeholder {
  color: #bbb;
}

.login-wrap .form-input:-ms-input-placeholder {
  color: #bbb;
}

.login-wrap .login-help-wrap {
  display: flex;
  justify-content: space-between;
  line-height: 2.8;
  font-size: 13px;
  color: #666;
}

.login-wrap .login-btn-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.login-wrap .login-btn-wrap .login-btn:nth-child(n+2) {
  margin-top: 10px;
}

.login-wrap .login-btn-wrap .btn-link {
  display: inline-block;
  align-self: flex-end;
  line-height: 1.8;
  padding-right: 22px;
  font-size: 13px;
  color: #000;
  background-image: url(../../imgs/login/icon_external.svg);
  background-repeat: no-repeat;
  background-position: 100% 34%;
  background-size: auto;
  letter-spacing: 0;
}

.login-wrap .login-btn-wrap .btn-link:hover {
  color: #0038a9;
  background-image: url(../../imgs/login/icon_external_blue.svg);
}

.login-wrap .login-notice {
  line-height: 2.8;
  margin-top: 30px;
  font-size: 13px;
  color: #666;
}

.login-find-content {
  margin: 60px 0 70px;
}

.login-find-content .desc {
  text-align: center;
  font-size: 14px;
}
