.main-common-title2 {
  margin-bottom: 40px;
}

.banner-content-wrap {
  width: 100%;
  height: 100%;
  padding: 70px 90px;
  background-image: url(../../imgs/page/foreignlang/bg_01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-content-wrap .inner-area {
  text-align: center;
}

.banner-content-wrap .inner-area .desc {
  line-height: 1.62;
  font-size: 16px;
}

.banner-content-wrap .inner-area .desc:not(:first-of-type) {
  margin-top: 15px;
}

.banner-content-wrap .inner-area .btn-link {
  margin-top: 40px;
}
