.subtop-menu-group {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
}

.subtop-menu-group .subtop-menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.subtop-menu-group .subtop-menu-wrap .subtop-menu-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0px;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  color: #999;
  border: 1px solid #ddd;
  border-right: none;
  text-align: center;
  z-index: 1;
}

.subtop-menu-group .subtop-menu-wrap .subtop-menu-items:last-child {
  border-right: 1px solid #ddd;
}

.subtop-menu-group .subtop-menu-wrap .subtop-menu-items:last-child.on:after {
  width: calc(100% + 2px);
}

.subtop-menu-group .subtop-menu-wrap .subtop-menu-items.on:after {
  display: inline-block;
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 1px);
  height: calc(100% + 2px);
  background-color: #0038a9;
  z-index: -1;
}

.subtop-menu-group .subtop-menu-wrap .subtop-menu-items.on {
  font-weight: 900;
  color: #fff;
}

.subtop-menu-group .subtop-menu-wrap .subtop-menu-items a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.special-common {
  padding-top: 95px;
}

.special-common .page-common-title .title {
  margin-bottom: 60px;
}

.common-column-layout {
  line-height: 1.7;
}

.common-column-layout:not(:last-of-type) {
  margin-bottom: 60px;
}

.common-column-layout .content-main-title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.common-column-layout .content-group:not(:last-of-type) {
  margin-bottom: 30px;
}

.common-column-layout .content-group:nth-child(n+2) .content-title {
  margin-top: 50px;
}

.common-column-layout .content-group:nth-child(n+2) .content-sub-title {
  padding-top: 0;
}

.common-column-layout .content-group .content-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}

.common-column-layout .content-group .content-sub-title {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #0038a9;
  letter-spacing: 0.04em;
}

.common-column-layout .content-group .content-sub-title:not(:last-child) {
  margin-bottom: 16px;
}

.common-column-layout .contnet-desc {
  counter-reset: section;
  font-size: 16px;
}

.common-column-layout .contnet-desc .title {
  position: relative;
  font-weight: 600;
  word-break: keep-all;
}

.common-column-layout .contnet-desc .title:not(:last-child) {
  margin-bottom: 8px;
}

.common-column-layout .contnet-desc .title.icon-num {
  padding-left: 40px;
}

.common-column-layout .contnet-desc .title.icon-num::before {
  counter-increment: section;
  content: "0" counter(section);
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Poppins", sans-serif;
}

.common-column-layout .contnet-desc .desc {
  font-size: 16px;
  font-weight: 300;
  color: #555;
  word-break: keep-all;
}

.common-column-layout .contnet-desc .list {
  position: relative;
  line-height: 1.6;
  padding-left: 53px;
  word-break: keep-all;
}

.common-column-layout .contnet-desc .list:not(:last-child) {
  margin-bottom: 5px;
}

.common-column-layout .contnet-desc .list::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 40px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #555;
  color: #555;
}
