.board-video-search-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-video-search-wrap .title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.board-video-search-wrap .search-input-wrap {
  display: flex;
  align-items: center;
}

.board-video-search-wrap .search-input-wrap .search-input {
  width: 273px;
  height: 45px;
  padding: 0 12px;
  font-size: 13px;
  border: 1px solid #ddd;
}

.board-video-search-wrap .goods-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #0038a9;
  cursor: pointer;
}

.board-video-search-wrap + .search-result {
  margin-top: 20px;
  margin-bottom: 12px;
}

.board-video-search-wrap + .board-video-thumb-wrap {
  margin-top: 50px;
}

.search-result {
  position: relative;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 300;
}

.search-result:before {
  position: absolute;
  left: 0;
  top: 3px;
  display: inline-block;
  content: '';
  width: 8px;
  height: 8px;
  background: url(../../imgs/common/icon_select_arrow_down.svg) no-repeat center left;
  background-size: contain;
  transform: rotate(-90deg);
}

.board-video-thumb-wrap .flex-col-4 {
  margin-bottom: 60px;
}

.board-video-thumb-wrap .board-video-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f7f7f7;
  font-size: 0;
}

.board-video-thumb-wrap .board-video-img:after {
  display: inline-block;
  content: '';
  width: 100%;
  padding-top: 61.02%;
}

.board-video-thumb-wrap .board-video-title {
  margin: 18px 0 20px;
  font-size: 16px;
  font-weight: 900;
}
