.signature-pad-body {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 280px;
  margin: 0 auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}
#signature_pad {
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}