.date-select-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.date-select-wrap .selected-date {
  padding: 0 30px;
  text-align: center;
}

.date-select-wrap .selected-date .title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #0038a9;
}

.date-select-wrap .selected-date .sub-title {
  font-size: 16px;
  font-weight: 300;
}

.date-select-wrap [class*="btn-"] {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.date-select-wrap [class*="btn-"] .icon-arrow {
  flex: 0 0 70px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.date-select-wrap [class*="btn-"] .icon-arrow:after {
  content: none;
}

.date-select-wrap [class*="btn-"] .title {
  flex: 1 1 0px;
  line-height: 1.7;
  font-size: 13px;
}

.date-select-wrap [class*="btn-"] .title .date {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.date-select-wrap [class*="btn-"]:disabled {
  cursor: default;
  opacity: .4;
}

.date-select-wrap .btn-prev .icon-arrow {
  left: 0px;
  background-image: url(../../imgs/common/btn_slick_prev.svg);
  background-position: left center;
}

.date-select-wrap .btn-next .icon-arrow {
  right: 0px;
  background-image: url(../../imgs/common/btn_slick_next.svg);
  background-position: right center;
}

.class-files-wrap .class-files-check {
  display: inline-block;
  min-width: 115px;
  background-color: #f0f0f0;
  padding: 5px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.class-files-wrap .class-files-check b {
  font-weight: 900;
  color: #0038a9;
}

.class-files-wrap .class-files-check ~ .class-files-check {
  margin-left: 5px;
}

.class-tab-wrap {
  font-size: 0;
}

.class-tab-wrap .title {
  font-size: 18px;
  font-weight: 700;
  color: #777;
  letter-spacing: 0.04em;
}

.class-tab-wrap .title:after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 18px;
  margin: 0 13px;
  background-color: #ddd;
  vertical-align: middle;
}

.class-tab-wrap .title:last-child:after {
  content: none;
}

.class-tab-wrap .title.on {
  color: #0038a9;
}

.survey-card-wrap {
  margin-bottom: 20px;
  padding: 36px 30px;
  border-top-width: 2px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #ddd;
  border-top-color: #0038a9;
  border-style: solid;
}

.survey-card-wrap .title {
  position: relative;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 900;
}

.survey-card-wrap .title:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  background: url(../../imgs/common/icon_info_gray.png) no-repeat center;
}

.survey-card-wrap .title ~ .sub-title {
  margin-top: 13px;
}

.survey-card-wrap .sub-title {
  line-height: 1.66;
  font-size: 15px;
  color: #000;
}

.survey-check-wrap {
  border-top: 1px solid #ddd;
}

.survey-check-wrap .survey-check-items {
  padding: 40px 25px;
  border-bottom: 1px solid #ddd;
}

.survey-check-wrap .survey-check-items .title {
  margin-bottom: 25px;
  font-size: 15px;
  letter-spacing: 0.04em;
  color: #000;
}

.survey-check-wrap .survey-check-items .desc {
  line-height: 1.84;
  margin-top: -20px;
  margin-bottom: 25px;
  font-size: 13px;
  color: #666;
}

.survey-check-wrap .survey-check-items textarea {
  height: 130px;
}

.survey-check-wrap .survey-check-items .table-check {
  padding: 0;
  text-align: center;
}

.survey-check-wrap .survey-check-items .table-check .checkbox-circle {
  display: inline-block;
  margin-right: 0;
}

.survey-check-wrap .survey-check-items .table-check .checkbox-circle:after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  height: 100%;
  width: 100%;
  padding: 20px;
}
