.date-select-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.date-select-wrap .selected-date {
  padding: 0 30px;
  text-align: center;
}

.date-select-wrap .selected-date .title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #068467;
}

.date-select-wrap .selected-date .sub-title {
  font-size: 16px;
  font-weight: 300;
}

.date-select-wrap [class*="btn-"] {
  flex: 0 0 auto;
  width: 180px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.date-select-wrap [class*="btn-"] .icon-arrow {
  flex: 0 0 70px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.date-select-wrap [class*="btn-"] .icon-arrow:after {
  content: none;
}

.date-select-wrap [class*="btn-"] .title {
  flex: 1 1 0px;
  line-height: 1.7;
  font-size: 13px;
}

.date-select-wrap [class*="btn-"] .title .date {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.date-select-wrap [class*="btn-"]:disabled {
  cursor: default;
  opacity: .4;
}

.date-select-wrap .btn-prev .icon-arrow {
  left: 0px;
  background-image: url(../../imgs/common/btn_slick_prev.svg);
  background-position: left center;
}

.date-select-wrap .btn-next .icon-arrow {
  right: 0px;
  background-image: url(../../imgs/common/btn_slick_next.svg);
  background-position: right center;
}

.class-files-wrap .class-files-check {
  display: inline-block;
  min-width: 115px;
  background-color: #f0f0f0;
  padding: 5px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.class-files-wrap .class-files-check b {
  font-weight: 900;
  color: #068467;
}

.class-files-wrap .class-files-check ~ .class-files-check {
  margin-left: 5px;
}

.quiz-info {
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #777;
}

.quiz-box-wrap {
  border: 1px solid #ddd;
  padding: 15px 20px;
  margin: 10px 0;
}

.quiz-box-wrap .quiz-flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-box-wrap .quiz-text-wrap {
  padding: 0 15px 0 35px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

.quiz-box-wrap .quiz-text-wrap .date {
  margin-bottom: 20px;
  font-size: 13px;
  color: #068467;
}

.quiz-box-wrap .quiz-text-wrap .title {
  margin-bottom: 15px;
  font-size: 18px;
  color: #000;
}

.quiz-box-wrap .quiz-text-wrap .desc {
  line-height: 1.35;
  font-size: 15px;
  font-weight: 300;
  color: #333;
}

.quiz-box-wrap .quiz-img {
  position: relative;
  flex: none;
  width: 145px;
  min-height: 145px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  font-size: 0;
}

.quiz-box-wrap .quiz-img:after {
  display: inline-block;
  content: '';
  width: 100%;
  padding-top: 100%;
}

.quiz-box-wrap .quiz-img:hover .quiz-edit-wrap {
  opacity: 1;
}

.quiz-box-wrap .quiz-img .quiz-edit-wrap {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: opacity .3s;
}

.quiz-box-wrap .quiz-img .quiz-edit-wrap .btn-quiz-edit {
  width: 90px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  margin-top: -1px;
  font-size: 13px;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
}

.quiz-box-wrap .quiz-btn-wrap > * {
  width: 110px;
  height: 40px;
  line-height: 40px;
  margin-top: -1px;
  font-size: 13px;
  text-align: center;
}

.quiz-box-wrap .quiz-btn-wrap .quiz-start {
  border: 1px solid #068467;
  background-color: #068467;
  color: #fff;
}

.quiz-online-wrap2 {
  display: flex;
  align-items: center;
  padding: 9px 0;
  border: 1px solid #ddd;
  font-size: 0;
}

.quiz-online-wrap2 .quiz-num {
  flex: none;
  width: 55px;
  padding-left: 12px;
  margin: 0 6px;
  font-size: 14px;
}

.quiz-online-wrap2 a {
  flex: none;
  margin: 0 6px;
}

.quiz-write-wrap {
  border: 1px solid #ddd;
  padding: 29px;
  overflow: hidden;
}

.quiz-write-wrap .quiz-text-title {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 8px;
  color: #000;
}

.quiz-write-wrap .quiz-text-title .class-tab-wrap {
  margin-left: 28px;
}

.quiz-write-wrap .desc-sm {
  margin-top: 18px !important;
  color: #666;
}

.quiz-write-wrap .class-textarea {
  width: 100%;
  height: 90px;
  padding: 13px;
  margin-bottom: 18px;
  resize: vertical;
}

.quiz-write-wrap .class-tab-wrap {
  font-size: 0;
}

.quiz-write-wrap .class-tab-wrap .title {
  font-size: 14px;
  font-weight: 700;
  color: #999;
  cursor: pointer;
}

.quiz-write-wrap .class-tab-wrap .title:after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 13px;
  margin: 0 13px;
  background-color: #ddd;
  vertical-align: middle;
}

.quiz-write-wrap .class-tab-wrap .title:last-child:after {
  content: none;
}

.quiz-write-wrap .class-tab-wrap .title.on {
  color: #068467;
}

.dd-content {
  justify-content: space-between;
}

.dd-content .quiz-save-text {
  position: relative;
  flex: 1 1 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.dd-content .quiz-save-text .quiz-save-num {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dd-content .quiz-flex-wrap {
  display: flex;
  align-items: center;
}

.dd-content .quiz-save-answer {
  margin-right: 10px;
  padding: 5px 30px;
  background-color: #f2f2f2;
  font-weight: 700;
  color: #068467;
  text-align: center;
}
