@charset "utf-8";
html{height:100%;}
body {position:relative;font-size:12px;font-family:"돋움";color:#666666;margin:0; padding:0;width:100%;height:100%;}		
h1,h2,h3,h4,h5,h6,ol,ul,li,form,fieldset,input,textarea,p,th,td,dt,dd,dl {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size:12px;}
li {list-style:none;}
img,fieldset {border:0;vertical-align:top;}
em {font-style:normal;}
input.radio {width:13px; height:13px; vertical-align:middle;}
a {text-decoration:none; color:#666666;}
a:hover {color:#666666;}
address,em,i {font-style:normal;}
.hdn, legend,table caption{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0;}
table caption{font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0;}

/* content style  */
.allclear{overflow:hidden;width:100%;}
.cR {clear:both;}
.fL {float:left;}
.fR {float:right;}
.alC {text-align:center;}
.alL {text-align:left;}
.alR {text-align:right;}
.vMid{vertical-align:middle;}
.btn_c{text-align:center;margin:15px 0;}
.btn_l{text-align:left;margin:15px 0;}
.btn_r{text-align:right;margin:15px 0;}
.red{color:red;}
.blue{color:#1c73a2;}
.green{color:green;}
.orange{color:#ff7200;}
.black{color:black;}
.ft11{font-size:11px;}
.line{text-decoration:underline;}
.bold{font-weight:bold}
.inp{line-height:18px;height:18px;border:1px solid #c9c9c9;}

/*  etc layout*/
#etc_wrap{min-width:1000px;min-height:100%;background:#f7f7f7 url('../images/search/bg_etc_x.gif') 0 0 repeat-x}
#etc_header{background:url('../images/search/bg_header.gif') center 0 no-repeat;height:122px}
#etc_header .etc_header{overflow:hidden;width:1000px;height:123px;margin:0 auto;}
#etc_header h1{float:left;padding:10px 0 0 20px}
#etc_header h2.top_txt{float:left;padding:20px 0 0 20px}
#etc_header .gnb{float:right;margin-right:25px;line-height:70px;vertical-align:middle;}
#etc_header .gnb a, .gnb span{font-size:11px;color:#979797;margin:0 3px;}

#etc_header .search_box{clear:both;padding:11px 0 19px;height:20px;text-align:center;}
#etc_header .search_box input{vertical-align:middle;}
#etc_header .search_box select{vertical-align:middle;height:20px;font-size:11px;}
#etc_header .search_box .inp{width:315px;height:18px;line-height:18px;padding-left:4px;border:1px solid #ddd8ce;}
#etc_header .search_box .btn_search{padding-top:2px;}

.etc_bottom{height:40px;background:#f7f7f7 url('../images/search/bg_bottom.gif') center bottom no-repeat;text-align:center;}

/* search */
#etc_content{background: url('../images/search/bg_y.gif') center 0 repeat-y;}
#etc_content .etc_content{position:relative;width:950px;margin:0 auto;padding:20px 25px;}
#etc_content .etc_content .search_word{height:34px;margin-bottom:50px;line-height:34px;vertical-align:middle;background:#f9f9f9;border:1px solid #d5d5d5;text-align:center;}
#etc_content .etc_content .search_word .sword{padding-left:15px;color:#000;background:url('../images/search/bg_arrow.gif') 0 4px no-repeat;}
#etc_content .result_box{padding:0px 15px 70px}
#etc_content .icon1{padding:3px 0 3px 20px;color:#000;background:url('../images/search/bg_arrow01.gif') 0 center no-repeat;}
#etc_content .result1{margin-bottom:20px;border-bottom:1px solid #d5d5d5;}
#etc_content .result1 li{padding: 15px 0 15px 20px;;background:url('../images/search/bg_arrow02.gif') 9px 22px no-repeat;}
#etc_content .result1 li strong.tit{color:#3095ce;text-decoration:underline;}
#etc_content .result1 li span{padding-left:15px;color:#c1c1c1;}
#etc_content .result1 li p{margin:5px 0 0}
#etc_content .result2{padding:20px 0 0;margin-bottom:20px;border-bottom:1px solid #d5d5d5;}
#etc_content .result2 ul{overflow:hidden;width:100%;}
#etc_content .result2 li{float:left;margin:0 17px 15px 0;}
#etc_content .result2 li a{display:block;border:1px solid #e0e0e0;}
#etc_content .result2 li span{display:block;color:#848484;padding:5px 0;}
#etc_content .smore{padding:15px 0;text-align:right;}
#etc_content .smore a{display:inline-block;padding-left:10px;font-weight:bold;font-size:11px;color:#3095ce;text-decoration:underline;background:url('../images/search/bg_arrow.gif') 0 5px no-repeat;}
#etc_content .empty{text-align:center;padding:15px 0;}
#paging2{padding:15px 0;text-align:center;}
#paging2 a{padding:0 3px;}
#paging2 strong{padding:0 3px;color:#2a6fb6;line-height:14px; text-decoration:underline;}



