@charset "UTF-8";
.board-view-wrap .board-title-wrap {
  padding: 30px 0;
  border-top: 2px solid #0038a9;
  border-bottom: 1px solid #ddd;
}

.board-view-wrap .board-title-wrap .main-common-title3 {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.board-view-wrap .board-title-wrap .main-common-title3 .sub-title {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #0038a9;
  letter-spacing: 0.04em;
}

.board-view-wrap .board-title-wrap .board-info-wrap {
  margin: 0 -12px;
}

.board-view-wrap .board-title-wrap .board-info-wrap .item {
  display: inline-flex;
  align-self: center;
  justify-self: flex-end;
  line-height: 1.5;
  margin: 0 12px;
  font-size: 14px;
  color: #7a797d;
}

.board-view-wrap .board-title-wrap .board-info-wrap .item .title {
  color: #000;
  margin-right: 8px;
}

.board-view-wrap .board-content-wrap .board-editor-content {
  padding: 40px 0;
}

.froala_editor.froala-read-only {
  line-height: 1.8;
  padding: 0;
  font-size: 14px;
  word-break: break-all;
}

.board-comment-wrap {
  margin-top: 40px;
}

.board-comment-wrap .comment-total {
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 700;
}

.board-comment-wrap .comment-list-wrap {
  border-top: 1px solid #ddd;
}

.board-comment-wrap .comment-area {
  padding: 25px 20px;
  border-bottom: 1px solid #ddd;
}

.board-comment-wrap .comment-area .comment-info {
  margin-bottom: 15px;
  font-size: 0;
}

.board-comment-wrap .comment-area .comment-info .name {
  font-size: 14px;
}

.board-comment-wrap .comment-area .comment-info .date {
  margin-left: 10px;
  font-size: 13px;
  color: #999;
}

.subject-view-wrap {
  border: 1px solid #ddd;
  padding: 29px;
  overflow: hidden;
}

.subject-view-wrap .subject-title-wrap {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
}

.subject-view-wrap .subject-title-wrap .subject-title {
  padding-bottom: 15px;
  font-size: 18px;
  color: #000;
  font-weight: 700;
  letter-spacing: 0;
}

.subject-view-wrap .subject-title-wrap .board-info-wrap {
  margin: 0 -12px;
}

.subject-view-wrap .subject-title-wrap .board-info-wrap .item {
  display: inline-flex;
  line-height: 1.5;
  align-items: center;
  margin: 0 12px;
  font-size: 14px;
}

.subject-view-wrap .subject-title-wrap .board-info-wrap .item .title {
  color: #000;
  margin-right: 8px;
}

.subject-view-wrap .subject-title-wrap .board-info-wrap .item .desc {
  color: #7a797d;
}

.subject-view-wrap .subject-title-wrap .board-info-modify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subject-view-wrap .subject-title-wrap .board-info-modify .modify-text {
  display: inline-flex;
  font-size: 14px;
  color: #000;
}

.subject-view-wrap .subject-title-wrap .board-info-modify .modify-text > * {
  position: relative;
  padding-left: 20px;
}

.subject-view-wrap .subject-title-wrap .board-info-modify .modify-text > *:after {
  position: absolute;
  left: 10px;
  top: 1px;
  display: inline-block;
  content: '';
  width: 1px;
  height: 13px;
  background-color: #ddd;
}

.subject-view-wrap .subject-title-wrap .board-info-modify .modify-text > *:first-child:after {
  display: none;
}

.subject-view-wrap .subject-title-wrap ~ .subject-content-wrap .board-editor-content {
  padding-top: 30px;
}

.subject-view-wrap .subject-content-wrap .board-editor-content {
  padding-bottom: 30px;
}

.subject-view-wrap .file-attachment-wrap {
  margin-bottom: 0;
}

.subjectViewContain {
  position: relative;
  margin-bottom: 84px;
}

.subjectViewContain .subject-view-wrap {
  height: 114px;
}

.subjectViewContain .subjectToggle {
  position: absolute;
  left: 50%;
  bottom: -44px;
  transform: translateX(-80px);
  width: 160px;
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.subjectViewContain .subjectToggle .text {
  position: relative;
  padding-right: 16px;
}

.subjectViewContain .subjectToggle .text:after {
  display: inline-block;
  content: '';
  position: absolute;
  right: 0;
  top: 4px;
  width: 10px;
  height: 8px;
  background-image: url(../../imgs/common/icon_select_arrow_down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(180deg);
}

.subjectViewContain .subjectToggle.on .text:after {
  transform: rotate(0);
}

.subject-badge {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: #0038a9;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

.subject-badge + .subject-title {
  margin-top: 17px;
}

.box-wrap {
  font-size: 12px;
  border: 1px solid #ddd;
  padding: 28px 29px 30px;
}

.box-wrap .title-subhead {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 900;
  color: #0038a9;
}

.box-wrap input {
  height: 44px;
  font-size: 13px;
  padding: 0 13px;
}

.froala_editor {
  border: 1px solid #ddd;
  border-top: 1px solid #999;
}

.froala_editor.froala-read-only {
  border: none;
}

.froala_editor .fr-view[contenteditable="true"] {
  font-family:  "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif ;
}

.froala_editor .fr-view em {
  font-style: italic;
}

.froala_editor .fr-view ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 40px;
}

.froala_editor .fr-view ol li {
  padding-bottom: 3px;
}

.froala_editor .fr-view ul {
  display: block;
  list-style-image: url(../../imgs/common/icon_disc_black.png);
  margin-block-start: 1em;
  margin-top: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 40px;
}

.froala_editor .fr-view ul li {
  position: relative;
  padding-bottom: 3px;
}

.froala_editor .fr-toolbar {
  border-top: none;
  box-shadow: none;
}

.froala_editor .fr-toolbar.fr-top {
  padding: 0;
  border-radius: 0;
}

.froala_editor .fr-toolbar.fr-sticky-on {
  margin: 0 -1px;
}

.froala_editor.fr-box.fr-basic .fr-wrapper {
  box-shadow: none;
}

.froala_editor.fr-box.fr-basic .fr-wrapper .fr-element {
  min-height: 370px !important;
}

.froala_editor.froala-read-only.froala-padding-0 {
  padding: 0;
}

.froala_editor.froala-read-only.fr-box.fr-basic .fr-element {
  padding: 0;
}

.froala_editor.froala-read-only.fr-box.fr-basic .fr-wrapper .fr-element {
  min-height: 120px !important;
}

.froala_editor.froala-read-only .fr-counter {
  display: none;
}

.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
  width: 3vw !important;
  max-width: 38px !important;
  min-width: 27px !important;
}

.file-attachment-wrap {
  margin-bottom: 20px;
}

.file-attachment-wrap .file-attachment-view,
.file-attachment-wrap .file-attachment-write {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
  color: #000;
}

.file-attachment-wrap .file-attachment-view::after,
.file-attachment-wrap .file-attachment-write::after {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 2px);
  height: 2px;
  background-color: #0038a9;
}

.file-attachment-wrap .inner-area {
  margin: -5px -15px;
}

.file-attachment-wrap .attachment {
  position: relative;
  display: inline-block;
  min-height: 18px;
  margin: 5px 15px;
  font-size: 13px;
  vertical-align: middle;
  word-break: break-all;
}

.file-attachment-wrap .attachment .text {
  display: inline-block;
  padding-top: 2px;
  padding-left: 22px;
  word-break: break-all;
  color: #7a797d;
}

.file-attachment-wrap .attachment.icon-file {
  background: url(../../imgs/common/icon_file_document.png) no-repeat left/contain;
}

.file-attachment-wrap .attachment.icon-img {
  background: url(../../imgs/common/icon_file_img.png) no-repeat left/contain;
}

.file-attachment-wrap .attachment.icon-img .text {
  padding-left: 24px;
}

.file-attachment-wrap .attachment .file-remove {
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #b6bcc1;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  vertical-align: middle;
}

.file-attachment-wrap .file-attachment-write .title {
  display: inline-block;
  width: calc(100% - 170px);
  line-height: 41px;
  margin-bottom: 13px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  font-weight: 700;
  color: #555;
}

.file-attachment-wrap .file-attachment-write .title span {
  font-size: 12px;
}

.file-attachment-wrap .file-attachment-write .attachment .text {
  padding-right: 22px;
}
