/* 나눔스퀘어 */
@font-face {
    font-family: 'NANUMSQUARE-300';
    src: url('NanumSquare/NANUMSQUAREL.woff') format('woff'),
    url('NanumSquare/NANUMSQUAREL.ttf') format('truetype');
    font-display: fallback;
}
@font-face {
    font-family: 'NANUMSQUARE-400';
    src: url('NanumSquare/NANUMSQUARER.woff') format('woff'),
    url('NanumSquare/NANUMSQUARER.ttf') format('truetype');
    font-display: fallback;
}
@font-face {
    font-family: 'NANUMSQUARE-700';
    src: url('NanumSquare/NANUMSQUAREB.woff') format('woff'),
    url('NanumSquare/NANUMSQUAREB.ttf') format('truetype');
    font-display: fallback;
}
@font-face {
    font-family: 'NANUMSQUARE-900';
    src: url('NanumSquare/NANUMSQUAREEB.woff') format('woff'),
    url('NanumSquare/NANUMSQUAREEB.ttf') format('truetype');
    font-display: fallback;
}

@font-face {font-family: 'NanumGothicWeb';src: url('NanumGothic/_FONT_NanumGothic.eot');src: url('NanumGothic/_FONT_NanumGothic.eot?#iefix') format('embedded-opentype'),url('NanumGothic/_FONT_NanumGothic.woff') format('woff'),url('NanumGothic/_FONT_NanumGothic.ttf') format('truetype');font-weight:normal;font-style:normal; }
@font-face {font-family: 'NanumGothicWeb';src: url('NanumGothic/_FONT_NanumGothicBold.eot');src: url('NanumGothic/_FONT_NanumGothicBold.eot?#iefix') format('embedded-opentype'),url('NanumGothic/_FONT_NanumGothicBold.woff') format('woff'),url('NanumGothic/_FONT_NanumGothicBold.ttf') format('truetype');font-weight:500;font-style:normal; }
