/* 나눔스퀘어 */
@font-face {
    font-family: 'NANUMSQUARE-300';
    src: url('NanumSquare/NANUMSQUAREL.woff') format('woff'),
    url('NanumSquare/NANUMSQUAREL.ttf') format('truetype');
    font-display: fallback;
}
@font-face {
    font-family: 'NANUMSQUARE-400';
    src: url('NanumSquare/NANUMSQUARER.woff') format('woff'),
    url('NanumSquare/NANUMSQUARER.ttf') format('truetype');
    font-display: fallback;
}
@font-face {
    font-family: 'NANUMSQUARE-700';
    src: url('NanumSquare/NANUMSQUAREB.woff') format('woff'),
    url('NanumSquare/NANUMSQUAREB.ttf') format('truetype');
    font-display: fallback;
}
@font-face {
    font-family: 'NANUMSQUARE-900';
    src: url('NanumSquare/NANUMSQUAREEB.woff') format('woff'),
    url('NanumSquare/NANUMSQUAREEB.ttf') format('truetype');
    font-display: fallback;
}


